[2015-11-30 22:05] roykho opened #1 "Settings check in and out time"
So currently the time format is a bit confusing because it has a leading zero which to me sounds like it wants a 24hour time format however I am able to enter 03:00 PM which just looks wrong as 03 should be 3 AM in the morning.

![](http://cld.wthms.co/hfCl/3MVWaRn9+)

[2015-11-30 22:11] roykho opened #2 "Pricing"
So for UX, perhaps it would help to clarify what the price is for.  Such as adding a $100 / per night etc next to the price.

![](http://cld.wthms.co/AeOf/23lxeaX9+)

[2015-11-30 22:13] roykho opened #3 "Show check in and out dates on cart/checkout"
For UX, I think we should include the check in and out date for clarity on the cart/checkout pages.

![](http://cld.wthms.co/1lUtL/46CJGmy0+)

[2015-11-30 22:19] roykho opened #4 "Booked dates showing partial bookings"
I am not sure I understand why booked dates show partially booked?  To me that may be confusing.  Either that room is booked or it isn't for that date.  There shouldn't be any partials.

![](http://cld.wthms.co/WLFQ/4YDwfIAh+)

[2015-12-03 14:34] #1 closed, assigned to nobody

[2015-12-03 14:40] emdashcodes opened #5 "Disable Shipping / Make Accommodations Virtual"
Shipping options show on the front end for accommodations. We should make sure accommodations are virtual / cannot be shipped so those options can be hidden.

[2015-12-14 13:35] #5 closed, assigned to emdashcodes

[2015-12-14 15:07] #4 closed, assigned to emdashcodes

[2015-12-14 15:13] #2 closed, assigned to emdashcodes

[2015-12-14 22:08] #3 closed, assigned to emdashcodes

[2015-12-17 19:54] emdashcodes opened #6 "Show prices for each night on the check-in form."
Show prices for each night on the check-in form so users know what each rate is before booking.

[2015-12-17 21:14] #6 closed, assigned to emdashcodes

[2016-01-06 22:28] roykho opened #9 "Fatal error when plugin is deactivated"
So if you have accommodation bookings listed and then you go and deactivate the accommodations plugin and go back to the list, you will see a fatal error.

Also, I encountered a "permissions error" when I try to delete the accommodation bookings from the trash using "empty trash".  Although I think it does empty it after you see the "permissions error".

[2016-01-18 13:45] justinshreve commented on #9
Closing in favor of https://github.com/woothemes/woocommerce-bookings/issues/592 which fixes this on the bookings side.

[2016-01-18 13:45] #9 closed

[2016-01-27 17:48] ajgw opened #11 "Wrong end date when using international day formats"
In Basket Accommodation shows ever the wrong enddate which base is January 1st 1970. It adds the bookings night to 1st and show in case of 4 nights duration January 5th 1970 as enddate. This is on site with german language and german date format: j. F Y

WC 2.5.1, Bookings 1.9.4, Accommodations 1.0.2 downloaded as master from github.

[2016-01-27 18:18] ajgw commented on #11
I checked this on a different site were language is set to english in Wordpress and it works with all plugins I need – no bug on enddate.
Checked on a third site were language is set to german in Wordpress set and I have the wrong enddate in 1970th.

[2016-01-27 18:31] ajgw commented on #11
Checked again on german site: set in Wordpress Settings dateformat to m/d/Y I get this:
Check-in: 01/27/2016 at 16:00
Check-out: 01/31/2016 at 10:00

If I set dateformat either which language I selected in Wordpress Settings to j. F Y I get this:
Check-in: 27. Januar 2016 at 16:00
Check-out: 5. Januar 1970 at 10:00

Dateformat Y-m-d works too, but all other dateformat settings shows wrong enddate

[2016-01-27 18:52] solaceten opened #12 "couple of improvements"
Thanks for releasing this much needed addon.

1) On the booking page it says "Booking Date: *****

This currently seems to show the start date of the booking.  Is that intentional, or should it be "Today"  as in the date the booking is being made?

2) Also, there does not seem to be an easy way to add a discount or supplement for e.g. a one night stay.

I imagine this could be as simple as adding

[2016-01-27 21:26] mikeyarce commented on #11
I was able to reproduce the issue on my site.  Steps to reproduce:
1. Change the Date Format in Settings > General to `j, F Y`
2. Make sure you specify Check-in/Check-out times in WooCommerce > Settings > Products > Accommodations
3. Add an Accommodation to your Cart
Result:
![screen shot 2016-01-27 at 1 24 39 pm](https://cloud.githubusercontent.com/assets/3220162/12628715/58d35e48-c4f9-11e5-88a4-

[2016-01-27 22:04] ajgw commented on #11
Not only in cart but in emails too.

[2016-01-28 00:01] solaceten commented on #11
I had this issue.  In the end I deleted woocommerce, woocommerce-booking and the accommodation addon plugin - then re-installed them all and the problem was gone.

[2016-01-28 09:04] ajgw commented on #11
In my case it was a fresh set up with WC 2.5, Bookings 1.9.3 and Accommodations 1.0.1

[2016-01-29 09:02] ajgw opened #15 "No manual booking if product type is Accommodations"
I have only one product on client site: a room for rent, set up as Accommodation Booking. If I like to place a booking in backend as manual, I have to select the booking product. But because I have one product but only Accommodation, there is anything to select. Is doesn't show me the Accommodation as bookable product.

[2016-01-29 23:23] solaceten commented on #15
I was able to reproduce this issue also.

When the product is an "Accommodation" product, in Admin > Bookings > Create Booking the products do not show in the dropdown.

[2016-02-03 13:39] TomasHurtz commented on #15
I also have the very same problem.  Any idea when a release to the updated code will be made?  I see v 1.02 is in the works.

I foolishly installed this without testing and my client is going nuts because there is no manual booking.

[2016-02-03 13:42] TomasHurtz commented on #12
@solaceten The possibility a discount after x days as well we need. I tried the above fix but this not work for me if pricing rules are on place in product, but worked if no rules.

[2016-02-03 13:48] TomasHurtz opened #17 "Option to add more than one calendar"
Can we make request here? I would like calendar pop up to span two month on the front end and if possible also to have separate calendar for check in and check out, not one for the both - something like this image: http://www.formisimo.com/blog/wp-content/uploads/2015/06/Bookingcom-date-picker.png

From this site all about booking forms. http://tinyurl.com/jar9rz7

[2016-02-04 09:27] ajgw commented on #17
Well I saw this too. There I miss a label or info to customer that after clicking on date for check in, that afterthen the check out date has to be checked. Put a label on top of calendar which tells customer what kind of date is to be checked. In this case it will be more responsive to customer. Thanks.

[2016-02-09 12:49] solaceten commented on #15
Any further development on this please?

[2016-02-09 14:57] gedex commented on #15
Yes we're trying to release this under `1.0.2`, next release.

[2016-02-10 11:22] #11 closed

[2016-02-10 13:01] gedex opened #18 "Incorrect end date time in order info"
PR #14 fixes the checkout date in cart page, but still incorrect in order confirmation.

We'll be using [`DateTime::createFromFormat`](http://php.net/manual/en/datetime.createfromformat.php), which means we'll bump required version of PHP to >= 5.3.

[2016-02-10 13:05] gedex commented on #11
Another fix for this in #19.

[2016-02-10 13:14] gedex opened #20 "Notify user if dependencies are not met"
Currently it doesn't display anything if Booking is not active and it informs the user the plugin is successfully activated.

[2016-02-10 13:16] gedex opened #21 "Added PHP 5.3 as dependency"
In #19 we added `DateTime::createFromFormat` that's available in >= PHP 5.3.

[2016-02-11 17:39] #18 closed

[2016-02-12 07:13] gedex opened #23 "In edit booking, accommodation product is not selected in product field"
![screenshot](https://cldup.com/J5QHznVpUZ.png)

[2016-02-12 07:13] gedex commented on #23
Might be related to #15

[2016-02-12 10:03] #23 closed

[2016-02-12 10:04] gedex commented on #15
Fixed in #24.

[2016-02-12 10:04] #15 closed

[2016-02-12 10:59] ajgw opened #25 "Fatal Error on submit booking request in admin bookings"
Latest version of extension 1.0.2 from this morning:

I had a booking request with order. In bookings list in admin I saw the eye symbol and and a checkmark symbol for this booking inline. After clicking on checkmark symbol making this booking a true booking, I got a fatal error. Instead of sending a email to customer, I saw the output on screen with this error message in email body:

Product	Quan

[2016-02-12 11:38] gedex commented on #25
@ajgw 1.0.2 is not released yet. Are you checking out from `master` branch?

[2016-02-12 11:39] ajgw commented on #25
Yes.

Creating a manual booking worked fine for me – you are on your way. Thanks.

[2016-02-12 12:26] gedex commented on #25
Interesting. What's the start date and end date for this accommodation-booking, @ajgw ? Also the date format you use in your site.

From your fatal error, following code:

[code]

returns `false`.

[2016-02-12 12:30] ajgw commented on #25
Well date format is j. F Y. Start date is 10. September 2016, 16:00 Uhr and end date is 17. September 2016, 10:00 Uhr or in english date format 09-10-2016 til 09-17-2016.

[2016-02-12 12:49] gedex commented on #25
Using inputs provided from you:

[code]

it returns `DateTime` object as expected:

[code]

Could you give me the screenshot of order items in edit order? Something like:

![screenshot](https://cldup.com/Z88n39Qvrx.png)

[2016-02-12 12:52] ajgw commented on #25
![bildschirmfoto 2016-02-12 um 13 51 37](https://cloud.githubusercontent.com/assets/3390880/13007318/c90d3e5c-d18f-11e5-8e6a-b0bc4d26eeb6.png)

[2016-02-12 12:55] ajgw commented on #25
Beside: you see at line duration the word nights after number? This string is not translatable in pot or .po file – didn't found string. Is it coming from Javascript?

[2016-02-12 13:00] gedex commented on #25
@ajgw Nope, not from JS. It's duration unit from product type. But I agree with you it should be translatable. Will log that into another issue.

[2016-02-12 13:01] ajgw commented on #25
This is a screenshot from output I got after clicked on Icon:

![bildschirmfoto 2016-02-12 um 11 51 28](https://cloud.githubusercontent.com/assets/3390880/13007507/1ab603fa-d191-11e5-9af9-801c8dba2368.png)

[2016-02-12 13:35] solaceten opened #26 "Unable to re-order rate rules"
When a Product is an Accommodation type I am unable to re-order the rate rules.

Edit Product > Product Data > Rates > Click the rate to move - unable to drag it to move it.

![edit product prioritise rates - ajax failure](https://cloud.githubusercontent.com/assets/2679075/13008297/cf8e88e8-d195-11e5-8558-d5b01631231c.png)

[2016-02-12 13:41] solaceten commented on #25
I was also able to recreate this bug with 1.2

`Check-in at 3:00 pm
Check-out
Fatal error: Call to a member function add() on a non-object in /home/[removed]/public_html/_TEST/wp-content/plugins/woocommerce-accommodation-bookings-master/includes/class-wc-accommodation-booking-order-info.php on line 64`

[2016-02-12 13:44] #20 closed

[2016-02-12 13:44] #21 closed

[2016-02-12 14:20] gedex commented on #25
Ok. I looked again at the original message:

So, this is accommodation booking product which requires confirmation. I tried to reproduce this:

* As logged-in customer, I requested the booking.
* I checked the booking in booking list, it has "Pending Confirmation" status, as shown below:

  ![screenshot-1](https://cldup.com/v2UqxP17R0.png)

* I confirmed the booking by clicking the checkmark butto

[2016-02-12 14:25] #25 closed

[2016-02-12 14:27] gedex commented on #25
@ajgw @solaceten Please pull and test.

[2016-02-12 14:44] solaceten commented on #25
Confirm this appears to fix it - thanks

[2016-02-12 14:47] ajgw commented on #25
Fine, you are the best. It works, I got the email with all details.

But wait: I set my previously confirmed booking back to "not confirmed" and saved booking. Got a fatal error:

Warning: in_array() expects parameter 2 to be array, null given in /wp-content/plugins/woocommerce-bookings/includes/admin/class-wc-bookings-details-meta-box.php on line 449

Warning: Cannot modify header information - h

[2016-02-12 14:55] solaceten commented on #12
Issue one is resolved - thank you :-)

Any chance in 1.02 to get a look at adding the ability to add or subtract fees based on number of nights?  In my case I need a single night supplement - I was not able to do it correctly.

An additional field in the "Rates Rules" table would be awesome.

[2016-02-12 15:01] solaceten commented on #25
I was not able to re-produce this error!  Made a new booking, changed status, updated - all status changes worked fine.

[2016-02-12 15:07] ajgw commented on #25
It is maybe related to translation?

[2016-02-12 15:08] solaceten commented on #18
Whilst this appears to be fixed in the customer UI, admin and emails, I am also seeing a section in the booking edit screen that does not show the check in / out times:

![edit booking missing time 2016-02-12 16-04-15](https://cloud.githubusercontent.com/assets/2679075/13010598/d57c8608-d1a2-11e5-8e0b-279b96dc1ad6.png)

[2016-02-12 16:12] gedex commented on #25
This error:

[code]

comes from Bookings. @ajgw I just logged the issue in Bookings repo, will be fixed in Bookings 1.9.6. And yes, it's the same issues -- translation string when checking 'Booking ID' in order item meta.

[2016-02-12 16:39] gedex commented on #18
@solaceten Good point. I was aware with that too. Probably will hide those fields and just display static text of time (both for check-in time and check-out time).

[2016-02-14 06:19] gedex commented on #12
By booing page, I assumes this view order page with accommodation-booking product. Good catch, I believe booking date should be the date when an order is created. Will change that.

This would be enhancement, but not for 1.0.2.

[2016-02-14 08:55] gedex opened #28 "Remove text "Booking Date" to remove ambiguity"
Originally reported by @solaceten in #12

[2016-02-14 08:57] gedex opened #29 "Allow formula in rates"
Originally reported by @solaceten in #12

[2016-02-14 09:00] gedex commented on #12
@solaceten I separate your improvements into two separate issues in #28 and #29. This would help us to close related issue with one PR. Closing this.

[2016-02-14 09:00] #12 closed

[2016-02-14 10:15] solaceten commented on #12
Hi @gedex - thanks for the update.

I understand about separating the issues and to work on #29 later - is there any chance you can help with improving my temporary hack - so that it can be used in the meantime?  Or - is there a hook I could use?

My code [copied below] does work, but not when there are other additional rules (such as certain rates for a range of months).

            // Around Li

[2016-02-14 11:04] solaceten commented on #12
OK I got the following to work - i know it's a dirty hack that the developers may strongly disapprove of, but it works for now - feel free to suggest improvements.

[code]

[2016-02-14 11:23] solaceten commented on #29
OK I got the following to work - hope this helps anyone else that needs something similar.

I know it's a _dirty hack_ that the developers may / will probably strongly disapprove of, but it works for me as a temporary solution - feel free to suggest improvements.  Disclaimer: this will be overwritten when you update bookings.  Use at your own risk!

added to bottom of file  woocommerce-bookings/in

[2016-02-14 12:24] solaceten opened #30 "Launch calendar / date picker when clicking in From / To fields"
Suggestion:

On the front end product booking page, you can select not to show the calendar unless it's clicked on - but there are also the Date From / TO fields.

In my opinion, clicking in these fields should launch the calendar / date picker as illustrated in the attached screenshot - though it should also be possible for the user to write dates in these fields also.

![calendar date picker](ht

[2016-02-15 09:34] gedex opened #31 "Plugin banners"

[2016-02-16 17:03] solaceten opened #32 "Range of Months don't appear to span year end"
In the Rate Rules, for example adding a rule: October - April encountered an error that the Rate Rule doesn't appear to calculate correctly after the year end - instead I had to make two rate rules October - December and then January - April.  Can you duplicate this on your side?
See attached

![rate-rule-issue](https://cloud.githubusercontent.com/assets/2679075/13083964/96daa69a-d4d7-11e5-9a25-32

[2016-02-16 17:15] solaceten opened #33 "Feature Request: allow flexible minimum number of nights"
Minimum number of nights allowed in a booking is currently fixed to one field (e.g. 1 night)

It would be great if it could be possible to be able to add Minimum number of nights according to dates - e.g. December 20th - January 10th:  minimum number of nights = 2

[2016-02-17 20:34] WillBrubaker opened #34 "compatibility with Product Add-ons"
Any product add-on will double its own cost once added to the cart.

screenshots:
Addon Configuretion: http://cld.wthms.co/Nguy/KFI1DFKa
Price calculation on the product page, with addon selected: http://cld.wthms.co/SbWa/3bhgAEVO
Price after added to cart: http://cld.wthms.co/18cmH/2WXNYO6B

Ticket here: 386324-zd-woothemes

@gedex

[2016-02-22 08:39] SiR-DanieL opened #35 "Hide shipping tab"
It does not make sense to have the Shipping tab in Product data for this kind of product.

I think they are supposed to always be virtual, right?

[2016-02-22 09:10] gedex commented on #35
Unable to reproduce when product is Accommodation Product.

![screenshot](https://cldup.com/VNDcob9dAc.png)

[2016-02-22 09:13] gedex commented on #35
Please reopen in case you've specific steps to reproduce.

[2016-02-22 09:13] #35 closed

[2016-02-23 08:32] SiR-DanieL commented on #35
I don't know how to reproduce but I tried this

* I reset my local WordPress installation
* Install WooCommerce and go through the Wizard
* Install WooCommerce Bookings and WooCommerce Accomodation Bookings
* Create a new product
* Set a title
* Change the type to Accomodation
* The shipping tab is there

[2016-02-23 09:12] gedex commented on #35
@SiR-DanieL Per our discussion in Slack it seems expected JS is not loaded.

[2016-02-25 22:32] BFTrick commented on #34
@WillBrubaker - just to confirm - does this only happen with accommodations and not bookings?

[2016-02-26 08:41] SiR-DanieL opened #36 "Fatal error with non-English languages"
[code]

This happens because `$start_date` returns the localized date, and the class `Date` can't handle that.

cc @gedex

[2016-02-29 10:41] SiR-DanieL opened #37 "Product Add-ons compatibility - price * nights"
WooCommerce Bookings has a checkbox to select to multiply the add-on cost per the number of blocks.
This does not exist in Accommodation Bookings, neither is done automatically.

Can we add the feature like in WooCommerce Bookings?

[2016-02-29 13:12] RookDesigns commented on #37
This would basically make me buy Woocommerce bookings instead of Booking System Pro. Resources and people aswell

[2016-03-01 11:07] SiR-DanieL opened #38 "Assets directory was not uploaded to the .org plugin repo for version 1.0.2"
Related to #35

Ref: https://woothemes.zendesk.com/agent/tickets/391214

All the tabs created by the Accommodation extension are showing also on other product types, in the admin editing screen.
Eg. Rates.

I can reproduce the issue on my local setup.
I also tested on a fresh install with only WooCommerce Bookings and Accommodations active.

It not only happens with bookable products, but with any

[2016-03-02 14:05] dwainm commented on #38
@SiR-DanieL please add the full issue description in you first comment.

[2016-03-02 14:11] SiR-DanieL commented on #38
Done

[2016-03-02 14:12] dwainm commented on #38
Thank you @SiR-DanieL!

[2016-03-02 21:49] robertstaddon opened #39 "Plugin on WordPress.org does not include assets folder"
If you go to https://wordpress.org/plugins/woocommerce-accommodation-bookings/ and download this plugin from the WordPress repository, the downloaded zip file (https://downloads.wordpress.org/plugin/woocommerce-accommodation-bookings.latest-stable.zip) does not contain the "assets" folder.

This generates "Not found" errors for the "assets/js/writepanel.min.js" file in the browser console as descr

[2016-03-02 21:54] robertstaddon commented on #38
@SiR-DanieL, I believe the cause of this problem is that the current zipped plugin file on the WordPress repository does not contain the "assets" folder (See https://github.com/woothemes/woocommerce-accommodation-bookings/issues/39). Try downloading the plugin from here on GitHub and installing it. This fixed the problem for me.

[2016-03-02 23:21] robertstaddon commented on #37
I think that this goal could be accomplished if this plugin was coded to support the built-in WooCommerce Bookings Resources (https://docs.woothemes.com/document/using-global-resources/). Resources are limited to available quantities and can be multiplied by the number of blocks booked.

[2016-03-03 13:36] WillBrubaker commented on #34
@BFTrick - yes only happens with accommodations.

[2016-03-03 19:16] robertstaddon commented on #39
I've created a pull request that completely gets rid of the writepanel.js altogether, which isn't needed if the classes are named correctly. It also allows Accommodatiosn to use the Resources feature of WooCommerce Bookings. https://github.com/woothemes/woocommerce-accommodation-bookings/pull/40

[2016-03-03 19:17] robertstaddon commented on #37
I've created a pull request that would allow Accommodations products to use the Resources feature of WooCommerce Bookings. https://github.com/woothemes/woocommerce-accommodation-bookings/pull/40

[2016-03-05 13:56] studioviv commented on #37
I totally agree with RookDesigns. We are also following progress on this feature for WCBookings and AccommodationBookings. It would make us also go from Booking System Pro to Woocommerce bookings. I like the fact that all is related to WC and the whole payment/invoicestructure so i would prefer it above any other.
But the fact that we can't use use acc.bookings with personscount and WCBookings lac

[2016-03-23 20:43] kristinaplauche opened #41 "Per Night Price Displaying Incorrect Price"
**Issue:** If the minimum number of nights allowed in a booking is set to anything greater than 1, the minimum number of nights is multiplied by the standard rate and displayed as the per night price on the product page. That price is incorrect.
@gedex
**To replicate:**

Plugins enabled:  WooCommerce, WooCommerce Bookings, WooCommerce Accomodation Bookings

**Create a new product.**
 * Set product

[2016-03-24 08:42] gedex commented on #41
Thanks for the report @kristinaplauche. @dwainm Could you please investigate this?

[2016-03-24 09:28] SiR-DanieL commented on #37
@gedex any update on this?

[2016-03-24 10:09] gedex commented on #37
Sorry for late reply. I haven't check this. Definitely on our queue, but I don't have exact ETA to announce yet.

/cc @mattyza @dwainm

[2016-03-24 16:12] adrienromain commented on #34
@BFTrick @WillBrubaker @gedex Hello, I confirm the problem with the Woocommerce Product-Addons, total options is added double when passing to cart. Thank you for solving bug in next 1.0.3...

[2016-03-30 14:21] dwainm commented on #39
@robertstaddon thanks for the effort on the PR. I know the effort has gone into this already, but could you please separate the issue within your PR?

1) The assets directory not being included is possibly due to a deploy error which we should fix there
2) Using resources is an issue for separate consideration. I'd appreciate it if remove the writepanel.js file is not part of the solution. I'll be

[2016-03-30 15:33] robertstaddon commented on #39
Thank you, @dwainm. You are correct that the plugin from the WordPress repository (https://wordpress.org/plugins/woocommerce-accommodation-bookings/) could be easily fixed simply by adding an assets folder, which was probably caused by a deploy error. You can verify this by looking at line 51 of the "/woocommerce-accommodation-bookings/includes/admin/class-wc-accommodation-booking-admin-panels.php

[2016-03-31 16:43] al3xstanhope commented on #38
I can confirm that @robertstaddon is bang on the money with his suggestion; downloading the zipped version from this here Github repository fixed the issue for me too!

[2016-04-01 12:24] al3xstanhope opened #42 "Seasonal Rates"
To the team at WooCommerce Accommodation Bookings,

First off, congratulations on putting together such a fantastic extension to the Bookings plug-in; super easy to use, and confers some much-needed functionality for property owners with minimal hassle. I for one certainly hope that this project keeps rolling for the forseeable future as it really is handy!

I did have one question about the "Rate

[2016-04-01 12:42] al3xstanhope commented on #26
I've noticed this one too! Running Bookings v1.9.5 and Accommodation Bookings v1.02 here :(

[2016-04-01 13:40] al3xstanhope commented on #34
I too can confirm the existence of this particular issue on Bookings v1.9.5 and Accommodation Bookings 1.0.2 and Product Add-ons 2.7.16 - hopefully you guys will fix it soon!

[2016-04-03 23:42] jamiebudesky commented on #37
This is defiantly a need for our campground so we can charge additional for Wifi per night. Also without resources and people, this plugin is not much different than a bookable product. Hope 1.0.3 will include these features.

[2016-04-03 23:54] jamiebudesky commented on #33
Also to require a minimum number of nights including a specific day. Example: Sunday - Thursday require 1 night. Friday & Saturday require 2 nights. So if a guest wants friday night. they are required to book at least 1 more additional day like thursday or saturday. but if customer wants only thursday night, can book 1 night.  This is a feature similar on airbnb.

![unspecified-1](https://cloud.gi

[2016-04-05 16:45] dwainm commented on #36
Thanks @SiR-DanieL . The issue is correct, but the problem is a deeper. Within bookings, we store the localised date string as part of the booking line item data. The issues is actually a bookings "core" issue. I've created the new issues here: https://github.com/woothemes/woocommerce-bookings/issues/676

[2016-04-06 10:16] dwainm commented on #39
Thank you @robertstaddon one of our developers will inspect your PR and provide feedback as soon as possible. For now I've renamed the original issue #38 we are looking to bump the version number soon as there are some bugs that need to be deployed.

[2016-04-06 10:16] #39 closed

[2016-04-06 11:04] #26 closed

[2016-04-06 15:41] dwainm commented on #32
Thanks for reporting @solaceten. This issue can't be fixed within the accomodation plugin. I've created a new issue on the core bookings extension which will be looked at as soon as possible.

[2016-04-06 15:41] #32 closed

[2016-04-06 20:04] #41 closed

[2016-04-06 20:23] #34 closed

[2016-04-06 22:06] dwainm commented on #38
Fixed: https://plugins.svn.wordpress.org/woocommerce-accommodation-bookings/tags/1.0.3/

[2016-04-06 22:06] #38 closed

[2016-04-07 17:45] dwainm commented on #36
After looking at this some more I've decided to fix it up temporarily until we can change how booking dates are stored in https://github.com/woothemes/woocommerce-bookings/issues/676

[2016-04-11 06:26] #36 closed

[2016-04-13 14:46] SiR-DanieL opened #47 "Plugin not translation ready"
Please add a `languages/` folder and a POT file for translations.

cc @gedex

[2016-04-13 18:26] larsmagnusherland opened #48 "Compatibility issues with WooCommerce Stripe Gateway"
This plugin does not work good with WooCommerce Booking and WooCommerce Stripe Gateway.
When you enable WooCommerce Stripe Gateway and have the two others enabled.
Using CreditCard on checkout results in a 500 error and never getting passed the checkout page.
Information goes to stripe and WooCommerce, but the order isn't fully processed.

Error from the logs state:
2016/04/13 13:49:09 [error] 146

[2016-04-13 20:44] larsmagnusherland commented on #47
This should have at least 1 POT, so community can contribute.

[2016-04-25 22:01] gedex opened #49 "Sync .github that holds GH specific templates."

[2016-05-04 11:00] gedex opened #50 "Incorrect text domain being used"
Output from `grunt checktextdomain`:

[code]

I believe this is intended, but this might cause confusion for translators.

[2016-05-04 11:14] gedex commented on #48
@larsmagnusherland the notices pasted above comes from `woocommerce-multilingual` plugin. We added POT file in #52 that hopefully fix issues with other translation plugins. Could you try disable woocommerce-multilingual or making sure only WC, Stripe, Bookings, and Accommodation Bookings are the ones active?

[2016-05-04 11:42] #50 closed

[2016-05-04 11:43] #47 closed

[2016-05-04 12:47] gedex commented on #48
Unable to reproduce this with latest WC, Bookings, and Accommodation Bookings. Here's my screencast:

![test-issues-48](https://cloud.githubusercontent.com/assets/78313/15014564/f13dca90-1230-11e6-9581-c53e96d9fe73.gif)

Closing this.

[2016-05-04 12:47] #48 closed

[2016-05-14 15:59] tunteam opened #53 "Fatal error: Allowed memory size"
I have 100's of bookable products and I am getting a fatal error: Allowed memory size of 268435456 bytes exhausted (tried to allocate 80 bytes), when I try to get to "All bookings", "Create booking" and Calendar.

I think it is caused by the select box trying to load all the avaiblable bookable products.

An ajax select box similar to the customer's one would be a solution to the issue.

[2016-05-14 22:48] gedex opened #54 "Sync .github that holds GH specific templates."

[2016-05-17 21:04] emma164 commented on #37
I agree that this is a definite need, just to be able to multiply the **product-addons total** by the **duration**. I have been looking into the code and I can't find where the product-addons are added to the booking price? has anyone any ideas please.

[2016-05-26 16:34] robertstaddon commented on #37
@emma164, @jamiebudesky, @SiR-DanieL, @studioviv, and @RookDesigns

I have modified the plugin to support Resources, Persons, and Product Add-ons and submitted a Pull Request to the developers for a 1.0.4 version: https://github.com/woothemes/woocommerce-accommodation-bookings/pull/40

If you would like to download my fork at https://github.com/robertstaddon/woocommerce-accommodation-bookings and

[2016-05-26 16:42] robertstaddon commented on #30
@solaceten This is a good idea. If this feature were to be added to the WooCommerce Bookings plugin, it would automatically appear in this plugin. You may consider adding this as a Feature Request on the WooThemes Ideas Board: http://ideas.woothemes.com/forums/133476-woocommerce/category/82014-extension-woocommerce-bookings

Here is a similar feature request that might also do the trick, which see

[2016-05-26 16:48] mattyza commented on #37
@gedex @dwainm @roykho :)

[2016-05-26 16:50] al3xstanhope commented on #37
Sounds brilliant, @robertstaddon - good work!

Just need some bright spark out there to come up with an easy way to input multiple "seasonal" rates with different prices on weekdays and weekends and this plug-in will be perfect!

[2016-05-26 17:30] jamiebudesky commented on #37
Completely agree!

[2016-05-26 18:29] robertstaddon commented on #42
@al3xstanhope This is a great idea! The functionality you are mentioning would be appropriate for a wide variety of booking types, which means it would be a better fit for the WooCommerce Bookings plugin. Any changes implemented in that plugin could then be easily made to take effect on this plugin, which merely extends Bookings to optimize it for use with accommodations.

I noticed your idea bein

[2016-06-01 09:45] dwainm commented on #53
@tunteam thanks for reporting this here but it seems this issue is with the bookings plugin and not the accommodation bookings. In order for us to confirm we'll need one of our engineers to inspect your site. It may be a very specific to your site or a genuine bug. Please submit a support ticket here: https://support.woothemes.com/hc/en-us and we'll inspect this further.

[2016-06-01 09:45] #53 closed

[2016-06-06 15:49] robertstaddon commented on #37
Hey guys! It appears that my 1.0.4 pull request has been merged. (https://github.com/woothemes/woocommerce-accommodation-bookings/pull/40)  It's not live on the WordPress repository yet, but if any of you want to try downloading it from here on GitHub and testing the use of Resources or Persons on your site, any feedback would be great! Thanks.

[2016-06-10 20:36] mixxxx00 opened #57 "Resource not calculating properly."
The resource block cost is not adding according to the nights count.
Here are the issues listed below:
- Block cost not adding with the number of nights
- If base cost is used the the drop down resource menu is adding the base cost and block cost per night only in the drop down menu.

Thanks.

[2016-06-11 22:43] robertstaddon commented on #57
Can you post a link to the site?

[2016-06-12 06:35] mixxxx00 commented on #57
Thanks for looking into the issue. Really appreciate your effort.

This is the link to the test page:
http://houseofkapaali.com/rooms/omkara/

Also i have noticed i more issue:
After a successful booking the Blocks are still available to book. It should be blocked to book further.

[2016-06-12 06:48] mixxxx00 commented on #57
Testing Addon:
I have tried setting the range to make the resource available with "1" priority.
Still not adding.

[2016-06-13 16:02] robertstaddon opened #58 "When using date entry fields instead of the calendar, the price does not calculate."
When using the default date entry with "Month" / "Day" / "Year" fields instead of the clickable calendar, the price is not automatically calculated when dates are entered. In fact, if you have no other form elements to trigger the price calculation (such as Persons or Resources), the "Book Now" button will remain grayed out and you will be unable to book at all.

[2016-06-13 16:22] mixxxx00 commented on #58
@robertstaddon are you going to repair the bug in your files?

[2016-06-13 16:52] robertstaddon commented on #58
The actual cause of the issue is with WooCommerce Bookings. When we set the Booking duration to "Customer defined blocks" on a Bookable product and  "Enable Calendar Range Picker", the automatic JavaScript update is disabled when any fields are changed.

This is triggered by lines 19-23 of the 'woocommerce-bookings/assets/js/booking-form.js' file:

`
			if ( $picker.data( 'is_range_picker_enabled'

[2016-06-13 16:57] mixxxx00 commented on #58
@robertstaddon could you please tell: what code can be altered to fix this bug in woocommerce bookings plugin.

Thanks

[2016-06-13 17:05] robertstaddon commented on #58
I'm reporting this bug to WooThemes since it is with their WooCommerce Bookings plugin. To get around it, change your Calendar display mode to "Calendar always visible."

[2016-06-13 17:50] robertstaddon commented on #57
@mixxxx00, part of your problem may be related to #10 . Can you try switching your Calendar display mode to "Calendar always visible"?

Are you using Resources for your "Extra Bed & Breakfast"? I don't think that this is how Resources were intended to be used. Read the "Resources" section at this link for more information on Resources: https://docs.woothemes.com/document/creating-a-bookable-produc

[2016-06-13 17:58] mixxxx00 commented on #57
Thanks @robertstaddon , I will look into the plugin and update.
Thanks again for your efforts

[2016-06-14 20:54] roykho commented on #58
I am closing this as this will be addressed in the Bookings core. Thanks for reporting!

[2016-06-14 20:54] #58 closed

[2016-06-14 20:57] mixxxx00 commented on #58
@robertstaddon Product Addon is working as suggested by you. Thanks and a little update, my calendar is working fine without switching to "Calendar always visible".

Will report if i find any bug, Cheers

[2016-06-14 20:58] mixxxx00 commented on #57
Closing the issue as it is with Bookings Plugin Core.

[2016-06-14 20:58] #57 closed

[2016-06-16 22:25] robertstaddon commented on #58
WooThemes emailed me back today: "The bug has been fixed and will be available in the next release. There isn't a schedule for when that will be, but hopefully soon."

[2016-07-04 19:12] silicondales commented on #42
+1 for this one. Working on a project which requires this and will in all likelihood code something up. Will try to remember to post a snippet back here in return for a virtual high five :)

[2016-07-04 19:33] silicondales commented on #42
I'm going to post the (simple) solution which am likely to go with in our use case: set a zero price, and then use date ranges to achieve your pricing goals. In our case, we had monthly seasonals, plus "bank holiday" weekend pricing. So not every weekend (camp site for motorhomes, and shut during winter) but thought worth mentioning.

piccy below

![woocommerce-bookings-accommodation-seasonal-week

[2016-07-04 19:34] silicondales commented on #42
An alternative would be to set your minimum price (i.e. £165) then put the extra cost in for the dates concerned (i.e. £40 for each high season weekend, £20 high season week day, and so on).

[2016-07-04 19:59] silicondales commented on #37
Works great with addons multiplying price of addon per night.

[2016-07-05 16:14] jessepearson opened #60 "Better price control for Persons"
Thanks for the awesome addition of adding Persons to Accommodations!

I found the update and had a use case to try out, but ran into a small snag that may cause users' customers to feel deceived with pricing. Use case is a room is 155 a night, and each additional (over 1 person) person is an additional 20 per night.

This video outlines the whole issue:
http://cld.wthms.co/1dLzc/4yZdhmK2

#### Wha

[2016-07-11 14:45] WillBrubaker opened #62 "Night count cost adjustment"
#### What I expected

With Bookings it is possible to have a "block count" cost adjustment so I would expect this to be similar with Accommodation Bookings.

#### What happened instead

No such cost adjustment is available

#### Steps to reproduce the issue

---
- [x] Issue assigned to next milestone.
- [x] Issue assigned a priority (will be assessed by maintainers).

[2016-07-15 11:05] andreas-pa opened #63 "Change logic for dependecy check"
Hello to the team!

I would like to propose something about the dependency logic you have for WC Bookings plugin.

In file /includes/class-wc-accommodation-dependencies.php arount line 27we have :

[code]

This function is checking in the folder `woocommerce-bookings` .

I think this is wrong because someone maybe would change the folder name to something else.

I think we should check with the ma

[2016-07-15 13:04] wpgroun opened #64 "Internal Server Error"
I get error "Internal Server Error" when I am trying to pay with BACS

[2016-07-16 16:31] gedex commented on #64
Hi @wpgroun,

Any error from the error log says about woocommerce-accommodation-bookings being the issue?

[2016-07-16 17:21] wpgroun commented on #64
When I disable php debugs appears the message  "Internal Server Error". When I enable php debugs appers json error.

I also noticed that when I am trying to pay with paypal, then the payment works fine from paypal but at backoffice is unpaid
Theme: enfold

[2016-07-18 13:13] andreas-pa opened #65 "Compatibility issue with WooCommerce Tab Manager (woothemes)"
There is a compatibility issue if you have Accommodation plugin in the same time with Tab Manager plugin

#### Steps for reproducing it

- Install Bookings, Accommodation and Tab Manager plugins
- Go to WooCommerce > Tab Manager > Default Tab Layout
- You can see these errors :

`( ! ) Notice: Trying to get property of non-object in /woocommerce-accommodation-bookings/includes/class-wc-accommodati

[2016-07-18 21:53] roykho commented on #60
Closed via https://github.com/woothemes/woocommerce-accommodation-bookings/pull/66/commits/69dfcddfd4ec3977031c57389e7a0a3661142eed

[2016-07-18 21:53] #60 closed

[2016-07-19 11:12] jeeteecorp opened #67 "Availability"
YES!! This has been solved by the last version of Bookings  x.10 ...

Thanks so much for this excellent plugin which does exactly what it should do!!

Hi Guys,

I came across the problem of availability on a product level. I can't seem to block off / on certain dates in the future

BTW...the original 1.3 version is having that same problem!

Any help?

[2016-07-20 14:36] #67 closed

[2016-07-21 14:28] #65 closed

[2016-07-21 16:10] roykho commented on #64
Sorry I don't believe this to be an issue with this plugin. I would suggest you post this on https://wordpress.org/support/plugin/woocommerce

[2016-07-21 16:10] #64 closed

[2016-07-29 14:50] ValeDeOro opened #68 "Date picker doesn't update booking dates"
#### What I expected

When manually changing the check-in and check-out dates, the price should update accordingly on the product page:

![](https://cloudup.com/ckbavwY1QDV+)
https://cloudup.com/ckbavwY1QDV

#### What happened instead

First the customer chooses the date through the calendar that displays when clicking on "choose". Then they manually adjust the check-out date. The price doesn't ch

[2016-07-30 20:25] robertstaddon commented on #68
@ValeDeOro Excellent bug report! The bug you have found is actually in the main WooCommerce Bookings plugin, not in the WooCommerce Accommodation Bookings extension plugin.

To reproduce this bug directly in WooCommerce Bookings, you must take the following steps:

1. Install WooCommerce & WooCommerce Bookings
2. Create a Bookable product:
- Set Booking duration to "Customer defined blocks of 1 Da

[2016-07-30 20:50] roykho commented on #68
@ValeDeOro - @robertstaddon is correct this issue is in core Bookings. Closing this issue and I have already created the issue for you in Bookings here https://github.com/woothemes/woocommerce-bookings/issues/759

[2016-07-30 20:50] #68 closed

[2016-07-30 21:14] roykho commented on #68
This issue is fixed in Bookings core here https://github.com/woothemes/woocommerce-bookings/pull/760/commits/3343bc3c19c9eec7d62e41bb6e0272cef4d0c7d9

[2016-08-26 20:48] kristinaplauche opened #69 "Calendar not honoring check in/out times"
Reported in this ticket: [460956](https://woothemes.zendesk.com/agent/tickets/460956)
#### What I expected

To be able to book a check in date on the same day that the previous booking checked out and vice versa.

#### What happened instead

Can't select checkout date (11am) on a date where a customer booked a check in (3:00pm)

#### Steps to reproduce the issue

Check in time 3:00pm
Check out tim

[2016-08-28 13:42] shortsort opened #70 "PHP Warning in Plesk (php 5.6)"
PHP Warning: include(/var/www/vhosts/website.de/httpdocs/wp-content/plugins/woocommerce-accommodation-bookings/includes/integrations/class-wc-accommodation-booking-addons.php): failed to open stream: No such file or directory in /var/www/vhosts/website.de/httpdocs/wp-content/plugins/woocommerce-accommodation-bookings/includes/class-wc-accommodation-bookings-plugin.php on line 147\nPHP message: PHP

[2016-08-28 14:22] roykho commented on #70
What version are you running and did you download the files again to see if that resolves your issue?

[2016-08-28 14:47] shortsort commented on #70
1.0.5. Uploaded the same files again. After Uploading, it looks like the issue was resolved. How is it possible? Some file modifications?

[2016-08-28 16:37] roykho commented on #70
If I remember correctly, there may have been a file that was not included in the deploy and was quickly fixed. So you may have downloaded it when that happened.

[2016-08-28 16:37] #70 closed

[2016-08-30 19:54] kristinaplauche commented on #69
@roykho Any chance I can get an ETA on this?  The basic functionality is compromised. I have an anxious user. Thanks!

[2016-08-31 11:07] #69 closed

[2016-08-31 11:09] gedex commented on #69
@kristenzuck Can you pull `master` and see if it fixes the issue. Please note for existing booking, you need to update the time manually. But for new booking added to cart, start/end time will set correctly based on check in/out time.

[2016-08-31 13:16] kristinaplauche commented on #69
@gedex That worked for me. Thank you!!!

[2016-08-31 14:53] gedex commented on #63
@andreas-pa sounds good to me. I'm changing it for 1.0.6.

[2016-08-31 15:24] #63 closed

[2016-08-31 15:25] gedex commented on #31
@jameskoster is this something you can help with? No rush though.

[2016-09-02 12:15] jameskoster commented on #31
@gedex Sure, I'll add to my todos :)

[2016-09-02 15:45] jameskoster commented on #31
How about [this](https://cloudup.com/caqD6Lj6u2O)? A street full of hotels :)

[2016-09-02 15:47] gedex commented on #31
LGTM @jameskoster. Thanks! I'll add those.

[2016-09-09 16:50] mikeyarce opened #73 "Global Availability with Date Range + Time does not work"
#### What I expected

To be able to set Global Availability based on Times for Accommodations.

#### What happened instead

When I set a Global Availability of Date Range with Time, it is not applied to my Accommodation Bookings.

#### Steps to reproduce the issue

1. Create a new Accommodations Bookings product
2. Set Global Availability to not bookable for a Date range with Time:
![screen shot 2

[2016-09-13 15:47] johndcoy opened #74 "Product data options show duplicates w/ WooCommerce Subscriptions enabled"
#### Steps to reproduce the issue

1. Enable WooCommerce Accommodation and WooCommerce Subscriptions
2. Create an Accommodation Booking Product
3. Product data options then show duplicate _Availability_ options and both _Costs_ and _Rates_, rather than just _Rates_ for Accommodations.
<img width="954" alt="screen shot 2016-09-13 at 7 44 24 am" src="https://cloud.githubusercontent.com/assets/287617

[2016-09-13 15:52] roykho commented on #74
@johndcoy - any other detail to reproduce this? I just tested it and I am not seeing duplicate options.

[2016-09-13 15:59] johndcoy commented on #74
@roykho - Here is a list of a my current active plugins:

WooCommerce Version 2.6.4
WooCommerce Accommodation Booking Version 1.0.6
WooCommerce Bookings Version 1.9.12
WooCommerce Subscriptions Version 2.0.19

You can then create a new Accommodations product to replicate the issue.

Hope this helps!

[2016-09-13 16:02] kristinaplauche commented on #74
@jessepearson @ValeDeOro and I all replicated this issue.
Accommodations 1.0.6
Bookings 1.9.12
Subscription 2.0.19
Opened up a previously created a accommodation product, or try to create a new accommodations product.  All the bookings tabs show up along with the Accommodations tab while Subscriptions is active.  Deactivate subscriptions and then only the Accommodations tabs appear.
![screen shot

[2016-09-13 16:02] roykho commented on #73
So I believe that is the expected behavior as accommodation does not work with time in general. Even if you go to the product itself and see availability options, you will not see date range with time. I believe this is just something that needs to be documented while using global availability. Closing for now unless you have other thoughts?

[2016-09-13 16:02] #73 closed

[2016-09-13 16:06] roykho commented on #74
Ok I believe this issue was introduced in Subscriptions 2.0.18 or 2.0.19 because in my test 2.0.17 didn't have this issue.

[2016-09-13 16:07] roykho commented on #74
In fact, you don't need to create an accommodation product to see this. Just click "add product" and it will show duplicates.

[2016-09-13 16:14] roykho commented on #74
The issue came from this commit https://github.com/Prospress/woocommerce-subscriptions/commit/32e74d7045618c85811945792257cbc76586c85c

[2016-09-13 21:21] roykho commented on #74
Closing this as it is a subscriptions issue and already fixed in this commit here https://github.com/Prospress/woocommerce-subscriptions/pull/1637/commits/6bdfe73666b4a4604c00ffa37d5e7f167dabcd01

[2016-09-13 21:21] #74 closed

[2016-09-15 19:29] jessepearson opened #75 "Plugin locale/text domain loaded after output is generated"
Appears this may only happen in admin, but user in [467225](https://woothemes.zendesk.com/agent/tickets/467225) reported the error and also suggested a fix.

Line 83 [here](https://github.com/woothemes/woocommerce-accommodation-bookings/blob/master/includes/class-wc-accommodation-bookings-plugin.php#L69-L85) fires off `admin_includes` immediately if the page is an admin page. This includes files w

[2016-09-19 17:00] jessepearson opened #76 "Dates with check in/out not showing as partially booked."
Issue reported in 469574-zd-woothemes. Days that have a booked check in or check out should show partially booked in some fashion. Additionally, you are not able to start a new booking on a date that currently has a check out booked.

I believe that if a day only has check in or check out available, the note should state this. It would help clarify what's going on. (that's the enhancement part)
##

[2016-09-19 19:18] jessepearson commented on #76
May be related:
https://github.com/woothemes/woocommerce-bookings/issues/771

[2016-09-26 19:38] WillBrubaker commented on #76
similar in ticket: 471707-zd-woothemes

[2016-09-28 19:23] kristinaplauche commented on #76
I picked up this ticket again and tested. I'm getting different results.  I set up the product as above and created bookings as above. I'm using latest releases of Bookings & Accommodations
<img width="582" alt="screen shot 2016-09-28 at 3 12 37 pm" src="https://cloud.githubusercontent.com/assets/16582518/18928426/0b44f208-858e-11e6-928c-2855712e6246.png">

Agree with this.  My dates were October

[2016-09-29 16:57] kristinaplauche commented on #76
Summarizing the problem(s).

* Partially booked days do not show as partially booked.

* The date that one customer checks out on cannot be used as the same date a different customer checks in on.  **Note:** Changing the checkout time to 00:00 on the checkout date allows the date to be used as a check in date as well.

[2016-09-30 23:01] phpmypython commented on #76
So i have done some substantial digging into this and what I have found is that when you click a date in the date picker and it fires to admin_ajax it will eventually call to `get_posted_data` inside of the file `class-wc-booking-form.php` and inside of this method on line `471` you can see the conditional that checks for the `night` booking duration. However the call to `strtotime()` inside of he

[2016-10-07 13:49] kristinaplauche commented on #76
@roykho Bumping this. :) Any word?  Does the above answer help? The customer really needs this working. Thank you!!!

[2016-10-07 21:13] roykho commented on #76
We're looking into this next week.

[2016-10-15 04:14] gedex opened #77 "Depcated API of WP or WC being used in this repo"
Found 1 deprecateds being used in /tmp/deprecated-checker/extensions/woocommerce-accommodation-bookings/includes/admin/class-wc-accommodation-booking-admin-panels.php:
* line 330 uses deprecated `get_product` as listed in https://raw.githubusercontent.com/woothemes/woocommerce/master/includes/wc-deprecated-functions.php
------------

Found 1 deprecateds being used in /tmp/deprecated-checker/extens

[2016-10-15 04:57] #77 closed

[2016-10-15 05:18] gedex opened #78 "Deprecated API of WP or WC being used in this repo"
Found 1 deprecateds being used in /tmp/deprecated-checker/extensions/woocommerce-accommodation-bookings/includes/admin/class-wc-accommodation-booking-admin-panels.php:
- line 330 uses deprecated `get_product` as listed in https://raw.githubusercontent.com/woothemes/woocommerce/master/includes/wc-deprecated-functions.php

---

Found 1 deprecateds being used in /tmp/deprecated-checker/extensions/woo

[2016-10-19 18:19] larsmagnusherland commented on #76
@roykho any news? Still an issue in our end.

[2016-10-31 06:48] #78 closed

[2016-10-31 06:48] #75 closed

[2016-10-31 16:50] dwainm commented on #76
@jessepearson in the latest (bookings core) master: if you supply chekin and checkout times it will ensure that a users bookings can start on a day that another booking ends.

In example below. 2-7 is an existing booking but you can book 1-2. Also see 28-30 is booked, but you can start a boooking from 30 onwards or up to 28.
<img width="464" alt="screen shot 2016-10-31 at 3 24 30 pm" src="https://

[2016-10-31 16:50] dwainm commented on #76
@jessepearson please test and confirm this in the latest masters and close the issue if it is fixed :)

[2016-10-31 17:14] larsmagnusherland commented on #76
Verified working in the latest master.

[2016-11-01 12:11] dwainm commented on #76
@larsmagnusherland you will also need the latest master of WooCommerce Bookings which is not publically available yet.

[2016-11-04 13:35] jessepearson commented on #76
@larsmagnusherland If you create a ticket under the account you purchased Bookings through, then add the ticket number here, I will get you the latest master of Bookings to test with.

[2016-11-07 15:53] dwainm commented on #76
@jessepearson could you take a look and confirm this? We'd like to get 1.9.13 along with the next accommodation bookings released.

[2016-11-07 16:28] jessepearson commented on #76
@dwainm Looks like the issue still exists.

I created this booking:
![screen shot on 2016-11-07 at 11 3a24 3a22](https://cloud.githubusercontent.com/assets/4634416/20065636/d77f800a-a4dc-11e6-9249-b370b36f63b6.png)

This is the calendar afterwards:
![screen capture on 2016-11-07 at 11-26-45](https://cloud.githubusercontent.com/assets/4634416/20065731/27cfefb8-a4dd-11e6-9f52-2388c5c3a75b.gif)

The

[2016-11-08 14:02] jessepearson commented on #76
@dwainm Check out dates are still not showing partially booked:

![screen shot 2016-11-08 at 08 46 24](https://cloud.githubusercontent.com/assets/4634416/20101798/7f4697e2-a591-11e6-97aa-3af196626999.png)

On top of that, I noticed that if two bookings are made next to each other and share the first's check out date with the next's check in date, the block is not shown as fully booked.

![screen c

[2016-11-08 15:59] dwainm commented on #76
@jessepearson what if you purchase those items?

[2016-11-08 16:28] jessepearson commented on #76
After order is placed, with order status Pending and booking status Unpaid, the calendar shows no change. After order is Complete/Processing and booking status changed to Paid, the calendar shows partially booked the same as shown above.

[2016-11-08 17:18] larsmagnusherland commented on #76
I have the same issue, but in my case it shows as fully available (green) and not partial.

![selection_685](https://cloud.githubusercontent.com/assets/16826379/20109285/b39e73ea-a5df-11e6-9744-a2cb62e8b2f4.png)
![selection_684](https://cloud.githubusercontent.com/assets/16826379/20109286/b39fba02-a5df-11e6-8243-962c7a99bfd7.png)

This is a booked date already, so should be unavailable.

[2016-11-18 13:44] siderlan commented on #33
Hi guys, I'm looking for this feature.
What is its status?

[2016-11-18 14:57] kristinaplauche opened #82 "Feature request: Add Person Count to Rates"
492924-zd-woothemes

#### What customer's expect

To have the same Rates options in Bookings as in Accommodations.  They need to be able to have different prices based on the number of persons who book a room. So that they can charge more for more people.

#### What happened instead

They see this feature in Bookings and know that is just what they need, but then they need the overnight feature of

[2016-11-18 15:28] WillBrubaker commented on #82
@roykho

[2016-12-05 14:29] jobthomas opened #83 "Accommodations not displaying WC content when used on multisite"
#### What I expected

That accommodations would work, I tried both activating for the whole network, and for the indivudual site.

#### What happened instead

Instead, I configured everything correct (triple checked), but not all of the features are displaying on the product page, missing:

* Add to cart
* Amount of days selector
* Calendar:

![http://cld.wthms.co/1WKI/4JFxF2S4](http://cld.wthms.c

[2017-01-06 16:52] jessepearson opened #85 "Fatal error when using filter to move calendar to first available booking"
I am getting fatal errors when trying to view an Accomm product with the current Bookings master as of 2016-01-06

[code]

#### Steps to reproduce the issue

1. Load current Bookings master
1. Load current Accomm release
1. Create Accomm product
1. View Accomm product on front end, it will die.

@roykho @dwainm

-------------------

- [ ] Issue assigned to next milestone.
- [ ] Issue assigned a pr

[2017-01-09 06:51] dwainm commented on #85
@jessepearson we need to thoroughly test  this before 1.9.16 goes out

[2017-01-16 10:01] madeincosmos opened #87 "Accommodation product + auto-assigned resources = incorrect availability on booking dates"
#### Affected ticket(s)

508723-zd-woothemes

#### What I expected

Add a base cost to accommodation products with the use of resources. To do this, I've added one resource on a product with a base cost and quantity = 1:

![Screenshot](http://cld.wthms.co/3ZRu+)
Screenshot: http://cld.wthms.co/3ZRu

#### What happened instead

When someone makes a booking on certain dates, and:

- The resource is

[2017-01-25 12:57] mgibbs189 opened #88 "Unable to select number of persons"
#### What I expected

When on a Booking detail page, I should be able to select the numbers of people.

#### What happened instead

A `Number of people` box doesn't appear, and when I select a date from the calendar, I see this error: `Persons are required - please enter the number of persons above`

Screenshot: http://d.pr/i/lCq4

#### Steps to reproduce the issue

Screencast of the Accommodation

[2017-01-31 09:57] madeincosmos commented on #87
@jessepearson any ideas what could be going on here?

[2017-01-31 12:49] jessepearson commented on #85
I did a little more digging and found it was due to this snippet that I had created for a user that was still in my theme:

[code]

Once I commented it out, I no longer got the fatal errors. Going to remove the Critical tag, but leave it open as users should be able to use this filter without fatal errors.

[2017-01-31 13:02] jessepearson commented on #87
@madeincosmos Not sure off the top of my head.

I confirmed the issue. When the resource is *Customer selected* vs *Automatically assigned*, the days booked do not show partially assigned. I also found that either way, they do not show fully booked properly, either.

Not able to create example products here due to Bookings Helper doesn't play nice with Accomm products.

[2017-02-01 00:08] mgibbs189 commented on #88
@dwainm @mattyza Thanks for confirming the bug.

Any ETA on when this will get addressed? Or perhaps some guidance on which file(s) to look in when helping troubleshoot?

[2017-02-01 09:38] dwainm commented on #88
@mgibbs189 we're wrapping up the final beta version 1.10.0 of bookings so I'd say another 2 weeks would be a good estimate. Finding the problem file would require the same effort as fixing it as I'm sure this is a small fix. The changes in bookings core may affect this so I don't want to fix it twice ;)

[2017-02-01 13:46] jessepearson opened #89 "Accommodation bookings check against minutes instead of days"
As mentioned in [this PR](https://github.com/woocommerce/woocommerce-bookings/pull/972), when Bookings is getting blocks in a range, the default is for minutes and this is what Accommodations winds up using instead of *days*.

As discussed in the PR, this probably wasn't the best route, just an easy fix. Accommodations should override this method within its own code as a solution.

#### Affected t

[2017-02-01 13:58] jessepearson commented on #88
@mgibbs189 I believe this is a configuration error over a bug, see this screenshot from your screencast:

![](http://cld.wthms.co/uatU/3n05bpOC+)
Image Link: http://cld.wthms.co/uatU/3n05bpOC

You have **Enable person types** selected, but have no Person Types configured. This results in no persons boxes being displayed on the front end. Person Types are for allowing different types of persons, su

[2017-02-01 14:03] mgibbs189 commented on #88
@jessepearson Thanks, will pass this back to the customer to confirm. Thanks for following up!

[2017-02-01 14:06] jessepearson commented on #88
@mgibbs189 No problem, sorry I didn't chime in sooner, I had accidentally removed myself from watching this repo, so I didn't get a notification with your first report.

[2017-02-02 13:33] madeincosmos commented on #87
Thanks! If there's anything else I can do here to speed this up, please let me know 😄

[2017-02-09 14:25] jessepearson commented on #87
I believe this is related to [Bookings 952](https://github.com/woocommerce/woocommerce-bookings/issues/952). I just tested against the latest master and it's worse now, as I am able to book the same days over and over again, even though the resource has an availability of 1.

There most be code in Accomm that overrides what Bookings does and it's now broken due to the fix in Bookings.

[2017-02-19 16:42] MCKLtech commented on #89
I have done some testing on WebGrind and Dynatrace, some of my analysis is here: https://wordpress.org/support/topic/really-slow-product-page-loading/#post-8816514

This issue is very serious as the entire accommodation plugin is inherently flawed by it. There is absolutely no need to checking by the minute for accommodation, I'd even go as far to say there should be no checking by the hour either

[2017-02-20 21:55] larsmagnusherland commented on #76
Issue still exists in 1.0.7
**Example:**
Booking done 3rd of march from 14:00 to 4th of march 11:00 and then 4th of march from 14:00 to 5th of march 11:00 then it shows all green (available) from 3rd to 5th.

![image](https://cloud.githubusercontent.com/assets/16826379/23143027/6285f9f6-f7bf-11e6-8087-a56251b7fec5.png)
![image](https://cloud.githubusercontent.com/assets/16826379/23143079/ad2aba00-

[2017-02-27 21:37] jessepearson opened #90 "Accommodations compatibility with Bookings 1.10"
[code]

#### Affected ticket(s)

557875-zd-woothemes
559615-zd-woothemes
558257-zd-woothemes
558301-zd-woothemes
552989-zd-woothemes

#### What I expected

To activate Accommodations and it would activate.

#### What happened instead

It threw a fatal and died.

#### Steps to reproduce the issue

1. Load Bookings 1.10.0 Beta 1
1. Activate Accommodations
1. 💥

-------------------

- [ ] Issue assig

[2017-02-28 13:40] jessepearson commented on #76
@larsmagnusherland We are currently working on the next release of Bookings. It is currently in the beta testing phase. Once it is ready for release, we will get Accommodations compatible with it and push a new release, as well.

[2017-03-03 12:48] madeincosmos opened #91 "Unpaid and in-cart bookings are still available in the calendar"
#### Affected ticket(s)

540248-zd-woothemes

#### What I expected

When someone makes a booking for an accommodation product, but hasn't paid for it yet, these dates should be red in the calendar. This is how regular bookable products work - days with unpaid bookings are not available.

#### What happened instead

For accommodation products, unpaid or in-cart bookings don't affect the calendar at

[2017-03-06 17:09] larsmagnusherland commented on #76
When will this be available? And do you need help in testing?
Currently we have a semi broken page due to this not fully working.

[2017-03-10 16:53] madeincosmos commented on #91
@jessepearson any ideas what we can do here?

[2017-03-13 12:48] jessepearson commented on #91
@madeincosmos This should be fixed by [this PR](https://github.com/woocommerce/woocommerce-bookings/pull/942), but it isn't in any versions except the 1.10 Alpha Alpha and Beta releases yet :(

[2017-03-21 08:42] mobotter commented on #76
Hi, I'm also waiting for a fix or update for this bug. Hope it will be released soon...

[2017-03-22 12:19] jessepearson commented on #76
The new version of Bookings is scheduled to be released in the next few weeks, there is not an exact date as of yet. A new version of Accommodations should follow along with it.

[2017-03-30 15:23] jessepearson opened #95 "Availability and Rates tabs blank in WC 2.6"
Using Accomm and Bookings latest masters with WC 2.6, the Availability and Rates tabs are blank on Accomm products.

![](http://cld.wthms.co/IGwU+)
Image Link: http://cld.wthms.co/IGwU

@bor0

-------------------

- [x] Issue assigned to next milestone.
- [x] Issue assigned a priority (will be assessed by maintainers).

[2017-03-30 17:48] #95 closed

[2017-04-05 23:25] Elan42 commented on #90
This is still happening !

[2017-04-06 08:10] bor0 commented on #90
This seems to be working fine as far as I tested. Can you retest using 1.10.0 Bookings and latest Accommodation Bookings?

[2017-04-06 08:12] bor0 commented on #88
Any updates on this one @jessepearson? I believe we can close and reopen if needed.

[2017-04-06 08:19] bor0 commented on #91
This seems to be working fine on latest master of Accommodation and 1.10.0 Bookings:
![screen shot 2017-04-06 at 10 18 38 am](https://cloud.githubusercontent.com/assets/1620929/24744503/8e76f914-1ab2-11e7-8fd5-685eaab98609.png)

@jessepearson / @madeincosmos can you please verify?

[2017-04-06 08:30] bor0 commented on #76
I'm wondering why should this be the case, when we have number of available rooms set to 1?

In my testings with latest master of Accommodation Bookings and Bookings 1.10.0, it shows as fully booked, which I believe is correct?
![screen shot 2017-04-06 at 10 29 31 am](https://cloud.githubusercontent.com/assets/1620929/24744923/f830e4fe-1ab3-11e7-9512-ddc8df35543e.png)

[2017-04-06 08:43] Elan42 commented on #90
I have WooCommerce Accommodation Bookings: Version 1.0.7
And WooCommerce Bookings: 1.9.12
I see only update notification for "WooCommerce Bookings" 1.9.12 -> 1.10.0

When I update, I have a fatal error and WP goes boom.

[2017-04-07 17:00] stuartduff commented on #90
@roykho Could we have this deployed as v1.0.8 asap please as v1.0.7 is creating a fatal error that's taking site offline.

Cheers

[2017-04-07 20:30] mgibbs189 commented on #90
[code]

[2017-04-07 20:45] mgibbs189 commented on #90
@bor0 @stuartduff

[A] woocommerce-bookings/woocommerce-bookings.php:52

[code]

[B] woocommerce-accommodation-bookings/includes/class-wc-accommodation-bookings-plugin.php:78

[code]

[Solution] woocommerce_loaded is running BEFORE plugins_loaded, hence the fatal error. You might want to consider changing the hook from `woocommerce_loaded` to `plugins_loaded` (keeping priority=20) as well.

This r

[2017-04-09 18:13] Elan42 commented on #90
I've also got this after a while:
Fatal error: Call to a member function get_title() on boolean in [...]/wp-content/plugins/woocommerce-bookings/includes/emails/class-wc-email-booking-confirmed.php on line 85

Had to comment that line and enter admin to resolve (and remove comment).

[2017-04-10 06:03] bor0 commented on #90
The errors you are describing should be already fixed by https://github.com/woocommerce/woocommerce-accommodation-bookings/pull/94 in the next release. We're planning to release sometime this week, as soon as we close all issues in 1.0.8.

[2017-04-10 08:55] madeincosmos commented on #90
One more user reporting the same problem in 557875-zd-woothemes.

[2017-04-10 16:16] kristinaplauche commented on #90
Another ticket 552989-zd-woothemes.

@bor0 @roykho I appreciate wanting to close the open issues, but these customers are getting fatal errors and their entire site cannot do business.  The only way to fix it is uploading the pre-release version via ftp.

Can we please see about getting this fix deployed asap?  Some issues are better than a fatal error that effectively puts them out of business.

[2017-04-10 16:52] bor0 commented on #90
Per agreement with @roykho and @gedex we've decided 1.0.8 to be 3.0 compat fixes and will work on 1.0.9 to clean the other issues. Release follows.

[2017-04-10 16:56] #90 closed

[2017-04-10 18:27] gedex opened #97 "Unable to save product as Accommodation product"
#### Affected ticket(s)

N/A

#### What I expected

To be able to save Accommodation product

#### What happened instead

When saved it reverts back to Bookable product

#### Steps to reproduce the issue

1. Create new product
2. Set the type to Accommodation product
3. Save
4. It displays the type of product as Bookable product

-------------------

- [x] Issue assigned to next milestone.
- [x] I

[2017-04-10 18:27] gedex commented on #97
/cc @bor0

[2017-04-10 18:45] gedex opened #99 "Panel icons are not aligned properly"
#### Affected ticket(s)

N/A

#### What I expected

Icons to be aligned with default panels

#### What happened instead

They're not aligned well.

#### Steps to reproduce the issue

1. Open any product with Accommodation type
2. Notice the panel icons

<img width="303" alt="screen shot 2017-04-11 at 1 43 27 am" src="https://cloud.githubusercontent.com/assets/78313/24877173/87b04c9e-1e58-11e7-9b0a

[2017-04-10 18:48] #97 closed

[2017-04-10 18:55] gedex opened #100 "[WC 3.0] Notice of properties should not be accessed directly"
#### Affected ticket(s)

N/A

#### What I expected

No notice when visiting single product page.

#### What happened instead

Notice is thrown.

[code]

Call stack:

[code]

#### Steps to reproduce the issue

1. Create Accommodation product
2. View the product on the front-end
3. You got the notice

-------------------

- [x] Issue assigned to next milestone.
- [x] Issue assigned a priority (will

[2017-04-12 11:27] jessepearson commented on #88
@bor0 Sorry for the late reply, still trying to catch up on emails from last week. Since we didn't hear back, I'm guessing everything is good. Closing now.

[2017-04-12 11:27] #88 closed

[2017-04-12 11:44] jessepearson commented on #91
This is fixed with Bookings 1.10.0 and Accomm 1.0.8.

[2017-04-12 11:44] #91 closed

[2017-04-12 11:55] jessepearson opened #101 "Accommodation products price not being used"
Accomm products currently do not have price added to cart.

Product settings:
![screen shot 2017-04-12 at 7 50 36 am](https://cloud.githubusercontent.com/assets/4634416/24956254/ddbd0c56-1f54-11e7-982a-6eac471697a0.png)

Product with date selected and booking in cart:
![screen shot 2017-04-12 at 7 52 10 am](https://cloud.githubusercontent.com/assets/4634416/24956291/f87ff9fe-1f54-11e7-93e7-c9496b7

[2017-04-12 12:09] jessepearson opened #102 "Duration rules not being used"
Accomm products have a min/max duration set for the number of nights a customer can book. These rules are not being used.

Rules:
![](http://cld.wthms.co/kUPS+)
Image Link: http://cld.wthms.co/kUPS

Product:
![](http://cld.wthms.co/Fvq9+)
Image Link: http://cld.wthms.co/Fvq9

#### What I expected

Rules in settings to be used.

#### What happened instead

Rules are not being used.

#### Steps to r

[2017-04-12 12:18] jessepearson commented on #76
@bor0 This is not correct. Since Accomm bookings are overnight, days should only show fully booked if both connecting nights are booked.

If there is a booking from 26 to 27, both should show partially booked. If the booking is 26 to 28, then 26 and 28 should be partial and 27 should be full. This is the case if the quantity is 1.

I cannot currently test due to #102

[2017-04-12 12:21] madeincosmos commented on #101
Reproduced on Pressable:
WooCommerce 3.0.1
Bookings 1.10.0
Accommodations 1.0.8

[2017-04-12 12:23] madeincosmos commented on #102
Reproduced on Pressable:
WooCommerce 3.0.1
Bookings 1.10.0
Accommodations 1.0.8

Minimum duration set to 1
Maximum duration = 7

Trying to select 3 nights leaves an error message `The maximum duration is 1`

[2017-04-12 12:45] jessepearson commented on #102
May be related to #100

[2017-04-12 18:55] #100 closed

[2017-04-12 18:55] bor0 commented on #101
@jessepearson can you please re-verify this after #103? Thanks!

[2017-04-12 18:55] bor0 commented on #102
@jessepearson can you please re-verify this after #103? Thanks!

[2017-04-13 11:28] jessepearson commented on #102
@bor0 This is corrected in the current master, thank you 👍

[2017-04-13 11:28] #102 closed

[2017-04-13 11:28] jessepearson commented on #101
@bor0 Tested and it works in current master, thanks! 👍

[2017-04-13 11:28] #101 closed

[2017-04-13 16:50] cwuensche opened #105 "Fatal Error: Cannot redeclare class WC_Product_Accommodation_Booking"
When I updated the WooCommerce Accommodation Bookings plugin today, it failed with the error

Fatal error: Cannot redeclare class WC_Product_Accommodation_Booking in /xxx/htdocs/xxx/wp-content/plugins/woocommerce-accommodation-bookings/includes/class-wc-product-accommodation-booking.php on line 151

I was able to "fix" this by going to woocommerce-bookings/includes/addons/accommodation-booking.php

[2017-04-13 17:09] linkhousemedia commented on #76
Any update here, folks? This is critical to those using this to make money. Booking is their bread and butter.

[2017-04-13 17:54] jessepearson commented on #76
@linkhousemedia Can you confirm what issue you are currently running into. This issue was opened before the latest updates to WooCommerce, Bookings and Accommodations. As far as I can tell, the main issue at this point is just a discrepancy in how the days should be displayed on the calendar.

The latest releases of Bookings and Accommodations are working with WooCommerce 3.0, and if you create a

[2017-04-13 18:33] linkhousemedia commented on #76
@jessepearson The exact issue is that the checkout date should show partially available, even if it's booked later that day.  So if the 21st is already booked in the evening, it should at least allow someone to select it as a checkout date.  Right now it shows fully booked.

I have a woocommerce ticket already - is that what you mean?

[2017-04-13 19:16] linkhousemedia commented on #76
@jessepearson my woocommerce ticket is #561586... please advise ASAP. Right now since I've updated woocommerce, the booking accommodation plugin breaks the website.

[2017-04-13 20:08] jessepearson commented on #76
@linkhousemedia Just replied. WC 3.0, Bookings 1.10.0 (or the dev copy I sent), and Accomm 1.0.8 should all work together without any critical issues. Feel free to reply to the ticket with anything else.

[2017-04-14 13:44] jessepearson commented on #76
@bor0 Here is a great example passed over by @linkhousemedia in his ticket 561586-zd-woothemes

![](http://cld.wthms.co/7qaJ+)
Image Link: http://cld.wthms.co/7qaJ

I have added two bookings to my cart:

* Check in May 8 for a duration of 2 nights, making check out May 10
* Check in May 12 for a duration of 2 nights, making check out May 14

I should be able to select a booking that has a check in

[2017-04-14 16:05] madeincosmos commented on #76
One more user reporting the same problem 561628-zd-woothemes

[2017-04-14 16:12] larsmagnusherland commented on #105
Have the same issue if I upgrade to 1.0.8 version and the logs state the following:

PHP Fatal error:  Cannot declare class WC_Product_Accommodation_Booking, because the name is already in use

Doing the same as @cwuensche will solve it, but rather stay at 1.0.7 since both gives same issue with partial booking.

[2017-04-14 18:27] jessepearson commented on #85
Just tested this, it's fixed. I believe since Accomm no longer checks against minutes, this is why it no longer maxes out memory.

[2017-04-14 18:27] #85 closed

[2017-04-17 11:51] jessepearson commented on #105
@cwuensche @larsmagnusherland Can you let us know what versions of WooCommerce and Bookings you are using? Bookings 1.10.0 has the below code in `includes/class-wc-product-class-loader.php`

[code]

This file is loaded when the `plugins_loaded` hook fires, so there should never be a fatal error if Accommodations is active along with Bookings 1.10.0.

[2017-04-17 12:12] jessepearson commented on #105
Just tested, because I had another report in a ticket. If Accommodations 1.0.8 is activated with a version of Bookings older than 1.10.0, it will create these fatal errors.

@bor0 Would we be able to add something into Accomm to be able to combat this problem? If users are using the WordPress updates page, I believe Accomm will update before Bookings, which would create these fatal errors.

[2017-04-17 13:39] larsmagnusherland commented on #105
@jessepearson that is correct that I would need to use Accommodations 1.10.0 or higher for the error to be resolved. But trying to run this plugin together with WooCommerce 2.6.14 and Accomodations 1.9.12.
Many can't update to WooCommerce 3.0.X yet since it will cause issues for their stores, hence why I'm still running WooCommerce 2.6.14 and not the newest version.

[2017-04-17 14:11] cwuensche commented on #105
@jessepearson I'm running WooCommerce 3.0.2, WooCommerce Bookings 1.9.12 and WooCommerce Bookings Accommodation Bookings 1.0.8.

[2017-04-17 17:37] jessepearson commented on #105
Both Bookings 1.10.0 and Accommodations 1.0.8 should work with 2.6.14 without any issue, and they will both also work with 3.0.2 without issue. You should both update either through the Helper or by downloading from your WooCommerce.com dashboard.

If you'd like to test on a staging site and your host doesn't have that option, try [WP Staging](https://wordpress.org/plugins/wp-staging/), which will

[2017-04-18 15:25] #99 closed

[2017-04-18 16:13] #105 closed

[2017-04-18 16:13] bor0 commented on #105
This issue was fixed in the sense that it will not cause fatal errors, as to allow users to update Bookings. Note that you do need to use Bookings >= 1.10.0 with WC 3.0 due to the compat fixes.

[2017-04-18 17:43] jessepearson commented on #105
And since Accomm piggy backs off of Bookings, Accomm 1.0.8+ will only work with Bookings 1.10.0+ due to the internal changes needed within them both to make them compatible with WooCommerce 3.0.

[2017-04-18 20:22] jessepearson opened #107 "Resource costs not calculated"
When testing #87 I found that resource costs were not being added to the booking cost.

#### Affected ticket(s)

n/a

#### What I expected

Resource costs to be included and to be added to the cart

#### What happened instead

They were not

#### Steps to reproduce the issue

1. Create a new Accomm product with a Standard Room Rate
1. Add a Resource to the product, either Auto or Customer assigned

[2017-04-20 03:07] woodsdog commented on #76
HI, I'm having the same problem now, was working last week, WC updated and now every hour around a booking I cannot get another booking Unless I take it manually over the phone. This is a serious issue and I think it should be a priority fix? My Ticket Number in their system is #564301 -  unanswered in over 2 days, i have had zero responses from WC. I'm guessing I'm not the only one. Is there a wa

[2017-04-20 11:23] jessepearson commented on #76
@woodsdog Responses have been taking longer due to the WooCommerce 3.0 release, so we apologize about that. I just assigned your ticket to myself, once I finish up some testing for the next releases of Bookings and Accommodations, I will start working on it.

[2017-04-20 13:16] #76 closed

[2017-04-20 13:16] woodsdog commented on #76
Thanks for the heads up, that's a good reason, but you should get that placed on the front end or something maybe so people are aware? New update worked and installed via FTP for me. Back to Business and I can start advertising again  :)

[2017-04-20 18:07] bor0 commented on #87
Not able to reproduce this anymore. Possibly fixed by #108. @jessepearson can you confirm? Thanks!

[2017-04-20 18:33] jessepearson commented on #87
I believe this is *almost* fixed, just wanted to note our discussion [over here](https://github.com/woocommerce/woocommerce-accommodation-bookings/pull/109#issuecomment-295846529)

[2017-04-21 13:02] linkhousemedia commented on #76
This fix definitely solved the issue for me!  Thanks, everyone.

[2017-04-21 13:03] bor0 commented on #76
The fix for this will be adjusted in #109 to handle resources (if used) properly.

[2017-04-21 14:03] linkhousemedia opened #110 "Today showing green and available when actually booked"
#### Affected ticket(s)

566417-zd-woothemes

#### What I expected

"Today" to show as unavailable because there is a booking.

#### What happened instead

Shows green and available. When I click on it, it says "0 days available" (which it should since it's booked)

#### Steps to reproduce the issue

Added by @jessepearson
1. Create an Accomm product, make sure to set the calendar always be viewed

[2017-04-21 14:29] jessepearson commented on #110
@linkhousemedia Great report! I just confirmed this and sent it over to see if we can get a fix in the next release.

[2017-04-21 14:35] linkhousemedia commented on #110
Fabulous. Cheers!

[2017-04-21 14:46] linkhousemedia commented on #110
@bor0 Please tag me when there is a build that I can test. Thank you.

[2017-04-25 05:59] #87 closed

[2017-04-25 05:59] #110 closed

[2017-04-25 05:59] #107 closed

[2017-04-25 08:03] Mysticalpixel opened #111 "Bookings not altering properly when changed manually."
#### Affected ticket(s)

#### What I expected
I changed a client's appointment date/time manually on their request.  I expected the date/time to be changed throughout the system.

#### What happened instead
When I looked at the calendar and available openings, the original date/time was still blocked out on the front end (ie: the calendar shows the original date as 'partially booked' with the orig

[2017-04-25 11:43] jessepearson commented on #110
@linkhousemedia Master has this fix merged with it now if you'd like to check it out. 👍

[2017-04-25 12:14] jessepearson commented on #111
@Mysticalpixel I just tried replicating this issue locally and was not able to. Would you be able to create a ticket over at woocommerce.com and then give me the ticket number here? I'd like to be able to log into your site to see where this is happening.

Thanks!

[2017-04-25 12:21] Mysticalpixel commented on #111
Thanks @jessepearson Ticket #568194

[2017-04-25 13:09] linkhousemedia commented on #110
@bor0 and @jessepearson I don't believe this was actually fully fixed.  Here's what I did just now to test:

1. Create a booking manually for one night starting today (no order)
2. No other bookings in the vicinity of this one
3. Go back to product and both today and tomorrow show as partially booked but of course I cannot make a booking using those two dates as check-in and check-out.

*Desired R

[2017-04-25 13:20] jessepearson opened #112 "Today showing partially available when not available"
As pointed out [in this comment](https://github.com/woocommerce/woocommerce-accommodation-bookings/issues/110#issuecomment-297024441), if *today* only has **check out** times available, it should show either **fully booked** or unavailable.

#### Affected ticket(s)

n/a

#### What I expected

If *today* is not able to be booked to show either fully booked or unavailable.

#### What happened instea

[2017-04-25 13:20] jessepearson commented on #110
@linkhousemedia So if *today* only has **check out** available, it should show **fully** booked instead of **partially** booked, correct?

Just created #112 to get this fixed ;)

[2017-04-25 13:22] jessepearson opened #113 "Change calendar to default to Calendar always visible"
![](http://cld.wthms.co/RvSo+)
Image Link: http://cld.wthms.co/RvSo

Change the default setting for the calendar to *Calendar always visible* for Accomm products.

-------------------

- [ ] Issue assigned to next milestone.
- [ ] Issue assigned a priority (will be assessed by maintainers).

[2017-04-25 13:25] linkhousemedia commented on #110
Yes that's correct. Thanks... I should have created a new one and linked to this. My bad.

[2017-04-25 13:44] bor0 commented on #111
@jessepearson this could be fixed by the recent stuff we've done w.r.t. time ranges. Were your testings on latest master or 1.0.8?

[2017-04-25 13:49] jessepearson commented on #111
@bor0 They submitted a ticket with a System Status Report that shows older versions of everything. I've asked them to update on a staging site to see if it corrects the issue for them.

[2017-05-01 12:08] jessepearson opened #114 "Display price is showing incorrectly"
Price shows incorrect due to it is being divided by the min duration. The code for this is currently [here](https://github.com/woocommerce/woocommerce-accommodation-bookings/blob/master/includes/class-wc-product-accommodation-booking.php#L154-L156)

#### Affected ticket(s)

[forum thread](https://wordpress.org/support/topic/change-the-from-100-per-night-display-value/)

#### What I expected

Price

[2017-05-01 18:03] madeincosmos opened #115 "[Product Vendors compatibility] Commission field is missing"
#### Affected ticket(s)

568876-zd-woothemes

#### What I expected

To set vendor commission on my Accommodations product

#### What happened instead

Even though bookable products have a commission field, accommodations ones do not:

![Screenshot](http://cld.wthms.co/j1QuY+)
Screenshot: http://cld.wthms.co/j1QuY

I can only set commission globally for the whole vendor. When I do that, I can see i

[2017-05-02 19:25] Elan42 commented on #114
Why this is so unstable ?
Please solve this problem :(

[2017-05-03 11:48] jessepearson commented on #114
@Elan42 This bug is not a stability issue, it's just a cosmetic problem. The functionality of how a booking works, and the pricing applied are still correct.

[2017-05-03 12:15] Elan42 commented on #114
Cosmetic issue??
We are online,  in production,  with a website renting apartments with a wrong (cosmetic)  price.

Customers of our customer,  compliain about that and want discounts in the prices.
We are losing thousands of $ every day.

[2017-05-03 12:26] jessepearson commented on #114
@Elan42 Yes, the correct price is still charged, so it is a cosmetic/display issue.

If this is costing you money, please download the version from PR #116 , test on a staging site to make sure the prices are displayed correctly, and then deploy to your production site once confirmed.

[2017-05-03 13:29] #114 closed

[2017-05-03 14:00] jessepearson commented on #115
Changed this from a bug to an enhancement per the notes here: https://github.com/woocommerce/woocommerce-product-vendors/pull/261

Accommodations does not properly calculate commissions at this time when used with Product Vendors.

[2017-05-04 18:42] geeklore commented on #62
Another customer requested this today.

[2017-05-08 21:27] giuliaPregusta commented on #90
Hi! I have:
WooCommerce 3.0.5
WooCommerce Bookings 1.10.0
WooCommerce Accommodation Bookings 1.9.15

when I try to publish an accomodation product, it appears me the FATAL ERROR:
Fatal error: Uncaught exception 'Exception' with message 'Invalid data store.' in /home/pregusta/public_html/wp-content/plugins/woocommerce/includes/class-wc-data-store.php:90 Stack trace: #0 /home/pregusta/public_html/wp

[2017-05-09 09:00] bor0 commented on #90
Hi @giuliaPregusta, latest Bookings is 1.10.1 and Accommodation Bookings is 1.0.9. It's unclear to me the Accommodation Bookings version that you're using, can you please confirm them?

[2017-05-10 07:02] SiR-DanieL opened #118 "Tax fields missing"
#### Affected ticket(s)

568578-zd-woothemes

#### What I expected

To see the Tax fields in the General tab, like for Bookable products.

#### What happened instead

No Tax fields.

![](http://cld.wthms.co/hrI4v+)
**Image Link**: http://cld.wthms.co/hrI4v+

-------------------

- [ ] Issue assigned to next milestone.
- [ ] Issue assigned a priority (will be assessed by maintainers).

[2017-05-10 11:23] jessepearson commented on #118
Fixed in #117

[2017-05-10 11:23] #118 closed

[2017-05-15 07:28] bor0 commented on #83
Hi @jobthomas, I wasn't able to reproduce this on latest master with Bookings and Accommodation Bookings. Can you please double-check? Thanks!

![untitled12345](https://cloud.githubusercontent.com/assets/1620929/26046767/d528ac06-3950-11e7-8b7a-2d2ab37710fb.gif)

[2017-05-15 20:35] geeklore opened #119 "When booking a year out, first day is fully booked when should be partially booked"
#### Affected ticket(s)
574150-zd-woothemes

#### What I expected
When booking a few nights a year out, I would expect the first day to be partially booked, allowing the day to still be used as a checkout day. This works for any booking short of 1 year.

#### What happened instead
When I book a year out, the first day is fully booked.

![see screen shot](http://cld.wthms.co/DG1Eh+)
Link: http://cl

[2017-05-16 11:32] jessepearson commented on #119
Confirmed, same results. Pretty funny how that happens.

[2017-05-22 19:11] jessepearson opened #120 "Availability rules being ignored"
Currently availability rules are being ignored.

#### Affected ticket(s)

568578-zd-woothemes

#### What I expected

For availability to match the rules set.

#### What happened instead

I can only make one booking, even though 5 should be available.

#### Steps to reproduce the issue

1. Create new Accomm product
1. Set calendar to display by default
1. Set availability to 5
1. Save
1. View produ

[2017-05-22 19:20] kristinaplauche commented on #120
I confirmed.
![screenshot](http://cld.wthms.co/4c5C2+)
Image link: http://cld.wthms.co/4c5C2

[2017-05-23 14:16] jobthomas commented on #83
@bor0 sorry for the very slow reply. It's working now indeed.

[2017-05-23 14:16] #83 closed

[2017-05-29 16:40] jessepearson commented on #120
I believe this issue is here:
https://github.com/woocommerce/woocommerce-accommodation-bookings/blob/1.0.9/includes/class-wc-accommodation-booking-date-picker.php#L101-L108

[2017-05-30 08:08] #120 closed

[2017-05-31 11:25] #112 closed

[2017-05-31 11:28] budzanowski commented on #111
Is there any update?

[2017-06-02 14:53] jessepearson opened #123 "Display cost being ignored."
This may be due to [this update](https://github.com/woocommerce/woocommerce-bookings/pull/1173), but the **Display cost** is no longer being used for Accomm products.

#### Affected ticket(s)

568578-zd-woothemes

#### What I expected

For the **Display cost** to be used on the front end.

#### What happened instead

**Display cost** is being ignored.

#### Steps to reproduce the issue

1. Create

[2017-06-02 20:59] jessepearson opened #124 "_wc_booking_cost being used for Accommodation products"
`_wc_booking_cost` is the **Base cost** for bookable products, however, this field is not used for Accommodations. If a user were to start off with a bookable product, then switch to an accommodation product, this field remains populated and is used in calculations.

#### Affected ticket(s)

568578-zd-woothemes

#### What I expected

Bookable product costs to not affect Accomm products.

#### What

[2017-06-14 08:00] #123 closed

[2017-06-15 12:24] bulgaru opened #126 "Accommodation products enforce using range selection in calendar"
#### Affected ticket(s)

#### What I expected

When configuring the product, to have the option to enable the calendar and disable range selection (i.e. i select only the start date for the booking and indicate the number of nights in the input box).

#### What happened instead

There is no option to disable range selection.

#### Steps to reproduce the issue

1. Create bookable product first, wit

[2017-06-15 13:23] bulgaru opened #127 "Resource availability calculated incorrectly"
#### Affected ticket(s)

#### What I expected

I have 15 rooms. I book 5 for days 1 to 5. All 5 days are shown as partially booked in the calendar. I can still book another 10 rooms for each of the days 1 to 5.

#### What happened instead

I have 15 rooms. I book 5 for days 1 to 5. All 5 days are shown as fully booked in the calendar. I cannot book another room for each of the days 1 to 5.

#### S

[2017-06-15 14:47] jessepearson commented on #126
@bulgaru I created a filter to be able to change this setting in PR #128. Can you test out the branch there and let me know how the filter works for you?

[2017-06-15 16:19] #126 closed

[2017-06-15 16:44] jessepearson commented on #127
Confirmed this as a bug, @mattyza not sure who you wanted assigned to this.

Both results are incorrect. Below are my settings:

General and persons:
![](http://cld.wthms.co/c1rNR+)
Image Link: http://cld.wthms.co/c1rNR

Resource settings:
![](http://cld.wthms.co/IJMjyw+)
Image Link: http://cld.wthms.co/IJMjyw

Result when resource is automatically assigned: ❌
![](http://cld.wthms.co/zK5t5+)
Image

[2017-06-15 16:56] jessepearson opened #129 "Fully booked days not showing correctly when persons are used"
If persons are used and counted as bookings, days that are fully booked do not show fully booked.

#### Affected ticket(s)

Found when testing #127.

#### Steps to reproduce the issue

1. Create Accomm product with below settings
1. View product
1. Select date range
1. Increase person count to 15 (to max out availability)
1. Add to cart
1. Calendar will show days as partially booked, not fully boo

[2017-06-16 11:29] bor0 commented on #127
Before working on this I believe we first want to have https://github.com/woocommerce/woocommerce-bookings/pull/1213 resolved first.

[2017-06-16 11:50] jessepearson commented on #127
Agreed.

[2017-06-21 16:37] silicondales opened #130 "Start and End Date Not Populated on Bookings"
#### What I expected

Installed woocommerce (3.0.8), woocommerce bookings (1.10.3) and woocommerce accommodation bookings (1.0.9) in plain old twenty seventeen theme.

A simple accommodation product is made with a zero fee to test.

After booking, the start and end date should display here:

![image](https://user-images.githubusercontent.com/17259256/27395475-d373abe4-56a7-11e7-86ec-b2350fb2c983.p

[2017-06-21 16:44] silicondales commented on #130
So this is a staging site of the client install - I'm going to test in an fresh copy to sanity check if there's something weird going on in there.

[2017-06-21 16:49] silicondales commented on #130
Urgh its client side...

![image](https://user-images.githubusercontent.com/17259256/27396077-e4e95016-56a9-11e7-949d-6e16614a246c.png)

Sorry for flagging this.

[2017-06-21 16:49] #130 closed

[2017-06-21 17:15] silicondales commented on #130
Ah I found it. Its so simple - somehow the checkin and checkout time was removed from settings on one of the upgrades (must have been WC update of Oct 20126 as that is all that updated when it "stopped working"), strangely enough this data was populating in the order side as it should, but was not stored in WC settings. Going in there it was blanko, and re-populating this info causes everything el

[2017-06-22 07:36] Rj2580 opened #131 "Woocommerce booking"
hello, I have a car business where the availability is custom. I have a car type 1, with maximum 5 availability, but it varies monthly, so I have used the resources to override the availability function.
![1](https://user-images.githubusercontent.com/29622208/27422267-22e46198-574b-11e7-9971-4bb23965640d.jpg)
![2](https://user-images.githubusercontent.com/29622208/27422268-231ba202-574b-11e7-9014-

[2017-06-22 11:19] budzanowski commented on #129
This waits for https://github.com/woocommerce/woocommerce-bookings/pull/1242 and will need to be retested or worked on after the 1242 lands.

[2017-06-22 12:48] jessepearson commented on #131
@Rj2580 Can you create a ticket through your http://WooCommerce.com account, then let us know your ticket number? This repo is for bugs with Accommodations and isn't for support of Bookings.

[2017-06-22 12:49] jessepearson commented on #131
*Reopening, just in case you cannot add the ticket number in a closed issue.*

[2017-06-23 11:46] WillBrubaker opened #132 ""From" pricing not working as expected"
#### Affected ticket(s)
ticket: 590232-zd-woothemes

#### What I expected
When I set a "From" price to be displayed, for that price to be displayed

#### What happened instead
If there is a minimum number of nights of `2` configured, the 'From' price is divided by 2

#### Steps to reproduce the issue
1. An accomodation product exists. It is configured with a display cost of 100
2. That product is

[2017-06-23 12:38] bor0 commented on #132
@WillBrubaker can you please re-test this against latest master? I did, and as far as I checked it is not reproducible, but it is reproducible on 1.0.9. I believe #116 (combined with #125) are the reasons for this being fixed.

[2017-06-26 11:34] silicondales commented on #127
Hi all,

Posting a "me too" for now, with a little more detail. This happens my side even without resources or persons in use, but multi-day bookings mark date as full on either first or second booking, even if there should be 20x (or 999x) rooms available.

This also means dates are marked as full when a pending booking is sitting across the dates, which is far from ideal.

Reported by customer b

[2017-06-26 11:39] silicondales commented on #127
![image](https://user-images.githubusercontent.com/17259256/27537502-13000d12-5a6c-11e7-91a4-4907518c9d2f.png)

above calendar relates to

![image](https://user-images.githubusercontent.com/17259256/27537558-516a3eba-5a6c-11e7-885a-b676c70d6907.png)

Product should allow up to 20x bookings, based on:

![image](https://user-images.githubusercontent.com/17259256/27537586-6a80fa9c-5a6c-11e7-8301-90dc

[2017-06-26 11:40] silicondales commented on #127
So the "middle" date of the 5-7th booking is marked full, immediately.

[2017-06-26 13:49] jessepearson commented on #132
Closing this, it was fixed in the PRs Boro mentioned.

[2017-06-26 13:49] #132 closed

[2017-06-28 13:34] silicondales commented on #127
Just about to do some testing with the fixes on master, and see if I can get this working as client is somewhat motivated to have this resolved :) if I can make any headway I may come back in with a PR. Note, I think I'm on the same issue (albeit presenting slightly differently) Or should I post a new one relating to the exact circumstances (which is something like "accommodation bookings incorrec

[2017-06-29 12:16] madeincosmos opened #133 "Fallback to default checkin/checkout time values"
#### Affected ticket(s)

593753-zd-woothemes

#### What I expected

To check booking dates of a booking for an accommodation product.

#### What happened instead

The booking didn't have any start or end date set at all:

![Screenshot](http://cld.wthms.co/WoFHD+)
Screenshot: http://cld.wthms.co/WoFHD

When I opened booking details, start and end time were at 1970 Jan 1st:

![Screenshot](http://cld

[2017-06-29 18:41] jessepearson commented on #127
@silicondales I believe the issue you are referring to is the same. We just released Bookings 1.10.4 and we were hoping it was going to help relieve this issue, but it appears it did not, I still have incorrect results :(

[2017-06-30 22:43] budzanowski commented on #129
With 1.10.4 problem still exists.

[2017-07-05 08:06] budzanowski commented on #127
@mattyza  @jessepearson  I have analysed the Critical bug and it looks like: `bookings` does everything correctly and in a clean fashion thanks to the @bor0  refactor. The problem starts when at the end of `WC_Bookings_Controller::find_booked_day_blocks`  the hook `woocommerce_bookings_booked_day_blocks` is called. `accommodation-bookings` are hooked to that with function `WC_Accommodation_Booking

[2017-07-05 08:55] silicondales commented on #127
Yeah I didn't get even a good workaround when I was looking at this last week, and did not get a working result. Unfortunately, in our case, the client essentially wants to go to sleep until this is fixed, and we don't have any maintenance contract which inspires any activity here... therefore, we have a (paid up) backlog to concentrate upon. It looked to me like a similar rabbit hole @budzanowski

[2017-07-12 09:28] bor0 commented on #133
@madeincosmos I'm fine with having a default fallback value, but what should this value be?

[2017-07-12 10:43] madeincosmos commented on #133
@bor0 that's a great question! How about 12:00 checkout & 14:00 checkin? That's most hotels I think :)

[2017-07-12 17:36] melindahelt commented on #127
Also seeing this ins 601294-zd-woothemes

[2017-07-13 12:23] #133 closed

[2017-07-14 08:34] bor0 commented on #131
I wasn't able to reproduce this, but it's possible I'm missing some configuration for the Booking product. @Rj2580 can you please check if it's reproducible in 1.10.4? Should potentially be fixed by bookings/1242.

[2017-07-14 08:34] #131 closed

[2017-07-14 09:05] Rj2580 commented on #131
Yes its solved, thank you for your efforts.

[2017-07-14 09:34] bor0 commented on #89
@jessepearson is this still an issue? It seems to have been fixed according to https://github.com/woocommerce/woocommerce-accommodation-bookings/issues/85#issuecomment-294208772.

[2017-07-14 10:26] bor0 commented on #127
This should be fixed by #134. Will sync with @budzanowski next week.

[2017-07-14 10:51] silicondales commented on #127
Will give this a blast in a test later today with the bookings / accommodation PRs and confirm working for my case...

[2017-07-14 15:31] jessepearson commented on #89
@bor0 Yup, it no longer does this.

[2017-07-14 15:31] #89 closed

[2017-07-20 11:43] silicondales commented on #127
Hey guys - just to confirm, the master bookings and accommodation bookings *fixes* the issue I experienced absolutely in all tests I have tried.

[2017-07-20 11:44] bor0 commented on #127
@silicondales that's great to hear. Can you be more specific about which branch of accommodation bookings you tested? Was it master, or some other?

[2017-07-20 12:04] silicondales commented on #127
yeah I tested the most recent master on both bookings and accommodation, as of 15 mins ago. The issue was [the above](https://github.com/woocommerce/woocommerce-accommodation-bookings/issues/127#issuecomment-311035317), and this is resolved using those.

[2017-07-20 12:05] silicondales commented on #127
(i.e. its not exactly the posted issue, but I believe it stems from similar root cause).

[2017-07-20 12:11] silicondales commented on #127
This includes the commit you just added, and that's been the charm for my issue. I will test some of the other scenarios which were failing too and comment back only if there's anything obviously going wrong. Nice work @bor0... praise will rarely surface on this stuff, but definitely a crisp internet high five from me :)

[2017-07-20 14:05] bor0 commented on #127
@silicondales thank you for the kind words! It will be very bad from my side if I were to take all the credit for myself.

There's a whole team behind this, and I'm very happy that we reached a point where Bookings is faster and more stable in terms of bugs, which will allow us to focus on new features/enhancements in the future versions :)

[2017-07-20 14:07] silicondales commented on #127
Yeah I know - props to everyone. But I try to give credit when its due, because lord knows when things are going wrong there's plenty of criticism dished out :)

[2017-07-24 10:04] #127 closed

[2017-07-24 10:04] #129 closed

[2017-08-07 17:42] melindahelt commented on #33
Adding another vote for the ability to set different minimum nights for Weekend vs Weekday reservations.

[2017-08-14 09:28] cedriccharles4 commented on #64
Hi @wpgroun !

I have the exact same issue. Did you find a solution ?

Thank you !

[2017-08-14 12:03] jessepearson commented on #64
@cedriccharles4 This isn't a support forum, this is a place to report bugs when found. This issue is also over a year old.

The first suggestion on what to do would be to turn on debugging and logging in WordPress. If you have FTP access, you can add these lines to your `wp-config.php` file to turn [debugging](https://codex.wordpress.org/Debugging_in_WordPress) on:

[code]

This will make any erro

[2017-08-16 09:03] muzo178 commented on #33
Another vote to be able to add minimum number of nights according to date ranges

[2017-08-30 11:21] Drivingralle opened #138 "PHP Notice after 1.1.0 update"
Hey!

Since the update to version 1.1.0 we get the following notices on the view above the date picker calender:
[30-Aug-2017 10:40:32 UTC] PHP Notice:  Undefined index: 2017-8-29 in /wp-content/plugins/woocommerce-accommodation-bookings/includes/class-wc-accommodation-booking-date-picker.php on line 182
[30-Aug-2017 10:40:32 UTC] PHP Notice:  Undefined index: 2017-8-30 in /wp-content/plugins/wooc

[2017-08-31 20:26] rodrio opened #140 "Unable to save person types."
#### What I expected

When configuring a product, I select "Has Persons" checkbox and "Activate Types of Persons" under Persons tab. I add a new person type, configure it and save the product. I expect the product to keep that person type so it will be shown in the front end for the customer to select number of persons of that type.

#### What happened instead

Instead, after saving the product, t

[2017-09-01 05:13] djcowan commented on #107
Resource costs are not being added to product specific Rate adjustments (Cost for this time period)

[2017-09-01 07:54] bor0 commented on #107
@djcowan if you have found an issue with resource costs please file a separate ticket along with instructions to reproduce. Thanks!

[2017-09-01 12:07] djcowan opened #141 "Resource Costs not added Custom Rate - Date Ranges"
#### What I expected

Expected Resource costs to be added to Dates with Custom Date Range Prices

#### What happened instead

Resource costs are added to dates with no Custom Date Rage Price but are seemingly ignored on dates with prices adjustments

#### Steps to reproduce the issue

Create > Accommodation Booking Product
Enable > Resources && People
Set > Standard room rate
Set > Person Types
Se

[2017-09-01 12:22] jessepearson commented on #140
@rodrio I just tried this out with the latest versions of Bookings and Accommodations and was not able to reproduce the error. Would you be able to confirm the versions of Bookings and Accommodations you are using?

[2017-09-01 12:25] jessepearson commented on #62
Another request via forum thread:
https://wordpress.org/support/topic/block-count-range-type-for-accommodation-product/

[2017-09-01 13:57] jessepearson commented on #141
Confirmed this is an issue. If a range has a different cost, and resources have defined costs, the resource cost is not added in the range.

1. Import: [booking-product-10751-2017-09-01.json.zip](https://github.com/woocommerce/woocommerce-accommodation-bookings/files/1270433/booking-product-10751-2017-09-01.json.zip)
1. Select a range of Mon-Thurs, then select Five Cabins
1. Price will adjust prop

[2017-09-01 15:15] rodrio commented on #140
Hi @jessepearson I actually have Accomodations (1.1.0) disabled and I'm using only Bookings (1.10.7)

It's important to mention:
- We have latest version of Kriesi's Enfold theme (4.1.2) and woocommerce products are using AVIA Page Builder
- We have Woocommerce Easy Booking plugin v2.1.4 (by @_Ashanna - herownsweetcode.com) which is still active and being used in other products. I tried deactivati

[2017-09-01 17:06] jessepearson commented on #140
@rodrio Would you be able to create a staging copy of the site, maybe using [WP Staging](https://wordpress.org/plugins/wp-staging/), and then deactivate everything but WooCommerce, Bookings and Accommodations and see if it still a problem?

If it is, please create a ticket under your WooCommerce.com account and let me know the ticket here so I can follow up.

[2017-09-02 21:00] rodrio commented on #140
@jessepearson I can do that, but first I tried a few further tests and came up with the following:

Steps to reproduce:
1) Create new (blank) product
2) Choose (Enfold's) AVIA Page Builder editor instead of default editor
3) Insert Product Purchase Button (Woocommerce integration)
4) Go to pricing section and select Bookable Product
5) Mark VIRTUAL and mark HAS PERSONS
6) In the persons tab, confi

[2017-09-05 17:16] jessepearson commented on #140
@rodrio This sounds like it may be a conflict with the theme. If you use a default theme like 2017, or the default editor, does the problem still occur.

Again, I encourage you to create a ticket through your WooCommerce.com account for troubleshooting/support purposes.

[2017-09-05 22:37] rodrio commented on #140
Hey Jesse,

Thanks for your time and patience. I will reach them. Have a great day!

[2017-09-05 22:37] #140 closed

[2017-09-06 10:36] enguerranws opened #142 "Woocommerce single product really slow when this product has long booking duration"
#### What happened

Setting a long duration in a booking for a bookable product doesn't affect single product template rendering. After some debugging, I can see that it's coming from the rendering the datepicker which has to check if each day is free, booked or partially booked. from the beginning of the first booking, to the last day of the last booking.

#### Steps to reproduce the issue

Make

[2017-09-06 12:16] jessepearson commented on #140
@rodrio If you let me know the ticket number, I can make sure it's followed up on :)

[2017-09-06 13:09] jessepearson commented on #142
@enguerranws You're correct about this, I found where the problem is, and it's within Bookings itself and not Accommodations. I am going to create a bug in that repo about it.

[2017-09-06 15:10] jessepearson commented on #142
Actually, the problem is [on this line](https://github.com/woocommerce/woocommerce-accommodation-bookings/blob/master/includes/class-wc-accommodation-booking-date-picker.php#L141), `get_all_existing_bookings` should be used instead of `get_bookings_for_objects`.

[2017-09-06 15:19] enguerranws commented on #142
Will `get_all_existing_bookings` will get the relevant booked days? (by relevant, I mean: between today and the end of the displayed calendar)

[2017-09-06 15:24] jessepearson commented on #142
`get_all_existing_bookings` gets the min/max times from the product settings and then limits the query of existing bookings to between those dates. I've just created a pull request if you'd like to test it out, you can download the edited version here:
https://github.com/woocommerce/woocommerce-accommodation-bookings/tree/fix/issue-142

[2017-09-06 15:25] #142 closed

[2017-09-07 07:48] #138 closed

[2017-09-10 11:40] fabrikgrafik commented on #130
Hi,

I'm experiencing this exact issue on my live site at the moment. Is there something we can do to fix this? A solution would help me out so hard!! I've been going nuts to figure out what happens. I have to email a customer to ask them what dates they booked now ... which is pretty embarrassing.

**What happens:**
1) Clients makes booking and chooses start & end date
2) Client goes to cart, eve

[2017-09-11 15:49] WPprodigy commented on #119
Another report: https://woothemes.zendesk.com/agent/tickets/674246

[2017-09-18 14:13] blue928 opened #144 "Selecting a new End Date actually resets the Start Date with that Calendar value"
Problem: Selecting a new End Date, especially after an error is thrown, resets the Start Date instead. In other words, it forces the user to have to restart the entire booking process, which isn't at all obvious and is a very confusing user experience.  Please see the video for a visual.

https://youtu.be/4wm4ZfTNqKA

The settings are set so that this room has a max reservation of 7 days. A person

[2017-09-18 22:52] fabrikgrafik commented on #76
This issue still excists when for example you select range of days (not bookable) in the "availability" tab because disabling these dates in the backend will do this based on days and not based on check-in or check-out times.

For example I want to limit bookings in november, in the availability tab I choose "range of days not bookable from 3 to 15 november". My client wants to book my accommodati

[2017-09-20 06:49] johndcoy opened #145 "Add rate option to discounted Standard Room Rate for specific number of nights booked."
Similarly to how the **Block count** cost option for Bookable products, allow a store owner to reduce the rate for an Accommodation product based on duration of stay.

Currently, users can only override the cost ( _Standard Room Rate_ ) for a range of dates rather than reduce the cost based on duration of stay.

See: [Change Price of Booking Based on Duration Stay](https://docs.woocommerce.com/doc

[2017-10-04 16:49] zandyring opened #146 "Be able to view remaining bookable blocks for day-based blocks"
A customer in chat today asked to be able to view his remaining bookable blocks, but he was using day-based blocks (instead of time-based blocks). It would be great to be able to view the blocks remaining with day-based blocks on hover on the calendar.

-------------------

- [ ] Issue assigned to next milestone.
- [ ] Issue assigned a priority (will be assessed by maintainers).

[2017-10-05 14:20] jessepearson commented on #146
Moved to: https://github.com/woocommerce/woocommerce-bookings/issues/1420

[2017-10-05 14:20] #146 closed

[2017-10-11 11:14] madeincosmos opened #147 "Can't block certain dates for checkin only"
#### Affected ticket(s)

726671-zen

#### What I expected

To disable checkin on October 31st (but still let customers check out on that day)

#### What happened instead

I've added the following availability rules:

![Screenshot](http://cld.wthms.co/DZqL1O+)
Screenshot: http://cld.wthms.co/DZqL1O

All dates with a 'No' can't be selected in the calendar, even as a checkout date:

![Screenshot](htt

[2017-10-18 18:39] geeklore opened #148 "Maximum number of nights allowed option set to 0 breaks page"
#### Affected ticket(s)

zd-woothemes-743674

#### What I expected

Under the General tab is the Minimum and Maximum number of nights allowed in a booking.

When you set `Maximum number of nights allowed in a booking` to `0` and update, it should not save and should throw an error that a minimum value is required.

#### What happened instead

The customer was able to save the `0` value.

Replicati

[2017-10-26 11:54] ad-on-is opened #149 "woocommerce-bookings: Resource bookings overlapping when automatically assigned with customer defined blocks"
Before I describe the problem, let me first explain the use-case.
We have 2 bowling alleys (Stand 1, Stand 2) that can be booked in 30-minute-blocks. I.E. the user can book an alley from 8:00 and set the duration to i.e. 3 x 30 minutes.

**The bookable product is configured as follows:**

General
![image](https://user-images.githubusercontent.com/9553253/32027599-39592e8e-b9ea-11e7-8874-90367acce6

[2017-10-26 16:31] ad-on-is commented on #149
Sorry, my bad...

I had to set:
Check rules against... to "All blocks beeing booked".

Now everything works as expected.

[2017-10-30 16:41] #149 closed

[2017-11-06 23:02] nrodriguez02 opened #151 "When i add a product to the cart, the whole product disappears for all users"
776840

 I expected the product keep been visible with the appoinments days mark like happends with woocommerce booking instead

The whole product disappears for all the users and also dissapear the wordpress admin top bar in that page until the product was removed from the cart

set some product on type accommodation booking and add to cart
i try with other theme like Storefront in a clean instal

[2017-11-07 10:34] lakhassane opened #152 "Booked dates showing fully booked after only one booking"
I am not sure if I do it all well but after one booking, the range displays fully booked.

![capture](https://user-images.githubusercontent.com/8411231/32489206-78550db4-c3af-11e7-929c-abdfcc74ae66.PNG)

In my availability configuration here are what I put.

![capture](https://user-images.githubusercontent.com/8411231/32489251-a0819e6a-c3af-11e7-8c50-41254b04362d.PNG)

[2017-11-07 10:57] lakhassane commented on #152
I managed to pass this.

The issue was handled with this update : https://github.com/woocommerce/woocommerce-accommodation-bookings/pull/122/commits/a981a43bbcc1e9837be82737792b9015ca9751d9

[2017-11-07 10:57] #152 closed

[2017-11-07 19:03] WPprodigy opened #153 "Corrupted check-in dates in DB"
Found this on a customer site,

![error](http://cld.wthms.co/utFLdx+)

which caused "Sorry, the selected block is not available" or "Sorry, bookings cannot start on this day." errors for every date depending on the restrictions setup. Essentially it causes the `_start_date` to be empty in the data because of this line: https://github.com/woocommerce/woocommerce-accommodation-bookings/blob/15f58dbb

[2017-11-07 19:07] WPprodigy commented on #153
Update: Oh, it's here: https://github.com/woocommerce/woocommerce-accommodation-bookings/blob/7cd81bcf8e9cb36a6fbf76706d1d1d58c1b920b0/includes/admin/class-wc-accommodation-booking-admin-product-settings.php#L40

Saving the fields removes the AM/PM and solves the error. The default data is wrong. Also, if we are going to have default data it should show up in the admin as well in the fields for ch

[2017-11-07 19:18] WPprodigy commented on #124
This is a lot more of an issue than it seems I believe. When I create a new test site and create a simple accommodation product like this: http://cld.wthms.co/WIGJOt, it doesn't work and shows as $0: http://cld.wthms.co/4dOZF

[2017-11-08 09:08] mattyza commented on #151
@nrodriguez02 - Hi there. It sounds like perhaps your availability settings for this product are set that only one is available/in stock?

I'm curious about the admin bar disappearing. That could be caching, or a styling conflict with your theme or another plugin.

[2017-11-08 12:38] nrodriguez02 commented on #151
Hi mattyza, i'm trying everithing
I already try on a clean installation on my localhost, with another theme "Storefront" and using only the 3 plugins needed Woocommerce 3.2.3, Woocommerce Bookings 1.10.1 and Woocommerce Accommodations 1.1.0 and happend the same issue...
Also i did some test and that issue only happends with Woo Accomodations, when i put the product type on Booking and add the prod

[2017-11-08 13:22] nrodriguez02 commented on #151
I already fixed by let this line

/**
	 * Get amount of available product resoureces on a specific timestamp
	 * *@param $product
	 * *@param $resource
	 * *@param $date
	 */
	private function get_product_resource_available_blocks_on_time( $product, $resource, $time ) {
		$blocks = $product->get_blocks_in_range_for_day( $time, $time, $resource, array() );
		**$available_blocks = wc_bookings_get_ti

[2017-11-08 16:37] nrodriguez02 commented on #151
Solved!! Was a problem with the version of woo bookings, i update the plugin and the problem get fixed

[2017-11-08 16:37] #151 closed

[2017-11-09 17:05] keninbassart opened #154 "Calendar Shows Incorrect Image on Checkout Date"
#### Affected ticket(s)

775262-zen

#### What I expected

When booking an accommodations product that already has an existing reservation the calendar should show the first half of the first day of the reservation greyed out, then the full days greyed out, then the checkout date should be greyed out on the _first half_ of the day.

#### What happened instead

In this case the checkout day has the

[2017-11-12 13:26] MindyPostoff commented on #124
Another report of this in an atomic site on WordPress.com: 787750-zen

[2017-11-13 06:43] ValeDeOro commented on #124
The customer booked a WooCierge session to get the bug sorted. Is there an ETA on this, so I can tell him whether to wait or to look for an alternative solution?

[2017-11-13 06:44] ValeDeOro commented on #124
Changing this to critical, because without being able to charge for the accommodation, the plugin is essentially broken (from the customer point of view).

[2017-11-13 10:22] #148 closed

[2017-11-14 12:29] jessepearson commented on #124
@mattyza Something must have changed in the most recent version of Bookings that is causing this to be more of a problem. If I recall correctly, this was previously only an issue if a customer created a Bookable product, entered a cost, then switched the product to being an Accommodation product. Now it seems this happens for all new Accommodations products.

[2017-11-20 18:16] WPprodigy commented on #145
Had a request for this today. It does make a lot of sense that people would need to offer discounts to appeal to those staying for a longer period of time.

[2017-11-20 18:19] WPprodigy opened #156 "Confusing Special Rates"
The "range of weeks" option here is pretty confusing: http://cld.wthms.co/yDW6sg. The customer at first thought it was dynamic, meaning they could offer discounts rates for the second week the customer was booked with them. (This isn't possible, but I think it should be https://github.com/woocommerce/woocommerce-accommodation-bookings/issues/145 :) )

Turns out, it is actually just a way to change

[2017-11-21 21:13] jessepearson commented on #124
@laurendavissmith @bor0
Just got an update on this in 787750-zen , and it's fixed, but not at the same time. If existing Accomm products have the 0 (or other number) in place, then the incorrect cost is still used until the Accomm product is saved again. The problem here is that this began in an update and customers may not know that the incorrect prices are being used until several orders have go

[2017-11-22 10:46] mattyza commented on #124
Re-opening this, to ensure this doesn't get lost.

[2017-11-22 12:12] madeincosmos opened #157 "Unclear wording of the message that shows when a day is fully booked"
#### Affected ticket(s)

804967-zen

#### What I expected

To make a booking that overlaps with fully booked days.

#### What happened instead

I got the following error message that's not super user friendly:
[code]
![Screenshot](http://cld.wthms.co/HhAyZh+)
Screenshot: http://cld.wthms.co/HhAyZh

It would be much simpler to say "29/11/2017 is fully booked! Please choose different dates".
#### St

[2017-11-27 08:55] bor0 commented on #153
@WPprodigy can you confirm the proposed PR fixes the issue? Thanks!

[2017-11-27 16:03] WPprodigy commented on #153
I couldn't replicate how these defaults actually ended up being used, but I'm gonna assume that fixes it.

One other thing though - it would be nice if the defaults showed up in the settings, at the moment the times are just empty even though apparently defaults are set.

[2017-11-27 19:59] sstudebaker opened #159 "Check-in and Check-out days - add class for styling to differentiate the two"
#### Affected ticket(s)

#### What I expected

The Calendar is causing a great deal of confusion as far as what dates are available for booking. Example is at http://www.galenalodge.com/product/stars-perch-yurt/ (See January). My client is getting many calls about this as people are frustrated trying to book a yurt stay.

![screen shot 2017-11-27 at 12 51 36 pm](https://user-images.githubuserconte

[2017-11-28 08:22] bor0 commented on #153
@WPprodigy can you tell me how to reproduce that?

They seem to show up properly on my side. Initially they're showing 14:00 and 12:00. I set them to 15:00 and 11:00 and then they show as 15:00 and 11:00 on reload. Also in the database:
[code]

[2017-11-28 21:37] WPprodigy commented on #153
Scratch that, it's working now 👍

[2017-11-28 21:37] #153 closed

[2017-12-01 09:44] danjjohnson commented on #154
I looked into a temporary CSS fix, but it seems there is no difference in CSS classes between a partially booked date on check-in date or check-out date, so there is nothing available to target for this change, it will require some more extensive changes.

[2017-12-05 22:11] mascueto opened #160 "Notice: Undefined index: product-booking in wp-content\plugins\woocommerce-accommodation-bookings\includes\class-wc-accommodation-booking.php on line 32"
Hi,

I'm getting the notice above after updating. Can someone help pls.

Regards,

[2017-12-06 19:04] madeincosmos opened #162 "Add price range multipliers, like for Bookable products"
#### Affected ticket(s)

830022-zen

#### What I expected
To have 4 pricing options - weekday low season, weekend low season, weekday high season, weekend high season.

#### What happened instead

This is possible with standard Bookable products - I can add one rule to increase the price on the weekends, and another one to increase the price in high season:

![Screenshot](http://cld.wthms.co/9rOIG

[2017-12-08 10:14] danjjohnson commented on #154
@mattyza I'm guessing this won't be a high priority. Is it worth keeping the ticket on hold or should we tell the customer it will likely be a while before it's addressed?

[2017-12-11 08:19] mattyza commented on #154
@danjjohnson - I'd suggest informing the customer that this will be addressed in one of the next two minor versions of Bookings (1.11, or 1.12) and in the first half of 2018.

[2017-12-11 08:36] Luminus commented on #162
The customer on 823246-zen brought this up as well.

[2017-12-11 17:25] danjjohnson opened #163 "Compatibility with Points and rewards"
#### Affected ticket(s)

835222-zen

#### What I expected

When creating an accommodation product with Points and rewards installed, I would be able to specify the amount of points earned when purchasing the product

#### What happened instead

Instead when switching to Accommodation Product, the 'Points Earned' and 'Maximum Discount' fields are hidden from the Product Details area.

#### Steps to

[2017-12-11 17:33] danjjohnson commented on #82
Also reported/requested in 835222-zen

[2017-12-12 12:57] ValeDeOro opened #164 "Fatal error when disabling WooCommerce while Bookings Accomodations is still active"
#### Affected ticket(s)

Chat: https://www.olark.com/transcripts/cFCpWwYOJulqUUl33W3JT0P92JEaAkoj

#### What I expected

The customer wanted to deactivate and reinstall WooCommerce to roll back from version 3.2.5 to 3.2.4 (because WooCommerce POS is not compatible yet). They expected to be able to deactivate WooCommerce, uninstall the current version, reinstall the previous version and be done wit

[2017-12-17 19:55] NickKellett opened #165 "My Account > Bookings page shows only up to 5 bookings"
#### Affected ticket(s)

None

#### What I expected
This might be a Bookings bug, but anyway...I am using the Accommodations extension and I have created approximately 11 orders and bookings for a user account. When I login as that user and go to My Account > Orders page, I can view all my orders on the Orders page, and paginate between the Orders result set. When I go to the My Account Bookings p

[2017-12-18 12:54] jessepearson commented on #165
@NickKellett There should be a *next* link at the bottom of the page similar to this:

![](http://cld.wthms.co/zdCpjq+)
Image Link: http://cld.wthms.co/zdCpjq

If it isn't there, it's a Bookings issue either with variables or templates. If you add another booking, just for testing sake, and it doesn't appear, please submit a support ticket.

[2017-12-25 07:26] iMazed commented on #147
Howdy folks! The user in ticket 726671-zd-woothemes is still waiting for an answer on this one. Can we get an update on it, please? :) thank you!

[2017-12-27 16:30] zwiesman31 opened #166 "When booking a year from current month, costs not applied"
#### Affected ticket(s)

868591-zen

#### What I expected

When setting up an "Accommodation product" with rates based off of "Range of months", costs should always be applied to those months, whether they are in the current year, or a year in the future.

#### What happened instead

When setting up an "Accommodation product" with rates based off of "Range of months", costs are not applied to a ye

[2018-01-02 13:38] jessepearson commented on #147
I believe this is a limitation of the jQuery datepicker itself, it only turns full days on or off, and it isn't aware if a day should be only selectable in certain instances.

The team would need to create logic within the JS that uses the datepicker to determine if the date is available for check out, but not for check in. As @madeincosmos mentioned, it's a very similar instance in https://github

[2018-01-04 16:54] unlimitedit commented on #165
Same problem seen on one of my client's sites (see attached image). 'Next' button missing. Limited to 10x _Upcoming Bookings_ and 10x _Past Bookings_. Need an quick fix please.

Woocommerce 3.2.6
Woocommerce Bookings 1.10.11
WordPress 4.9.1

![woocommerce_bookings_10_visible_limit](https://user-images.githubusercontent.com/7138599/34574458-5d338de2-f16f-11e7-925c-3356689bf44c.png)

[2018-01-05 15:11] dwainm commented on #124
I have a WIP branch on this locally.

[2018-01-08 13:45] iMazed commented on #162
Another one in 887476-zen.

[2018-01-16 09:41] dwainm commented on #124
Spent some time looking into this.

Adding a workaround for this has caused many other data issues which I don't think is worth the headache.

The update script is not worth it as I see it as a niche case and we have a workaround.

The only viable option here is to advise users to resave the product.

CC @mattyza

[2018-01-16 10:20] mattyza commented on #124
Thanks @dwainm. @jessepearson, is there somewhere we can note this for Happiness' reference?

[2018-01-16 15:34] ValeDeOro commented on #124
We could add this to the FAQs on both the Booking documentation as well as on the dotorg repository docs (where the accom plugin lives). Something like:

**Q: Why do my Accommodation Products show higher prices than I defined in the dashboard?**
A: If your accommodation product was created before [date?], it is possible that a recent update changed the existing pricing calculation. The best way to

[2018-01-16 21:56] NickKellett commented on #165
I've submitted support ticket to WooCommerce.

[2018-01-16 21:56] #165 closed

[2018-01-24 18:29] #163 closed

[2018-01-24 19:18] jessepearson commented on #124
@dwainm @mattyza @ValeDeOro Sorry for the late reply, a bit behind on emails.

Advising them in the FAQ to do this would work, I just don't know how many customers aren't noticing if the correct amount is being charged to them or not. I guess that would be a *shame on them* for not noticing that the right amount is being charged?

If we're okay with that, then the FAQ is fine. I wouldn't include a

[2018-01-25 08:54] mattyza commented on #124
Thanks @jessepearson @ValeDeOro. Re-opening so we can get the docs updated.

Would you mind helping with wording this, @ValeDeOro ?

cc @dwainm

[2018-01-25 11:44] #160 closed

[2018-01-25 12:29] davexpression opened #167 "Hides Price: It hides "From: $123" price text"
#### Affected ticket(s)

#### What I expected
To see price text in the widget just like bookable product type

#### What happened instead
The price tag is empty

#### Steps to reproduce the issue
Just create an accommodation product, add resources and price

-------------------

- [ ] Issue assigned to next milestone.
- [ ] Issue assigned a priority (will be assessed by maintainers).

[2018-01-30 08:45] #164 closed

[2018-01-31 07:43] spraveenitpro opened #169 "Ability to set Product level Check in and Check out time"
#### Affected ticket(s)

926703-zen

#### What I expected

Ability to set Product level Check in and Check out time

#### What happened instead

This is global : ![](http://cld.wthms.co/Ao4mEx+)
[Direct Link](http://cld.wthms.co/Ao4mEx+)

-------------------

- [ ] Issue assigned to next milestone.
- [ ] Issue assigned a priority (will be assessed by maintainers).

[2018-02-02 13:51] WillBrubaker opened #170 "rate calculations incorrect"
#### Affected ticket(s)
reported in live chat  - no ticket

#### What I expected
For my rates to be calculated as per the product configuration (and as they were in 1.1.2)

#### What happened instead
Rates are not calculated correctly as configured

#### Steps to reproduce the issue
1. Import this product
[booking-product-6775-2018-02-02.zip](https://github.com/woocommerce/woocommerce-accommodatio

[2018-02-05 17:56] levymktg opened #171 "Add Rate Range by Person Count In Accommodation Product Type"
When creating an accommodation product that includes persons, the option of setting a rate range by persons count is not available as it is in a bookable product.

I need to set a nightly room rate where there is a base rate that is for double occupancy, but the accommodation can host up to 8 people.  For each additional person from 3 - 8, there is a $50.00 up charge.

Currently, I am able to use

[2018-02-05 20:51] laurendavissmith commented on #124
@mattyza @jessepearson @ValeDeOro How does this wording sound? Minor tweaks based off the discussion. Also who can update the docs for us?

**Q: Why do my Accommodation Products show higher prices than I defined in the dashboard?**
A: Due to the caching that we utilize it is possible that a recent update changed the existing pricing calculation. The quickest way to make sure that your prices are c

[2018-02-07 12:51] ValeDeOro commented on #124
I can update the FAQs in our docs. Not sure who'd do the FAQs in the repo, though. Who manages those?

Q: Why do my Accommodation Products show higher prices than I defined in the dashboard?
A: If the prices shown on the product do not match the prices defined in the dashboard, the caching mechanism used for pricing calculation is most likely still using old information (e.g. when you updated the

[2018-02-07 12:54] ValeDeOro commented on #124
https://docs.woocommerce.com/document/woocommerce-accommodation-bookings/

[2018-02-07 13:01] ValeDeOro commented on #124
Looks like in order to get it into the repository one of you lovely people needs to add this information to the readme.txt file of the plugin.

[2018-02-08 18:11] LaurenaRehbein commented on #141
Another report of this here: 948306-zen

[2018-02-13 12:57] #124 closed

[2018-02-15 19:11] DanielSantoro commented on #141
Any updates on this one? Customer is still waiting in the ticket above.

[2018-02-15 19:16] laurendavissmith commented on #141
No ETA yet but I've added it to my list

[2018-02-27 19:45] csscallum commented on #154
This is definitely classed as a temporary CSS hack but I have implemented the following code on a site I'm currently developing:

`.fully_booked + .partial_booked a:after {
    right: auto;
    left: 0;
    transform: rotate(180deg);
}`

The above CSS simply flips the red triangle and positions it left of the date box.

[2018-02-28 14:41] conschneider commented on #141
Got another one: https://woothemes.zendesk.com/agent/tickets/986573

[2018-03-01 11:41] DustinHartzler commented on #145
I had this request today too, via a WooCierge chat 959551-zen.

Seems like this is pretty standard in the hotel industry to charge $100 for a night, but if you reserve two nights, then the per night cost goes down to $95 (or whatever) per night.

[2018-03-01 11:43] DustinHartzler commented on #33
In a WooCierge session (959551-zen), this was brought up as well.

They want to make sure that if a Friday or Saturday night was booked, that it required a two night stay, but if a Wednesday or Thursday was selected, they could offer the option of one night only.

[2018-03-05 09:20] bor0 commented on #141
The way this is architectured is a bit problematic. When prices are entered in the rates, they are entered in the database under the meta `_wc_booking_pricing`, and the rule has `override` set to it. That means any additional calculations done by Bookings (based either on resources or persons) will be simply overriden by what we enter here.

So when we calculate costs within `WC_Booking_Form::calc

[2018-03-05 15:01] madeincosmos opened #175 "Global Add-Ons checkboxes duplicated with Accommodations active"
#### Affected ticket(s)

990873-zen

#### What I expected

To create an add-on with price per night

#### What happened instead

There's two pairs of add-on checkboxes on the Global Add-Ons page:

![Screenshot](http://cld.wthms.co/yN60ZD+)
Screenshot: http://cld.wthms.co/yN60ZD

It's confusing to understand which one of these two I should select

#### Steps to reproduce the issue

----------------

[2018-03-06 19:28] Drivingralle commented on #162
We have a high interest in enabling shop/booking managers to give discounts to long term bookings.
As fare as I understand this issue this would enable it.

I played around with the rules today and find that they are quite strange in the calculation. If two rules match I'm not always sure witch rule wins.

The reason I was playing with it was that I created a patch to add the option to add rules a

[2018-03-09 17:13] laurendavissmith commented on #141
@bor0 Making a note here that we need to provide an update script as part of the PR

[2018-03-12 10:26] madeincosmos opened #179 "Add an option to autocomplete accommodation orders"
#### Affected ticket(s)

1010518-zen

#### What I expected

To set Accommodation order status to Completed upon payment instead of Processing.

#### What happened instead

For Bookable products this is possible by making the product virtual (see: https://github.com/woocommerce/woocommerce-bookings/issues/1257 )

However, Accommodation products don't have the Virtual flag and so it's not possible t

[2018-03-12 10:30] madeincosmos commented on #179
CC @jessepearson @bor0

[2018-03-12 10:57] bor0 commented on #179
Hidden in 435afa62.

[2018-03-12 11:09] bor0 commented on #179
@madeincosmos can you check if #180 resolves it? Thanks!

[2018-03-12 12:35] madeincosmos commented on #179
Thanks @bor0! I can make the product **Virtual** now, but orders don't autocomplete - this probably works only for bookable products ATM

[2018-03-13 07:00] #175 closed

[2018-03-13 10:09] bor0 commented on #179
Thank you @madeincosmos! I used the same approach in Bookings for `WC_Booking_Order_Manager::complete_order`. The reason it didn't work is that the code in Bookings works specifically for products of type `booking`, and we need `accommodation-booking` so I updated the PR.

[2018-03-13 14:34] madeincosmos commented on #179
Works fine for me now ✔️

[2018-03-14 07:07] #179 closed

[2018-03-16 11:42] #141 closed

[2018-03-17 18:29] botea14 commented on #76
Hi guys,

I use WooCommerce Bookings and WooCommerce Accommodation Bookings plugins.

If i set my product as Bookable product, it displays calendar and featured image and i can select period and book hotel room.

If i select my product as Accommodation product, it only displays the price and the room title.

2 photos attached with booking product and accomodation product.

![accomodation](https://

[2018-03-17 18:53] botea14 opened #181 "No calendar and no featured image on Accommodation product"
Hi guys,

I use WooCommerce Bookings and WooCommerce Accommodation Bookings plugins.

If i set my room as Bookable product, it displays calendar and featured image and i can select period and book hotel room.

If i select my room as Accommodation product, it only displays the price and the room title.

In page code source (chrome) i can only see this text:

[code]

Can anyone tell me how can i fix

[2018-03-19 08:50] madeincosmos commented on #76
@botea14 sounds like a JavaScript error triggered somewhere. Please submit a ticket for WooCommerce Bookings at https://woocommerce.com/my-account/create-a-ticket/ so we can check this in details.

[2018-03-19 11:09] jessepearson commented on #181
@botea14 This isn't a place for support, submit a ticket here so someone can assist you:
https://woocommerce.com/my-account/tickets/

Once you've created the ticket, you can place the number back here for follow up.

[2018-03-19 11:09] #181 closed

[2018-03-20 15:48] DustinHartzler commented on #170
Some more details with this configuration:

Adult: $104 per night
Child: $77 per night

Here's the product I'm testing:
[booking-product-198-2018-03-20.zip](https://github.com/woocommerce/woocommerce-accommodation-bookings/files/1830048/booking-product-198-2018-03-20.zip)

*For these prices to work out, I had to enter a block cost of $52, instead of $104, which doesn't make sense, but would allow

[2018-03-21 12:43] gspitzer opened #182 "Cost of automatically assigned Resource is hidden on the front end."
#### What I expected

If there is an extra cost for the displayed room rate, that should be shown on the product page as well.

#### What happened instead

Room rate is $100, automatically assigned Resource cost is $50, so the total for booking 7 nights is $750. As a customer, I have no information about the additional $50.

#### Steps to reproduce the issue

- Create an Accomodation product.
- Se

[2018-03-23 18:14] DustinHartzler commented on #170
@LaurenaRehbein Is it possible to get some eyes on this? I tried helping setting up a WooCierge client and the inaccurate calculations are not making us look good in their eyes.

[2018-03-25 14:20] amandasjackson commented on #171
another request for this here 1029753-zen

[2018-03-28 15:14] jessepearson opened #183 "Accommodation products should have a base cost on top of the nightly cost"
Accommodation products should have a base cost on top of the nightly cost. This makes sense in so many ways, and I am not sure why it doesn't exist at this point.

A work around is to add a resource that is automatically selected with a base cost in it.

[2018-03-29 13:35] madeincosmos commented on #154
@LaurenaRehbein moving over here from https://github.com/woocommerce/woocommerce-bookings/issues/1520, as your suggestion applies best to accommodations products rather than general bookings.

[2018-04-05 21:24] laurendavissmith commented on #170
@DustinHartzler Added to our triage queue

[2018-05-06 00:47] bor0 commented on #179
^ cc @laurendavissmith

[2018-05-07 20:28] DustinHartzler commented on #170
@laurendavissmith - Any idea when this might get a look. Sorry for pestering :)

[2018-05-09 21:59] laurendavissmith commented on #170
@DustinHartzler I've still got it on our triage queue but it will be after we get past GDPR so not until at least the end of May before we'll have a chance to take a look

[2018-05-10 13:13] gfaulk09 opened #184 "Booking Duration Not shown in email"
#### Affected ticket(s)

#### What I expected
I expected it to show the duration in the email just as it shows on the cart page.

<img width="398" alt="screen shot 2018-05-10 at 8 11 19 am" src="https://user-images.githubusercontent.com/39159971/39871278-df72136a-5429-11e8-8415-38aca9526166.png">

#### What happened instead
What happens instead is that the customers and the admin emails only show

[2018-05-17 13:16] mikkamp opened #185 "Bookings duration is not reset causing unavailable slots"
When we initially create a booking product we can set the booking duration. In this example it was set to 7. Later the product was switched to a Accommodation Product, which hides the booking duration field and lets you set the minimum and maximum amount of nights.
However even though the field is hidden it doesn't reset the duration to 1, which means the hidden field will continue to be saved as

[2018-05-23 14:15] melindahelt commented on #145
Had another request for this in live chat today

[2018-05-25 11:25] californiakat opened #186 "Accommodation Bookings giving false warning message"
Getting a warning message: "Accommodation Bookings requires Bookings plugin activated.
Plugin deactivated."

<img width="418" alt="screen shot 2018-05-25 at 13 23 43" src="https://user-images.githubusercontent.com/6988393/40542108-f7bbccda-601e-11e8-9be2-212aba28f98f.png">

There should be no warning message. Both Bookings and Accommodation Bookings are activated.

Steps:
I activated Bookings plug

[2018-05-25 12:17] jessepearson commented on #186
@californiakat It's a known issue if your plugin folder isn't named `/woocommerce-bookings/`.

[2018-05-25 12:17] #186 closed

[2018-05-31 15:49] DenisFrezzato opened #187 "Global Add-ons: random behaviour updating options"
#### What I expected

After updating the options of a global add-on, I expect the options correctly saved.

#### What happened instead

Saved options is different from the options I checked/unchecked. Furthermore, when saving, I get this notice:
`Notice: Undefined index: product-type in /[...]/wp-content/plugins/woocommerce-accommodation-bookings/includes/integrations/class-wc-accommodation-bookin

[2018-06-03 11:10] madeincosmos opened #188 "End date doesn't respect the `woocommerce_bookings_mdy_format` filter"
#### Affected ticket(s)
1197301-zen

#### What I expected

To display calendar dates in the DD/MM/YYYY format, like most of the world outside of US does ;-)

There's a filter for this described in the Bookings docs:

https://docs.woocommerce.com/document/bookings-snippets/#section-8

#### What happened instead

The start date does respect the filter but the end date does not, which creates even mo

[2018-06-03 22:13] TheOnlineExpress commented on #188
Any help with this would be great!

[2018-06-06 06:05] dromero20 commented on #170
@laurendavissmith Sorry for bugging you again :) Any idea when you would have the time to take a look into this? Just for updating the client (he came back today).

[2018-06-08 15:41] roykho commented on #170
This was discussed in our triage meeting and we have a possible solution for this. To be done by the janitor.

[2018-06-19 20:44] laurendavissmith commented on #184
Moved to the ideas board

[2018-06-19 20:44] #184 closed

[2018-06-19 20:52] laurendavissmith commented on #183
Moved to the ideas board

[2018-06-19 20:52] #183 closed

[2018-06-19 21:06] laurendavissmith commented on #17
Moved to the ideas board

[2018-06-19 21:06] #17 closed

[2018-06-19 21:07] laurendavissmith commented on #30
Moved to the ideas board

[2018-06-19 21:07] #30 closed

[2018-06-19 21:08] laurendavissmith commented on #33
Moved to the ideas board

[2018-06-19 21:08] #33 closed

[2018-06-19 21:22] laurendavissmith commented on #42
We moved this idea to the ideas board

[2018-06-19 21:22] #42 closed

[2018-06-19 21:23] laurendavissmith commented on #62
Moved to the ideas board

[2018-06-19 21:23] #62 closed

[2018-06-19 21:57] laurendavissmith commented on #113
Moved to the ideas board

[2018-06-19 21:57] #113 closed

[2018-06-19 21:58] laurendavissmith commented on #115
Moved to the ideas board

[2018-06-19 21:58] #115 closed

[2018-06-20 12:15] bor0 commented on #170
So here's the math for your example @DustinHartzler:

Adult = 104
Child = 77

2 x Adult per 2 nights = 104 x 2 = 208 (subtotal cost)

Since `Multiply all costs by person count` is ticked, we multiply 208 by 2 to get 416.

Now, if we add 1 child, here's the math:
2 x Adult + 1 x Child per 2 nights = 2 x 104 + 1 x 77 = 285 (subtotal cost)

Since `Multiply all costs by person count` is ticked, we mul

[2018-06-20 12:52] laurendavissmith commented on #171
Moving this to the ideas board for further evaluation

[2018-06-20 12:52] #171 closed

[2018-06-20 12:55] laurendavissmith commented on #162
Moving to the ideas board for further evaluation

[2018-06-20 12:55] #162 closed

[2018-06-20 12:56] laurendavissmith commented on #159
Moving to the ideas board for further evaluation

[2018-06-20 12:56] #159 closed

[2018-06-20 13:02] laurendavissmith commented on #145
Moved to the ideas board

[2018-06-20 13:02] #145 closed

[2018-06-20 13:04] laurendavissmith commented on #37
Moved to the ideas board for further evaluation

[2018-06-20 13:04] #37 closed

[2018-06-21 11:30] jessepearson commented on #170
It seems that the example from @WillBrubaker is missing persons, so I don't get the same results.
The example from @DustinHartzler seems correct, though, according to @bor0 's calculations.

The *Multiply all costs* checkbox confuses people and causes issues. It will literally take all costs, then multiply those costs against the number of persons for the booking. I believe it existed to be used w

[2018-06-21 23:42] DustinHartzler commented on #170
Ah, the _Multiply All Costs_ checkbox is misleading. Unchecking that box seems to make the calculation work correctly.

[2018-06-22 09:56] bor0 commented on #170
@jessepearson the particular logic for multiplication is here:
https://github.com/woocommerce/woocommerce-bookings/blame/241857cc0d192399638424b7ccd23ed3b60ace66/includes/booking-form/class-wc-booking-form.php#L930

It seems like it hasn't changed for 4+ years (unless affected by some filter/action, which isn't as far as I checked)

[2018-06-22 11:03] jessepearson commented on #170
@bor0 Correct, I didn't mean there was a problem with the calculation, I just meant that the purpose of the box is confusing to customers and they tend to not realize exactly what it does. I remember working on a similar issue in the past and I went over it bit by bit, and it works correctly.

I believe this is the case with Dustin's example, but I am not sure with Will's since the import didn't w

[2018-06-22 11:13] bor0 commented on #170
Thank you @jessepearson, this is very helpful. I think it's safe to close this issue for now, but feel free to create a new one (Technical Debt) if we feel that the logic needs to be updated.

[2018-06-22 11:13] #170 closed

[2018-06-27 10:56] drinkteaeatbiscuits opened #189 "Restrict start days during specific date range"
My client wants to give their customers the ability to book in week long blocks (Fri-Fri) during their High Season (July-August). But for the rest of the year, give the customer the choice of booking any range of days. Is this possible? Currently I'm only able to do one or the other.

Restricting start days during a specific period only would be ideal.

[2018-06-27 12:08] jessepearson commented on #189
@drinkteaeatbiscuits Unfortunately this is not the place to add ideas such as this, they are better suited for the ideas board here: http://ideas.woocommerce.com/forums/133476-woocommerce?category_id=82014

There is a search in the lower part of the right hand column, I did not find something to the affect of what you mentioned, but feel free to search before adding your idea.

I am going to close

[2018-06-27 12:08] #189 closed

[2018-07-16 21:52] shaunkuschel opened #190 "Calendars do not show correct availability when multiple accommodation products are on the same page (using shortcode)"
#### Affected ticket(s)

1283417-zd-woothemes

#### What I expected

When using the product shortcode (ex: `[product_page id="160"]`) to embed multiple bookable products on the same page, all calendars show the correct availability for each product.

#### What happened instead

When using the product shortcode (ex: `[product_page id="160"]`) to embed multiple bookable products on the same page, on

[2018-07-17 12:54] jessepearson commented on #190
I believe this is an issue rooted in Bookings itself, and I would like to see it fixed there first, then we can test this to see if this is corrected through that fix.

[2018-07-21 22:51] stephhjacq commented on #179
Hi @bor0 @laurendavissmith any updates on when this will be released? Thanks

[2018-07-25 09:16] ligne13 opened #191 "Datepicker : unable to pick a check-out date the day after the check-in date if the the check-ouk is marked as unbookable"
Example :
The user wants to book a hotel night from day D to D+1.
In the back-end the D+1 is marked as unbookable.
![image](https://user-images.githubusercontent.com/81624/43191565-b1883b06-8ffb-11e8-8bd9-5fca167048f0.png)
The user should be able to pick the D+1 as the check-out date. The unbookable range is for the night from D+1 to D+2.
But the datepicker does not allow to pick D+1 as the check-

[2018-07-25 12:12] jessepearson commented on #191
@ligne13 This is not a bug, if a date is marked as unavailable in the settings then it is not able to be used at all.

I have just added a new idea to the board suggesting what you need. It may take a little bit to show, but here is the link for you to add your vote:
http://ideas.woocommerce.com/forums/133476-woocommerce/suggestions/34925098-add-ability-to-block-off-either-check-in-or-out-fo

[2018-07-25 12:12] #191 closed

[2018-07-25 12:43] ligne13 commented on #191
Thanks @jessepearson. I've added 3 votes to this feature which is essential to add to the Accommodations plugin. Hoping it will come fast.

[2018-07-26 16:16] AashikP commented on #188
@bor0 pinging you since the ticket is back on top of the queue. I'm closing the ticket for now and redirecting the user here so that they can keep track of the progress.

[2018-07-27 20:43] #188 closed

[2018-07-29 08:18] AbdulSamadKt commented on #188
Can I know any solutions?

[2018-07-30 12:11] jessepearson commented on #188
@AbdulSamadKt The issue was in Bookings itself. If you create a ticket under your WooCommerce.com account, we can send you a pre-release copy of the next Bookings release.

[2018-07-30 14:49] belcherj opened #192 "Cannot Activate Accommodation Bookings"
#### What I expected

To be able to activate extension

#### What happened instead

I got an error that said:

[code]

#### Steps to reproduce the issue

- Install latest WooCommerce Bookings 1.11.2
- Install latest WooCommerce Accommodation Bookings 1.1.2
- Got to WooCommerce->Settings
- Observe error at top of screen

![screen shot 2018-07-30 at 10 43 13 am](https://user-images.githubusercontent

[2018-07-30 15:16] belcherj commented on #192
version_compare( '1.11.2', '1.9', '>='); evaluates to true not sure why this would not work:  https://github.com/woocommerce/woocommerce-accommodation-bookings/blob/master/includes/class-wc-accommodation-dependencies.php#L52

[2018-07-30 23:22] no4 opened #195 "Can Add coupon discount Per night per room?"
#### Affected ticket(s)

#### What I expected

#### What happened instead

#### Steps to reproduce the issue

-------------------

- [ ] Issue assigned to next milestone.
- [ ] Issue assigned a priority (will be assessed by maintainers).

[2018-07-31 11:29] jessepearson commented on #195
@no4 No, this is not possible. You can submit an idea for possible addition of this here:
http://ideas.woocommerce.com/forums/133476-woocommerce?category_id=337813

Additionally, this is not a support forum, you are able to submit tickets through your WooCommerce.com account.

[2018-07-31 11:29] #195 closed

[2018-08-06 20:05] #154 closed

[2018-08-14 00:19] geeklore opened #196 "Admin Calendar: Background color does not start and stop at checkin and checkout times. Covers the whole day."
#### Affected ticket(s)

1341085-zen

#### What I expected

That a booking shows on the Admin calendar for the times it was booked. So if it starts at 2:00 and ends at 2:30 that it would reflect this.

Like this.

![see screen shot](http://cld.wthms.co/cCjvkx+)
Link: http://cld.wthms.co/cCjvkx

#### What happened instead

If an Accommodation Booking spans 24 hours, the background color for the blo

[2018-09-02 09:14] mikkamp opened #197 "Upgrade routine doesn't check if it's actually a product"
Affected ticket: 1386857-zen

This user contacted us with the following error when the upgrade routine is being run:

[code]

It turns out that in their case the meta key `_wc_booking_pricing` was set for a booking and not only on the product. Since there is no check to see if the returned meta key is set on a product it creates a fatal error.

Simple solution would be to check if the `wc_get_prod

[2018-10-04 21:31] whebbworks commented on #190
Any update on this? I was having the same issue. I have two booking products on the same page via shortcode and one calendar is correct and the other just shows all days as open. In some cases this changes, but not sure why and one calendar is always correct.

![wcb1](https://user-images.githubusercontent.com/4073460/46504069-cbd0a480-c7fa-11e8-87a0-5a83b1bae7b6.png)
![wcb2](https://user-images.gi

[2018-10-05 16:39] #197 closed

[2018-10-05 16:48] roykho commented on #192
Tested this today and didn't see this issue.

[2018-10-10 16:36] lindamork commented on #119
Hoping for an update on when this piece of the 1.2 milestone might be tackled?

[2018-10-10 19:13] belcherj commented on #192
If you can't repo, let's close it.

[2018-10-10 19:13] #192 closed

[2018-10-22 20:30] melindahelt commented on #166
User came back again, same site, but slightly different issue.

Today (October 22nd) all bookings from Dec 1 to Dec 31 2019 (so over a year from now) were showing up at $0. November 2019 and January 2020 were priced as expected.

Used the above date range to override this, but customer was hoping it would be fixed by now.

**ALSO -- NOTE -- customer logs in as different clients for chat (customers

[2018-10-23 11:04] jessepearson commented on #166
User came back again, same site, but slightly different issue.

Today (October 22nd) all bookings from Dec 1 to Dec 31 2019 (so over a year from now) were showing up at $0. November 2019 and January 2020 were priced as expected.

Used the above date range to override this, but customer was hoping it would be fixed by now.

**ALSO -- NOTE -- customer logs in as different clients for chat (customers

[2018-10-23 18:26] joshtipton28 opened #200 "No Shipping? Some accommodations require shipping.."
There is no option for shipping. While the vast majority of rentals don't require this (I get it), there are accommodations these days that do need this functionality.  I think that this plugin is a very useful plugin and I appreciate the work you have put into it.

I am working on a project for RV/Camper Rentals and they need to charge a shipping fee based on the distance that they have to delive

[2018-10-25 11:18] tommyshellberg opened #201 "Fully booked days show as partially booked - Day after booking shows partially booked."
#### Affected ticket(s)

1502723-zen
8433091-hc
2108399-zen

#### What I expected

Let's say I have a Yurt that I rent out using Accommodation Bookings - there is only 1 yurt so only one available room.

If I book a date, say just 1 night, then, come back to the Calendar, the check-in date shows "partially booked" - but it's fully booked:

![http://cld.wthms.co/wR5sre](http://cld.wthms.co/wR5sre+)

[2018-11-12 13:05] #185 closed

[2018-11-23 10:49] bor0 commented on #190
I don't think it'd be easy to resolve this. Most of the JS code is written in a way that it expects a single calendar. Maybe we can re-think this with Gutenberg blocks?

cc @laurendavissmith @c-shultz @budzanowski

[2018-11-23 14:50] budzanowski commented on #190
Gutenberg block is the only option here. We would need to do a massive rewrite of the JS code. Most probably we would break more things then we would fix along the way. Besides that, we still will need a Gutenberg block so it would be a wasted effort in the end.

The code was never designed in a way that would allow it to work with multiple calendars at once, this is why I would qualify this as an

[2018-11-26 14:11] madeincosmos commented on #201
@woocommerce/extendables can we get someone input on this?

[2018-11-29 13:43] dougaitken commented on #201
Customer in 8433091-hc reached out about this as well.
`https://www.samajubiluthyrning.se/shop/renault-master-l3h2/`

They passed on this Issue link and confirmed their scenario matches this problem

[2018-12-05 12:48] ligne13 commented on #191
Hi @jessepearson ,

Any update on this one ?

thanks

[2018-12-06 12:30] jessepearson commented on #191
@ligne13 I am not a developer, I only support the extensions. The development team takes into account higher voted items when adding new features. Presently this one has only has 7 votes, so it probably has not been added for consideration yet.

[2018-12-13 14:05] mikkamp opened #205 "Multiply cost by number of nights is not working"
When setting up a product addon with a quantity based fee and checking the option "Bookings: Multiply cost by number of nights". Even though we select multiple nights, the cost doesn't multiply.

Before the PAO 3.0 compatibility changes we used to save this in the addons filed `wc_booking_block_qty_multiplier`. But this was recently changed to `wc_accommodation_booking_block_qty_multiplier`

See:

[2019-01-18 23:09] c-shultz commented on #166
The root cause of this is actually in the main Bookings extension, so I'm closing this in favor of https://github.com/woocommerce/woocommerce-bookings/issues/2063

PR incoming. I expect this will be fixed by the 1.13.0 release of Bookings.

[2019-01-18 23:09] #166 closed

[2019-01-25 18:35] MCKLtech opened #207 "Minor iCal Output Bug"
There is, what we believe to be, a minor bug in WooCommerce Bookings when using the Accomodation Plugin.

When exporting an ICS file, **class-wc-bookings-ics-exporter.php** is used.

In this file we have a function called:

_format_date_

And in this function we have a comment:

_If bookings are more than 1 day, ics format for the end date should be the day after the booking ends_

**Which in turn

[2019-01-28 21:31] roykho opened #208 "Remove partial booking styles"
To coincide with Bookings core, we should remove partially booked days styling to be consistent.

[2019-01-30 14:42] roykho commented on #208
Close via https://github.com/woocommerce/woocommerce-accommodation-bookings/commit/8c98bdb3d6bbfc3de434a91b1f3884528d811b4d

[2019-01-30 14:42] #208 closed

[2019-02-01 20:51] DustinHartzler opened #209 "Overlapping Rates Calculation is Incorrect"
#### Affected ticket(s)
1761730-zen
15856100-hc
8626144-hc

#### What I expected
When multiple rates are specified, I expect the first line item in the list to be used and no others.

Here is my example accommodations product:
<img width="961" alt="screen shot 2019-02-01 at 15 44 35" src="https://user-images.githubusercontent.com/2293077/52148652-5fdf3b00-2638-11e9-97ad-f83ee59b1225.png">

If a da

[2019-02-12 06:14] ValeDeOro opened #210 "Dates show as available when "number of minimum days" cannot be matched"
When setting minimum amount of nights (e.g. 4), the nights right before a fully booked night still show as available (even though this means the customer cannot choose the minimum of `4`).

#### Affected ticket(s)

1793106-zen

#### What I expected

If the 2nd of March is booked, and I expect a minimum of 4 nights, the 1st of March should NOT show as available.

#### What happened instead

Only th

[2019-02-12 13:12] amandasjackson commented on #210
The user in 1793106-zen reached out to clarify their issue further:

Check out time is 11am and check in time is 2pm
Someone books to check-in on the 4th and check-out on the 6th.
So:
4th partially booked (check-out still available)
5th fully booked,
6th partially booked (check-in still available)
You cannot click on the 5th. It's not that there is an error message.. you just cannot click on it. I

[2019-02-13 07:58] dphyled commented on #210
Further clarification from the user in 1793106-zen

Along with the points above:

So the message that says, this block cannot be booked, or whatever the wording is, should take priority over the other notification about min nights stay.

Confirmed on my site, when clicking the first date (which has no available slots), the message that is displayed is about the minimum duration, rather than "There

[2019-02-28 07:03] htdat commented on #209
This issue has been here for 26 days. Hope that we have an update for the user soon.

[2019-03-02 04:17] roykho commented on #201
I can not replicate this. After checking out with 1 day booked. Coming back to the product, I see that same day is fully booked and the next day is still available to be booked. ![](https://cld.wthms.co/IbfS19+) Closing this issue for now. Please re-open if issue persists.

[2019-03-05 14:49] jessepearson commented on #201
@roykho Was that an Accommodation or Bookable product? When selecting one night by selecting a check in and then check out day, both days should show partially booked.

I believe the actual issue here is that if you select "today" as the check in, and then select a check out, "today" remains partially available even though it isn't available at all.

![](https://cld.wthms.co/5x4wxN+)
Image Link: h

[2019-03-05 15:01] roykho commented on #201
@jessepearson that was with Accommodations. Note that we no longer show partially booked days.

[2019-03-05 15:25] jessepearson commented on #201
@roykho I am using Bookings 1.13.2 and Accomm 1.1.5 and I got what you see above with an Accomm product.

I am confused if partially booked days are now (or will be) removed from Accomm completely, as I would think this would break the functionality of being able to check in when someone is checking out, and vice versa.

[2019-03-06 11:11] bor0 commented on #201
The reason you're seeing that is because it seems we missed releasing Accommodation Bookings: https://github.com/woocommerce/woocommerce-accommodation-bookings/blob/master/changelog.txt#L3-L4

cc @laurendavissmith

[2019-03-06 12:44] jessepearson commented on #201
After talking with Boro in Slack, I understand this better now, but the original issue still remains.

If "today" only has check out available, it is able to be selected.

![](https://cld.wthms.co/mgwfmg+)
Image Link: https://cld.wthms.co/mgwfmg

[2019-03-06 19:23] laurendavissmith commented on #201
@bor0 will you add this to your list to release

[2019-03-07 13:14] bor0 commented on #201
With latest `develop` from Bookings I get some weird results:

1. If you save a product as "Accommodation product", on next page reload it goes back to "Bookable product"
2. I get this in the error log when I open the product on the frontend:
[code]

I assume it has to do with the composer updates. It works fine with `master` WooCommerce Bookings.

@laurendavissmith I also think we should address

[2019-03-07 13:15] bor0 commented on #201
@jessepearson shouldn't check-in/check-out times be available for Booking? That's how I always understood Accommodation is supposed to work

[2019-03-11 11:55] jessepearson commented on #201
@bor0 Yes, but in this instance, the day appears to be available for selection, but in reality it isn't because only check out is available and you're not able to select a check in date before it.

[2019-03-14 15:01] jessepearson opened #211 "Move check in/out settings to Bookings settings"
The check in/out times are set under WooCommerce > Settings > Products > Accommodations, this should probably be moved to Bookings > Settings > Accommodations to clear up confusion.

-------------------

- [ ] Issue assigned to next milestone.
- [ ] Issue assigned a priority (will be assessed by maintainers).

[2019-04-03 16:59] jessepearson opened #212 "Copying products does not bring over person types"
If you have a Accomm product with Person Types, they are not copied over when you copy the product to a new draft.

#### Affected ticket(s)

872479-hc

#### What I expected & What happened instead

1. Import Accomm product: [booking-product-29934-2019-04-04.zip](https://github.com/woocommerce/woocommerce-accommodation-bookings/files/3039861/booking-product-29934-2019-04-04.zip)
1. Ensure that it h

[2019-04-04 18:36] DustinHartzler commented on #209
Issue came up with [8626144-hc](https://mc.a8c.com/support-stats/happychat/transcript.php?id=8626144) as well.

[2019-04-05 02:57] mouligreenlaw commented on #205
Another ticket 1914366-zd

[2019-04-05 03:02] mouligreenlaw commented on #205
@mikkamp Any idea when this might be fixed please.

[2019-05-01 05:24] SiR-DanieL commented on #208
Related to https://github.com/woocommerce/woocommerce-bookings/issues/2396

[2019-05-06 12:31] FelixAnstdt opened #213 "Woocommerce accomodation bookings; book half days"
I have set that you book nights and not days and I also set a time of arrival and a time of departure. The goal should be that after a booking, the arrival and departure day should only be seen as half booked in the calendar (with a red triangle instead of completely filled out) and that these half booked days can still be booked. Thus, for example, a departure day can also be an arrival day and a

[2019-05-07 10:42] jobthomas commented on #147
Just to add to this 1999836-zen

I think it fits in here as well - not just should you be able to checkout on a day that's already booked for checkin, if you minimum have to book for 2 consecutive days, you shouldn't be able to be allowed to choose a start day that conflicts with this rule.

For example:

![1999836](1999836+)
Link to image here: 1999836.

In this case:

* 15 shouldn't be allowed t

[2019-05-08 09:33] hannahswain opened #214 "Cannot disable virtual flag on accommodation products"
#### Affected ticket(s)

2015696-zen

#### What I expected

The virtual flag on the product should be an option and not required.

#### What happened instead

The virtual flag is checked by default and cannot be disabled:

![Virtual untick](https://user-images.githubusercontent.com/17844465/57365382-3c6ee380-7185-11e9-8cd6-7fcbe5169f33.gif)

#### Steps to reproduce the issue

1. Create a new accom

[2019-05-21 23:44] clicknathan commented on #190
"Thirding" this issue. I would respectfully disagree that this is an Enhancement. Any type of product (particularly those costing $249 / year) should work with Woocommerce shortcodes, and having multiple products on a page should ideally work without a Gutenberg Block and be compatible directly with template files and php functions such as woocommerce_template_single_add_to_cart(). Having multiple

[2019-05-22 10:30] mikkamp opened #215 "PHP warning shows up after updating Bookings to 1.14.2"
When using Accommodations with the latest version of Bookings (1.14.2) we get the following PHP warning:

[code]

That's because the following two function declarations don't match:
https://github.com/woocommerce/woocommerce-accommodation-bookings/blob/1.1.6/includes/class-wc-product-accommodation-booking.php#L203
https://github.com/woocommerce/woocommerce-bookings/blob/1.14.2/includes/data-object

[2019-05-22 12:46] zwiesman31 commented on #215
Another instance of this happening in chat: 10746827-hc

[2019-05-22 13:50] keninbassart commented on #215
Adding another instance of this 12935844-HC

[2019-05-22 14:16] #215 closed

[2019-05-24 11:20] budzanowski commented on #147
@jobthomas that is absolutely correct, you should not be able to choose start dates that will not allow selection of any end date. That being said this is a different Issue :) Would you mind opening a new Issue?

[2019-05-24 11:21] budzanowski commented on #147
@madeincosmos @jessepearson if you would find some time could you check this with:
 - https://github.com/woocommerce/woocommerce-accommodation-bookings/pull/202
and
 -  https://github.com/woocommerce/woocommerce-bookings/pull/1781

PRs for both accommodation and booking plugins are required to make this work.

[2019-05-26 13:41] adampickering opened #217 "PHP Warning: Declaration of WC_Product_Accommodation_Booking:"
#### What I expected

It shouldn't display this error through the customers site.

#### What happened instead

Shows a PHP error:

Warning: Declaration of WC_Product_Accommodation_Booking::get_blocks_in_range($start_date, $end_date, $intervals = Array, $resource_id = 0, $booked = Array) should be compatible with WC_Product_Booking::get_blocks_in_range($start_date, $end_date, $intervals = Array, $r

[2019-05-26 13:42] adampickering commented on #217
Appears this is fixed, closing.

[2019-05-26 13:42] #217 closed

[2019-05-27 09:18] jobthomas opened #218 "Ability to select starting dates that will not allow for the corresponding minimum days"
#### Affected ticket(s)

1999836-zen

Not just should you be able to checkout on a day that's already booked for checkin, if you minimum have to book for 2 consecutive days, you shouldn't be able to be allowed to choose a start day that conflicts with this rule.

For example:

![https://cld.wthms.co/VT4sV6](https://cld.wthms.co/VT4sV6+)
Link to image here: https://cld.wthms.co/VT4sV6.

In this cas

[2019-05-27 10:03] budzanowski commented on #218
Thank you!

[2019-06-01 17:05] kristinaplauche commented on #215
Another instance of this in chat 13167390-HC

[2019-06-05 15:56] phillipcornwell commented on #215
Another instance in chat: https://mc.a8c.com/support-stats/happychat/transcript.php?id=13227928

Follow up Ticket: https://woothemes.zendesk.com/agent/tickets/2084817

[2019-06-10 22:52] ryanr14 commented on #209
I believe I've got another customer with this overlapping rules miscalculations in 2099967-zen.

They have the following Cost rules setup.

![https://cld.wthms.co/GDxtfo](https://cld.wthms.co/GDxtfo+)
Image link: https://cld.wthms.co/GDxtfo

According to this if you booked from Wednesday July 3rd to checking out Saturday July 6th. That price should TOTAL = $951. The problem is that it actually sho

[2019-06-11 13:30] thekendog commented on #209
Is this something that will be fixed soon?  Seems like a pretty big bug to leave sitting for over 4 months now.

[2019-06-13 04:35] AashikP commented on #147
Also reported in 2104666-zen

@budzanowski I tried installing them both for testing purpose. While I can activate the fix for accommodations, trying to activate bookings gets me this error. Am I doing something wrong here 🤔?

[code]

[2019-06-13 08:50] budzanowski commented on #147
@AashikP that is correct. The plugin in the repository is in the raw state.
Before being able to use it you need to run `npm run build` inside the plugins directory.

[2019-06-13 09:30] cholawo opened #220 "Booking: Date entry fields causes random prices or errors"
#### What I expected
I enter dates in the checkout date fields and see the total price.

#### What happened instead
I see a flash of different prices and error messages.   Sometimes the last one displayed is the right, and other times it is wrong.

#### Steps to reproduce the issue
Attempt to make a booking with "Calendar display mode" set to "display calendar on click".   Click the calendar for t

[2019-06-13 10:57] cholawo commented on #220
I have found that this issue also exists if you click different options in quick succession on the date picker calendar.    I also expect someone will tell me that this is an issue with woocommerce bookings?   However given that it's a private repo I can't raise an issue there.  Does that mean I have to go through woocommerce support?

[2019-06-14 09:27] madeincosmos commented on #201
One more customer reporting this in 2108399-zen, reproduced with Bookings 1.14.4 & Accommodations

I'm testing a single hotel room with availability 1. Making a booking on 17th-20th June should make 17th unavailable for future booking:

![Screenshot](https://cld.wthms.co/sS52tM+)
Screenshot: https://cld.wthms.co/sS52tM

However, once I make that booking, 17th is still showing as available in the c

[2019-06-17 14:33] WillBrubaker opened #221 "Resource Label Not Translateable"
#### Affected ticket(s)
2109372-zen

#### What I expected
To be able to translate my resource labels.

#### What happened instead
This issue: https://github.com/woocommerce/woocommerce-bookings/issues/2191 is the blocker, but since accom adds the night duration unit, I just wanted to open this so it doesn't get forgotten about when the other issue gets fixed.

#### Steps to reproduce the issue

--

[2019-06-21 16:47] NickKellett commented on #201
My client site sees this behaviour as well, using Woocommerce 3.6.4, Bookings 1.14.5, and Accommodations 1.1.8. They are also confused why a) a start date is available for booking that night is actually booked, and b) the triangle for check-in date disappeared. Unfortunately they are in the middle of camping season and so a lot of reservation calls are about this issue. I'd be happy to test a hotf

[2019-06-21 17:49] reykjalin commented on #201
2122409-zen seems to be seeing this same issue.

[2019-06-24 08:38] alancolyer commented on #201
same issue here, reported by a client. using bookable product product type now with an end time set instead of accommodation booking to get around the availability being incorrect.

[2019-06-24 16:04] rwaynick commented on #201
Also reported in 13611648-hc. User would prefer multiple states like @madeincosmos mentioned above.

[2019-06-24 20:58] olaolusoga commented on #201
@madeincosmos can you explain the value of having available for checkin / available for checkout states (which I'm assuming would be the partially booked triangles)?

From the screenshots, seems like the product should be making the first night unavailable/booked, and the last day open, instead of how it's currently operating. Once a person books, why would they need to see available for checkin/c

[2019-06-24 21:20] alancolyer commented on #201
@olaolusoga hope you don't mind me answering - the first day of an existing booking needs to be available to select as the end date of a new booking, but it can't be a start date - this is why it differs. I'd agree that it needs a separate status to denote that so there is the option of theming it differently, although I think the end date should be open like you say as it doesn't make any differe

[2019-06-24 22:14] olaolusoga commented on #201
Thanks for sharing that @alancolyer , makes sense.

[2019-06-25 10:26] madeincosmos commented on #201
I agree with @alancolyer, I don't mind the last day of a previous booking to be showing as fully available, but first day of a booking showing as available is utterly confusing to customers.

[2019-06-27 10:45] robin-scott opened #222 "Accommodation Transient book_ts is stored as autoload "yes""
#### Affected ticket(s)

N/A

#### What I expected

Transients should be stored as autoload "no" in the wp_options database.

#### What happened instead

Instead, they are stored autoload "yes".

![image](https://user-images.githubusercontent.com/17259256/60260070-93b14a80-98d0-11e9-89cf-57c0be87a0c5.png)

#### Steps to reproduce the issue

This was showing in a customer site, but is replicable in

[2019-06-27 11:02] robin-scott commented on #222
Okay I found it, here:

https://github.com/woocommerce/woocommerce-accommodation-bookings/blob/78634b5a43db46a2ed80f92d40b6edd864825603/includes/class-wc-product-accommodation-booking.php#L299

Will update this one.

Any reason this one doesn't expire? Assume no, but... maybe?

[2019-06-27 11:26] robin-scott commented on #222
I traced this back, and in order to get this working, WC Bookings Core also needed an expiry, here:

https://github.com/woocommerce/woocommerce-bookings/blob/1a9a8cf29f34c7146ec093a87dcd80cd130b051d/includes/wc-bookings-functions.php#L638

[2019-06-27 11:28] robin-scott commented on #222
Result is:

![image](https://user-images.githubusercontent.com/17259256/60262788-f73e7680-98d6-11e9-9131-525a145aa044.png)

and

![image](https://user-images.githubusercontent.com/17259256/60262805-01607500-98d7-11e9-9a70-b155e8c2d187.png)

[2019-06-27 11:28] robin-scott commented on #222
PRs coming later. Got some other things this side, but will add up end of today.

[2019-06-27 20:15] roykho opened #223 "Update deprecated functions"
Since we've deprecated some functions in Bookings core, we should update them here as well.

[2019-06-28 14:50] tommyshellberg opened #224 "Bookable -> Accommodation product type switch, delete unused meta?"
#### Affected ticket(s)

2134787-zen

#### What I expected

If I originally had a Bookable Product and switched to an Accommodation Product, I would expect that unused meta would at-least be ignored, if not deleted.

#### What happened instead

In this particular instance this user had a 1 day buffer period set when they switched to an Accommodation product. This piece of meta data not only persis

[2019-06-28 14:56] olaolusoga commented on #201
Thanks for the context y'all.

We're going to reintroduce the partially booked indicator in Accommodation bookings to fix the issue y'all are raising. It will work exactly like it did previously. The start and end dates of a booking will be marked as partially booked.

**One small adjustment we'll be making:** rotating the end dates partially booked indicator 180°, so it marks the top left half of

[2019-07-01 23:11] #223 closed

[2019-07-05 21:18] NickKellett commented on #201
Will this be part of the next release, and is there some kind of ETC on that?

[2019-07-19 17:47] c-shultz commented on #147
After some team discussion, I'm changing this to an enhancement and closing it out. This request should be moved to the ideas board for future consideration.

We understand why some stores would expect checkout times to work this way, but there are differing needs for different store owners, so building out this functionality will require a bigger effort with design involvement to make this easy t

[2019-07-19 17:47] #147 closed

[2019-07-22 15:50] thekendog commented on #209
Bump.  Still nothing?

[2019-08-07 21:47] m155y commented on #221
Another instance of this on 2258152-zen today.  User is attempting to update the translation for the text on the "Select Options" button.

[2019-08-20 15:29] mikkamp commented on #205
This has again become an issue after upgrading Bookings to 1.15.0. Although the previous PR doesn't work.

Reverting back to Bookings 1.14.5 allows a quantity based addon to be multiplied by the amount of nights again.

However this happens regardless of whether the following option is checked or not:
`Bookings: Multiply cost by number of nights`

Steps to reproduce:
- Create an accommodation prod

[2019-08-20 19:35] mdmoore opened #226 "Persons types not duplicated"
#### Affected ticket(s)

2243736-zen

#### What I expected

I expected that duplicating an Accommodation product would duplicate the product exactly.

#### What happened instead

Person types are not duplicated to the new product.

#### Steps to reproduce the issue

1.  Create an Accommodation product
2. Enable Person Types
3. Add a Person Type
4. Publish the product
5. Duplicate the product using

[2019-09-24 20:17] ryanr14 commented on #205
Howdy! Is there an update for this here issue? :)

[2019-09-27 16:23] zwiesman31 opened #227 "Restrict Start Day Options Also Restricts End Day Options"
#### Affected ticket(s)

2382897-zen

#### What I expected

When a user creates an Accommodation Bookings product, using the `Restrict Start` date should only restrict the day(s) the users are able to start their bookings on.

#### What happened instead

When a user creates an Accommodation Bookings product, using the `Restrict Start` date restricts both the day(s) the users are able to start thei

[2019-09-27 16:24] zwiesman31 commented on #227
Looks like it's related to https://github.com/woocommerce/woocommerce-bookings/issues/1763

Setting to `High` Priority for now.

[2019-10-01 21:46] mdmoore commented on #227
Added another affected ticket.

[2019-10-09 23:26] MCKLtech commented on #201
Any update on this? We're getting valid complaints from customers that it is confusing. They are booking an apartment, coming back to check the calendar, and they see the first and last days as 'available'

I know it's somewhat user error but this is confusing and we should at least have the option to display the triangles again.

[2019-10-10 07:36] alancolyer commented on #201
+1 for an updste, been waiting for this

[2019-10-10 11:11] treibalen commented on #209
Also reported in 15856100-hc

[2019-10-10 20:00] laurendavissmith commented on #201
Just moved this into our sprint board so we should have it done soon

[2019-10-16 11:24] tsetend commented on #227
@zwiesman31 The customer got back on this ticket 2382897 -Zen for an update as their business is being affected and asked if there can be quick resolution if possible.

[2019-10-18 12:45] Zaffy-S commented on #201
As someone who has made plenty accommodation sites and has worked in accommodation, I  think  the whole concept of showing "partially available days" is unnecessary because of the check in time rule.
When a room is available for a day, that means the room is available **after** the check in time. It doesn't matter if the room was booked the previous time or not. It doesn't matter if there were oth

[2019-10-22 16:47] superdav42 commented on #201
After looking at this issue it's just become more complex. Partial booking triangles are a poor customer experience especially when there can be more than one room booked as this would mark potentially all days an partially booked so it would be hard to see what is available for check-in and what isn't.

The alternative to partially booked is changing the availability so the check-in day is unavai

[2019-10-22 22:19] jessepearson commented on #201
@superdav42 If that path is going to be taken, I would think it would be more beneficial to put that logic in the main booking plugin. This would benefit those store admins that want to restrict start and end days to certain days of the week and such. I can see it working for vehicle rentals, room rentals, etc.

[2019-10-23 02:03] ryanr14 commented on #205
It me again, the ticket (2288506-zen) came back around. It appears there is a PR ready for some review? :)

[2019-10-25 12:05] mikkamp commented on #205
This has been fixed in the following PR: https://github.com/woocommerce/woocommerce-accommodation-bookings/pull/228
Confirmed that it's now working on my test site.

Notified the user in the ticket. Also closing this since it was released yesterday.

[2019-10-25 12:05] #205 closed

[2019-10-28 21:19] Zaffy-S commented on #201
Ok looking at this again can someone please tell me what does the Accommodation Bookings add to the Bookings Plugin functionality?
I deactivated it and the only thing missing seem to be the confusing limited availability triangles.
I can only think of accommodation that is bookable per hours and not per night?

[2019-11-21 09:35] FelixAnstdt opened #231 "Half booked day displays wrong"
#In itself the plugin works fine (see first picture), but I noticed a problem (see second picture)
The problem only occurs when the last day of a booking is the first day of a new calendar column. In this case, the triangle that shows the last day as half booked is displayed upside down. You can still select the last day as the start day of a new booking (see figure three). Therefore the function

[2019-12-06 18:15] stephhjacq opened #232 "Select start day options hidden off screen"
#### Affected ticket(s)

2543023-zen

#### What I expected

See the full range of days to select start day.

#### What happened instead

Only Sunday - Thursday show

![https://d.pr/i/C8PEbB](https://d.pr/i/C8PEbB+)
Full Image: https://d.pr/i/C8PEbB

These options are hidden off-screen. Gif:

![https://d.pr/i/zhU2v6](https://d.pr/i/zhU2v6+)
Full Image: https://d.pr/i/zhU2v6

#### Steps to reproduce

[2019-12-12 13:23] anant1811 opened #233 "User are able to make bookings with just the check-in day selected, making it possible to book unavailable days"
#### Affected ticket(s)

2556278-zen

#### What I expected

When the calendar display mode is set to `Calendar always visible`, users can click once on a date in the calendar and select the check-in date and make their booking. With this, the next day automatically gets added as a check-out date, even if the next date is not available to be booked.

In the GIF below, my product is not available on

[2019-12-13 20:22] c-shultz commented on #209
The only solution I found was to add a new filter in Bookings (https://github.com/woocommerce/woocommerce-bookings/pull/2767) and add a hook for the filter in Accommodation Bookings: https://github.com/woocommerce/woocommerce-accommodation-bookings/pull/234

If this is all merged in, it will require an update of both extensions to the latest version.

[2019-12-13 22:05] m155y opened #235 "Fully booked days are showing as available on the accommodation's calendar"
#### Affected ticket(s)
2559642-zen
1502723-zen
8433091-hc
2108399-zen

_Note: this is a bit of a duplicate issue to #201, however I was asked to submit a new issue as the previous one has gotten a bit convoluted due to multiple issues being reported in the comment thread._

#### What I expected
On the selected date, there are no accommodation spots available, so I expected to see that date as una

[2019-12-16 20:05] #209 closed

[2019-12-18 15:49] madeincosmos commented on #233
Reproduced on my site with Bookings 1.15.5 and Accommodations 1.1.11.

Bumping priority to High, as it allows booking on a day that is unavailable.

[2020-01-02 14:25] dsmithweb commented on #235
2593523-zen also

[2020-01-03 12:30] dexit commented on #231
I've been working the same solution, I hope over the weekend I will write a Jquery script that adjustes this.

[2020-01-28 21:07] laurendavissmith commented on #201
Removing @superdav42 for now, has a PR we just need to clean it up and ensure its ready for release

[2020-01-29 11:53] dougaitken commented on #214
2669717-zen via Live Chat

Internal Slack discussion - p1580295760020600-slack-C0D9EC4H0

[2020-02-03 21:50] roykho commented on #201
Closed as this PR states this issue is not reproducible. https://github.com/woocommerce/woocommerce-bookings/pull/2753

[2020-02-03 22:07] NickKellett commented on #201
When I click the link to the PR i get a 404. It is highly confusing at this point what is going to be fixed or not fixed. We had a really complicated season last year due to the confusion of large numbers of clients seeing a calendar that seems to indicate a date is free when it isn't (leaving aside the whole triangles debate). if this issue is closed, can we at least request that https://github.c

[2020-02-03 23:21] roykho commented on #201
@NickKellett - there is a potential fix for #235 in PR review. We'll see if that goes through.

[2020-02-04 21:03] shaunkuschel opened #238 "Range Cost for Rates rounds up, does not respect decimal places"
When adding Costs to Range Types on the Rates tab of an Accommodation product, any cost with a decimal is rounded up to the next whole number when saved/published.

This is the only field that I found to have this problem, all others seem to allow decimals.

#### Affected ticket(s)

2691010-zen

#### What I expected

I expected these specific costs to allow for 2 decimal places to be used, just li

[2020-02-06 18:11] tommyshellberg commented on #214
The consensus after discussing this is that we could allow the Accommodation Booking product to be non-virtual, meaning that we revert the change made previously to force it to be virtual:

https://github.com/woocommerce/woocommerce-accommodation-bookings/blob/13aca46c17f8e101f000f12c15258f7b9b39fc07/includes/class-wc-product-accommodation-booking.php#L151

We may also want to consider removing th

[2020-02-17 16:01] ahmetkocabiyik opened #239 "Single Product Page with User Searched Criteria"
I am using accommodation plugin on a website. In this website there is a search feature by checkin checkout date and person. I am able to search by checkin checkout date and person but when i go single accommodation product page, checkin and checkout date fields are empty. How can i set these checkin, checkout and person fields with calculated cost by searched criteria

[2020-02-19 19:55] amandasjackson commented on #214
another report here 2726703-zen

[2020-02-20 15:43] rwaynick commented on #214
Hi @tommyshellberg, is there a snippet that we can provide in the meantime that would allow it to be virtual? Asking for the ticket that @amandasjackson mentioned above.

[2020-02-21 15:40] tommyshellberg commented on #214
@rwaynick I don't see any way to use a snippet to change this. In the code shown above we can see that `is_virtual()` is hard-coded at the moment to return `true` and isn't hooked up to a filter.

Later on, the Order Manager checks `is_virtual()` and sets the status to Completed, again, without a filter available to modify that.

https://github.com/woocommerce/woocommerce-accommodation-bookings/bl

[2020-02-21 21:10] brezocordero commented on #221
Hi @m155y 👋

Looking into the ZD ticket, this is a different issue for translations in Bookings Availability.
The string "Select Options" is inside of the .pot file and is waiting for a public facing doc.
Is that correct?

If I missed something, let me know!

[2020-02-22 15:33] #212 closed

[2020-02-24 11:51] jobthomas opened #241 "Optional overlapping rates"
With #234, we "fixed" the overlapping rates, as in: we disabled that option because it was too confusing for customers.

However, in doing so, we did two things:

* We left it a bit to guessing how it works in Accommodations. A fairly simple fix here would be that we'd add a comment below the rates that says "Only the first matching rule will be applied", similar to what is available in Bookings c

[2020-02-24 20:14] m155y commented on #221
Hi @brezocordero - yes, I believe you are correct. 😄

[2020-02-26 13:51] rwaynick commented on #214
I see. Thanks for checking @tommyshellberg.

[2020-02-26 18:12] #221 closed

[2020-02-28 13:15] anant1811 opened #243 "The starting day (check-in day) of a partial booked day range is not selectable"
Affected ticket:

2750804-zen

**Describe the bug**

This was checked on a product with WooCommerce Bookings and WooCommerce Bookings Accommodation.

With check-in and check-out times set as 12 PM and 2 PM respectively, when a booking is made for a date range (Say April 15- April 22), April 15 shows as fully booked (incorrect), while April 22 is partially booked (correct).
![https://d.pr/i/M0CI1Q]

[2020-02-28 20:02] brezocordero opened #244 "Add unit tests for plugin."
Add PHP unit testing.

[2020-03-02 19:16] tommyshellberg opened #245 "Fix NPM High Severity audit warnings."
When running `npm install` from master, there are 4 high severity security issues uncovered:

[code]

![https://d.pr/i/sxPB8E](https://d.pr/i/sxPB8E+)
Image link: https://d.pr/i/sxPB8E

#### Steps to reproduce the issue

Run `npm install` after checking out the repo from master.

-------------------

- [ ] Issue assigned to next milestone.
- [ ] Issue assigned a priority (will be assessed by maint

[2020-03-03 10:15] #245 closed

[2020-03-04 00:23] jessLundie commented on #243
Also seen in 19139697-hc.

[2020-03-04 16:44] NickKellett commented on #243
The effect of this bug (which I have just observed as well) is that by making the first day of a stay fully booked, another user cannot subsequently select that as their checkout date (even though they are checking out before the first person checks in). Therefore, there will have to be a 1-day gap between every reservation.

[2020-03-04 19:01] brezocordero opened #248 "Add basic factory for unit/integration tests."

[2020-03-05 20:10] roykho opened #249 "Manual WP 5.4 test and version bump"
For dot.org extensions, when the header `Tested up to` is out of date with the current WordPress release, customers will see a warning about this. .org extensions are much more prominent in where it shows the warning and to prevent unnecessary complains, we should bump the `Tested up to` version.

They see scary warning like this ![](https://d.pr/i/IPmMU8+)

This entails manually testing WP 5.4 an

[2020-03-06 20:17] #244 closed

[2020-03-06 21:34] roykho commented on #249
This is done and released.

[2020-03-06 21:34] #249 closed

[2020-03-12 04:18] kg69design commented on #243
I confirm the presence of a first-day bug.
--- WooCommerce Accommodation Bookings version 1.1.15
--- WooCommerce Bookings 1.15.11
--- WooCommerce 4.0.0

[2020-03-26 13:16] dougaitken commented on #243
This was brought up in 2811265-zen and I have tested and replicated. The end date is not booked but the start date shows as booked so another booking cannot end on the start date.

My check-in time is 1400 and my check-out is 1200 so there is no overlap.

[2020-03-26 13:46] pxwm commented on #243
Hi,

To confirm I can replicate the problem as per above posts.
I just wanted to check if this is being worked on and if there is an estimated resolution date?

I ask because if I have read correctly no one has been assigned to investigate the issue

Regards
SteveB

[2020-03-26 14:03] pxwm commented on #243
Hi,

If it helps locate the problem I carried out some testing.

If you configure so the calendar shows on clicking the check-in field.

Then:-

1. Using the example provided by anant1811 who flagged the problem.
2. Then click the check-in field and select the available date, 14th April 2020
3. Then click the check-out date and manually enter the date, 15th Apr 2020 that shows as fully booked but

[2020-03-26 18:32] pxwm commented on #243
Hi,

We have carried out some further research in to the date picker in previous versions and think we have identified the root cause

includes/class-wc-accommodation-booking-date-picker.php:100

v1.14 changed line 100 from:-
foreach ( array( 'in', 'out' ) as $which ) {

To:
foreach ( array( 'out' ) as $which ) {

reverted this change and now the check-in date shows correctly as 'partially booked'

[2020-03-30 18:00] rossviviano commented on #243
Another report in 2831378-zd

[2020-04-01 15:26] mmockford100 commented on #227
When fixing this bug can you keep the option to restrict the end day options. The plugin is currently working exactly how I need it to.

[2020-04-02 14:35] jobthomas opened #250 "Impossible to select checkout date if that date already has a booking"
#### Affected ticket(s)

2841822-zen
20259596-hc
3003527-zen
22191587-hc
3100146-zen
3111881-zen
21893912-hc

#### What I expected

1. Customer 1 books Apr 15-18 - which is the nights of 15, 16, 17 Apr
2. Customer 2 wants to book Apr 12-15 - which is the nights of 12, 13, 14 Apr

#### What happened instead

Step #2 is not possible with accommodations:

![](https://d.pr/i/VbldnE+)
If the image does

[2020-04-14 07:07] FelixAnstdt commented on #231
Hey @dexit, did you find a solution?

[2020-04-17 20:13] apmwebdev opened #251 "Bookings' costs allow for bulk discounts when purchasing multiple blocks, while Accommodation's rates do not"
#### Affected ticket(s)

#zen-2887710

#### Issue

With a normal bookable product, the `Costs` tab allows a store admin to select `Block count` as a range type and change the base cost and block cost based on this range. This allows for the creation of bulk discounts when customers buy a certain number of blocks at a time.
![image](https://user-images.githubusercontent.com/30607075/79609970-400d29

[2020-04-25 15:08] jrick1229 commented on #250
Another report: 20259596-hc

[2020-05-01 16:49] FreshPhil commented on #214
2935710-zen as well

As a work around in the meantime, people can use Automatewoo to update the order status. Not great as it's asking them to purchase another plugin, but it's an option.

[2020-05-07 16:22] mikkamp commented on #119
As of the latest versions of Bookings and Accommodation Bookings it's not possible to select any day that is also a "checkin" day. So unable to reproduce the specific issue where it displays different for just a year out.

There are already two other high priority bugs which are tracking this problem, see:
https://github.com/woocommerce/woocommerce-accommodation-bookings/issues/250
https://github.

[2020-05-07 16:22] #119 closed

[2020-05-08 13:10] mikkamp commented on #251
As for the exact history on why this is different then Bookings I'm not sure. However the cost rules have been different for a long time. The scenario where you can offer a discount based on a specific block count is not currently available.

However it is something which is requested on the ideas board:
https://ideas.woocommerce.com/forums/133476-woocommerce/suggestions/34596127-add-rate-option-t

[2020-05-08 13:10] #251 closed

[2020-05-21 17:51] jrick1229 opened #252 "'Restrict start days?' <label> not set to auto width"
#### Affected ticket(s)

21288016-hc

#### What I expected

The ''Restrict start days?' <label> section should have its width set to `auto`, adjusting the size so that the zoom level of the browser doesn't hide certain days.

#### What happened instead

When viewing the 'Restrict start days?' section in the product settings of an accommodation product, the <label> section is not setting an auto wi

[2020-05-25 10:03] treibalen commented on #250
Another report in 3003527-zen