[2020-06-12 11:37] bor0 commented on #227
While I agree we have a bunch of tickets on this one, it's been open for almost a year and doesn't really qualify for a critical given the number of tickets. I agree that it is a bug, but it should be taken care of in the regular janitorial cycle.

[2020-06-19 04:05] anant1811 commented on #144
Checked this again:

I believe the choose date link is no longer implemented, but it's right the calendar doesn't show when you need to re-select the end date. It only shows when you click on the start date fields.

Since the calendar only shows on the start date fields now (choose date link is gone), it makes sense that the first selected date would be set as the start date, and the next one woul

[2020-06-19 15:29] yukikatayama commented on #250
replicated and reported in 3062310-zen

Accommodation has 5 pm checkin, 11 am checkout with a 7 day minimum.

I have a booking confirmed already for June 27-July 4. you can see that the 4th can be selected for a start date, but if I wanted to book June 20-27th, the checkout date for the 27th is blocked:

![](https://d.pr/i/U0iXmj+)
Link to screenshot: https://d.pr/i/U0iXmj

[2020-06-22 14:47] grizzly-bas commented on #250
Hi! What's the progress on this bug? Our clients are still having issues.

[2020-06-22 15:29] rezwiebel commented on #250
My client too...

[2020-06-26 08:40] tsetend commented on #250
Another report in 22191587-hc was able to replicate this problem as well. Follow-up ticket here: 3094740-zen

[2020-06-26 08:46] rezwiebel commented on #250
Is this problem new? Cause it already worked on our website. The reason we bought the plugin was to book from for example saturdays to saturdays. The saturday has to be split in (morning leaving the booked room and afternoon available for new visitor).

[2020-06-28 14:30] jacoswan commented on #250
Also in 3100146-zen

[2020-06-29 20:04] yukikatayama commented on #214
This was reported in 22168785-hc. They were hoping to disable as client wants the order to be processing first.

[2020-07-03 00:08] ldr2273 commented on #250
Another report in 3111881-zen

[2020-07-03 09:07] damiannep commented on #250
Upset user that they need to pay for customization for a bug that in their opinion, makes our product unusable. 21893912-hc

[2020-07-03 09:19] treibalen commented on #250
I updated the initial comment with all reported tickets/chats and bumped this bug to Critical since this is a very common scenario and it's affecting a lot of merchants.

[2020-07-08 10:23] budzanowski commented on #235
Reopening as we are reverting #237 .

[2020-07-08 12:51] #250 closed

[2020-07-09 14:32] tommyshellberg commented on #144
Closing this issue because it's actually a core Bookings issue since Accommodation Bookings relies on the Bookings date picker. You could trigger the calendar to open again when clicking on one of the end/checkout date fields(day, month, year), however, the bigger problem IMO is the inability to _only_ change the end date when necessary, for instance, when the duration is invalid(too short or too

[2020-07-09 14:32] #144 closed

[2020-07-16 15:41] aheckler commented on #243
22668353-hc

[2020-07-20 11:29] treibalen commented on #235
@tommyshellberg I still can replicate this issue with the latest Accommodation Bookings but when:

- Accommodation product has at least two resources assigned
- A day is fully booked because it's a check out date for one booking and a check in for another.

Steps to replicate:

- Create Accommodation product with one room available
- Assign two resources
- Place two bookings, let's say, 23-25 July

[2020-07-23 09:51] Zaffy-S opened #257 "Check in date availability"
Let's say I make a reservation from 1st to 3rd of August.
That means arrival on 1st and depart on the 3rd.  2 nights stay, which means for the 1st and the 2nd the room is not available for booking.
The calendar shows as red (fully booked) only the 2nd of August.
The check-in date (1st) is still green and says partially booked which is not correct (you cannot book it anyway).
I think this is confus

[2020-07-23 19:14] spraveenitpro opened #258 "When editing Booking start date/end date, it is not checking if there is another booking that has blocked the newly entered start date/end date, This cause"
When editing Booking start date/end date, it is not checking if there is another booking that has blocked the newly entered start date/end date, This cause

#### Affected ticket(s)

 3168187-zen

#### What I expected

When editing Booking start date/end date, it errors out if there is another booking for the dates select.

#### What happened instead

 When editing Booking start date/end date, it i

[2020-07-23 21:22] senff opened #259 "When day is unavailable, can't click it in calendar but still enter it manually"
#### Affected ticket(s)

#3167887-zen

#### What I expected
When a day is set to unavailable, it should be able to select it in the calendar as the checkout day.

#### What happened instead
The day can **not** be selected in the calendar, since it's marked fully unavailable. It **can** still be entered in the form, though.

#### Steps to reproduce the issue
1. Set up a new Accomodation Product
2.

[2020-08-25 13:26] #238 closed

[2020-09-02 19:00] MCKLtech commented on #257
You can have a check-out on the same day as a check-in. Usually, you check out by midday and someone can arrive at 3 pm. This is why the 1st shows partially booked, someone can leave that day.

I agree, there should be an option for this behaviour, but it's actually right for the majority of use cases.

[2020-09-03 14:13] MCKLtech commented on #257
I'll give you another example.

**Client A** books from the 10th to the 17th.

**Client B** can book from the 3rd to the 10th, as they checkout on the morning of 10th and the Client A checks in during the afternoon of the 10th. Showing the 10th as available is correct as otherwise **Client B** would have to check out on the 9th and I would lose the night of the 9th/10th.

**Client C** can book fro

[2020-09-03 14:27] Zaffy-S commented on #257
**We are always talking about hotels that book per night and not per hour. ok?**

You make a reservation from 1st to 3rd.  You arrive on the 1st you leave on the 3rd.
That means you you will stay the nights of the 1st and 2nd and you will depart before noon on the 3rd.
That means that 1st and 2nd are not available for booking. But the 3rd is available because you leave before noon.
This is how hot

[2020-09-03 14:30] MCKLtech commented on #257
"the 3rd is available because you leave before noon."

Why is the 1st not available then?

The 1st is available as a **_checkout_** day. It should be selectable as the **_last day_** of someone's holiday. If you block the 1st, that means the guest prior must checkout on the 30th/31st. You're losing a night of business.

[2020-09-03 14:53] Zaffy-S commented on #257
I really cannot explain it otherwise...
You have booked a room from 1st to 3rd.
You arrive on the 1st, at noon. ok? you stay there for the  rest of the day and night.
How this room is available for another customer for the same day?

[2020-09-03 14:55] Zaffy-S commented on #257
ok I get what you mean, someone to select the 1st as his check out day.
Then maybe the whole booking thing should be about booking nights cause otherwise is just confusing.

[2020-09-03 15:01] MCKLtech commented on #257
It is confusing, we have this conversation with clients a lot so I completely understand.

I see we both talked about this here a while ago: https://github.com/woocommerce/woocommerce-accommodation-bookings/issues/201

I think a key difference is that my clients deal with apartments so each apartment has its own calendar.

[2020-09-03 15:03] MCKLtech commented on #201
Did 'the triangles' ever get put back in? We still have clients complaining about it.

For context, each calendar is unique to an apartment so the check in/checkout day with a triangle was really popular.

[2020-09-03 17:45] alancolyer commented on #201
Nope. I gave up hope myself. Having the option (atleast a classname we can style) in there would have prevented many issues reported by customers using the calendar and our unhappy clients.

So far we have used wc bookings with 3 clients, and we have 3 clients constantly querying if the availability is correct due to confusing presentation issues like this one, and cryptic error messages like "the

[2020-09-03 17:50] MCKLtech commented on #201
Totally agree Alan.

Can anyone find the code/style that was removed? Was it part of WC Accomodation or WC Bookings?

[2020-09-03 22:59] Zaffy-S commented on #257
We have deactivated the accommodation bookings plugin and we just use the bookings one, but we do point to guests that they book nights and they do not choose arrival and departure day. At least this way the availability looks correct in the calendar.

[2020-09-04 16:35] MCKLtech opened #262 "Memory Issue: wc_bookings_get_block_minutes_array"
#### Affected ticket(s)

N/A

#### What I expected

N/A

#### What happened instead

Memory Issue: wc_bookings_get_block_minutes_array

In the standard WC Bookings use case, adding increments of minutes to an array is acceptable as most bookings will be less than a few hours.

However, for accommodations, this can cause a PHP memory leak as bookings can be multiple days or even months.

[code]

Us

[2020-09-07 04:10] anant1811 commented on #258
Also reported in 3292250-zen

[2020-09-07 12:12] #252 closed

[2020-09-07 12:15] bor0 commented on #201
I am reopening this issue since there's a lot of movement going on. Removing the triangles was a design decision that we may need to re-think. There's a stale PR #230 attached to this issue.

[2020-09-08 08:13] waltermazzola commented on #258
Same issue here. Subscribed.
Is there any progress in this issue?

[2020-09-08 15:31] jessepearson commented on #258
This is by design and has been brought up a couple times before:
https://github.com/woocommerce/woocommerce-bookings/issues/1161
https://github.com/woocommerce/woocommerce-bookings/issues/1792

I went ahead and added it to the ideas board here:
https://ideas.woocommerce.com/forums/133476/suggestions/41340331

As mentioned in the idea added, the admin should be checking for availability before modi

[2020-09-09 10:47] bor0 commented on #200
Similar to #214

[2020-09-18 11:38] bor0 commented on #200
This contradicts #5 #35 but since we have a couple of tickets related to it I guess we do need virtual after all.

[2020-09-18 11:54] bor0 commented on #232
This shouldn't be an issue. I believe it was fixed some time ago and I also cannot reproduce it.

[2020-09-18 11:54] #232 closed

[2020-09-18 14:25] #222 closed

[2020-09-18 14:30] #200 closed

[2020-09-21 14:20] #214 closed

[2020-09-22 11:22] bor0 commented on #226
Duplicate of #212 which is already fixed.

[2020-09-22 11:22] #226 closed

[2020-09-22 11:30] bor0 commented on #182
This issue comes from Bookings, and Bookings has the same behaviour with automatically selected resources. With manual selection, things are more obvious. In any case, I am closing this 2 years old issue as it doesn't seem to be that big of a deal.

[2020-09-22 11:30] #182 closed

[2020-09-22 11:48] #211 closed

[2020-09-22 12:05] #207 closed

[2020-09-30 16:50] fylgjur opened #267 "New Bookable product converted to Accommodation product doesn't show check in or out form"
#### Affected ticket(s)

#3362119-zen and reproduced on my test site

#### What I expected/how to reproduce

- Create new product as 'bookable' and publish
- Change product to 'accommodation' type and update
- I expect to see the check in and out options on the product

#### What happened instead

I see no check in or out options in this Accommodation product: https://catevents.mystagingwebsite.co

[2020-10-13 19:43] strarsis opened #268 "build artifact includes node_modules"
The build artifact (plugin ZIP file) resulting from the `npm` build still contains unncessary and huge amounts of unnecessary files as `node_modules/`.

[2020-10-19 11:01] peterfabian opened #269 "PHP 8 compatibility"
We need to ensure the extension works fine with the release of PHP 8.

For more reference materials, please check out woocommerce/woocommerce#27674

**Related pull requests:**

- [ ] https://github.com/woocommerce/woocommerce-accommodation-bookings/pull/270 - Add a custom abs method to workaround an incompatibility of the buil-in function

Checked items are already merged.

[2020-11-17 20:11] zhollenbeak commented on #259
Original software issue customer asked for an update in 25707049-hc. I advised them I would update the issue with their inquiry.

[2020-12-03 02:10] ldr2273 commented on #227
Another case in 3538651-zen. Customer would like to know what to expect realistically in terms of when this might get looked at- otherwise, they want to start looking for other options. @bor0 - do you think this is something that will be addressed anytime soon? TIA.

[2021-01-15 11:27] anant1811 opened #271 "Admin calendar doesn't show the booking for the last day of the month (if the last day of the month is also the "last day of the week" and the booking spans across months)"
#### Affected ticket(s)

3651459-zen

Admin calendar doesn't show the booking for the last day of the month (if the last day of the month is also the "last day of the week" and the booking spans across months)

If a booking starts on the last day of month, and that day is also the last day of the week, and the bookings end in the next month, that booking is not visible in the monthly view of the m

[2021-01-28 14:41] kennydude opened #272 "Check in/out times do not display on a per-product basis"
Looking at the code WC_Accommodation_Booking_Product_Tabs seems to be very outdated

A bonus would be if we could change the capability through a filter or otherwise to see the global option? In my case, my client will get confused by being able to manage global WP options but I cannot change this without manual edits to the plugin.

#### Affected ticket(s)

N/A

#### What I expected

Check in/out

[2021-01-29 11:13] zdenys commented on #201
Another case in 27355337-hc.

[2021-02-05 17:47] guicmazeredo commented on #233
I had a chat with a customer today that found this possibility of showing the price and making a reservation having only the check-in date selected pretty odd. On top of the issue detailed by @anant1811 this is not an ideal behavior as it makes the customers think that the price for booking one or two days is the same. In fact, it should be as the extension makes reservations that span nights inst

[2021-03-23 05:19] cogno commented on #257
I've been thinking about this issue quite a bit because the functionality doesn't work for us our our guests either, and it's really fustrating because it's so close... but I get what everyone is saying about the challenge. I'm not a coder, so I don't know how practical the solution would be, but what if the datepicker calendar *only* showed days available to check-in until the check-in date was s

[2021-03-25 05:19] SirDarcanos commented on #29
More need for this in 27078799-hc

[2021-03-26 12:01] vedanshujain opened #274 "Ensure compatibility with jQuery3"
Make sure that the extension is compatible with jQuery3 migration scheduled for WP 5.8

[2021-03-30 07:35] drwpcom commented on #243
Another example of this in 26766111-hc to notify when bug fixed.

[2021-04-06 17:11] enricocurro commented on #201
CSS changes are not enough to customize the first day of each week, but... the fix is feasible in a very simple way:

+ 6 lines of code on frontend.js
+ 2 lines of code in class-wc-bookings-wc-ajax.php
+ 2 lines of code in class-wc-bookings-controller.php
(woocommerce-booking plugin files)

The whole DOES NOT touch all the other features of the plugins in the least, it only adds 2 arrays for the c

[2021-04-06 17:16] MCKLtech commented on #201
Looks good @enricocurro That's actually what it used look like before the changes.

As for the cost, Accommodations is free and is only an add on to the Booking Plugin (Which is paid). At this point though, it should be rolled into the main plugin and get proper support.

[2021-04-06 17:22] enricocurro commented on #201
Yes, exactly: Accommodations is useless without the paid plugin and the changes I have indicated must necessarily be made in the main plugin, not in the Accommodations extension.

The calendar, on the javascript side, is controlled entirely and exclusively by the script `./woocommerce-booking/dist/frontend.js` so the problem arises for the Accommodation part, but it originates from the code of the

[2021-04-06 17:56] NickKellett commented on #201
I've been reluctant to provide much criticism on this bug since it's open source and technically "free". But just to provide some feedback to Automattic in case it helps with your decision-making: this free add-on made it possible for me to provide a customized campground reservation system that utilized numerous other paid Woocommerce plugins (beyond just Bookings). It was a great solution while

[2021-04-19 17:14] fylgjur commented on #227
I have another case in 25702511-hc / 3920854-zen where I can't create the configuration needed for the customer due to this bug. It seems that it's impossible to create a weekend package of two nights, starting on a Friday and ending on a Sunday, which seems like a fairly important problem as it is not a very obscure use case.

[2021-04-19 18:05] fylgjur commented on #233
3920854-zen is affected (where we have a weekend package scenario)

[2021-04-27 09:28] #274 closed, assigned to roykho

[2021-04-30 06:33] solstudioim opened #278 "When Adding an Accommodation Booking Product to Wishlist, Unable Adding It To Cart"
#### Affected ticket(s)

ZD-3947108

#### What I expected

When customers adding Accommodation Booking product to Wishlist, and then add it to the cart, it should proceed just fine, with no error stopping the process.

#### What happened instead

After adding to Wishlist, then trying to add the product from Wishlist to cart, an error is shown saying `Duration is required - please enter a duration

[2021-05-08 19:14] kg69design commented on #201
Booking's start/end css-classes will be helpfull in this situations to make proper calendar-view.

[2021-06-07 05:16] IRIElogic opened #281 "DatePicker: Ability to restrict weekend booking to both days (cannot book Fri or Sat standalone)"
This is not a bug, more of a question on how to achieve the title.

The accommodation booking plugin is working very well except for this small requirement to make it perfect for us. I am happy to code something in to achieve this just not sure where and I would like it if possible to be persistent though version upgrades of the accommodation booking plugin.

The requirement is to be able to set a

[2021-07-28 23:48] EricaKuschel commented on #227
3595712-zen is currently dealing with this. Pinging here so that we can make sure to update the customer when this goes live.

[2021-10-19 21:44] selectedselections commented on #201
Reported in 4380508-zen

[2021-10-20 08:17] pxwm commented on #201
Hi enricocurro

We are experience the same issue and having contacted support we are no further forward with a solution.
I like the idea of your temporary fix and wanted to check if it would be possible if you could post your code so we can consider using. Our other option was to check the original code that I think was in v1.1.3 and see if we can write our own front end solution.

Regards
SteveB

[2021-11-17 19:08] enricocurro commented on #201
Here I am.. sorry man I was busy with a project

**./dist/frontend.js**
(somewhere)

        ......this.customData.resources_assignment && (n.class = ["partial_booked"]); }

        // this part already exist, I cloned it for start and end dates below
        this.bookingsData.partially_booked_days &&
            this.bookingsData.partially_booked_days[l] &&
            ("automatic" === this.custo

[2021-11-17 19:27] enricocurro commented on #201
Ah, obviously at that point the only css needed is this:

    // style for all partial booked days (start and end dates)
    .wc-bookings-date-picker .ui-datepicker td.partial_booked a.ui-state-default:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0 !important;
        right: 0;
        top: 0 !important;
        z-index: -10;
        background-image: u

[2021-11-19 10:18] peterfabian opened #284 "Update npm packages"
There are several old packages, so we should run update to get them updated and test if everything works as expected.

[2021-11-23 15:43] pxwm commented on #201
Hi enricocurro

Many thanks - much appreciated

Regards
SteveB

[2022-02-07 11:12] solstudioim opened #285 "Booked accommodation between available check-in and check-out days can be booked more than once"
#### Affected ticket(s)

4751336-zen

#### What I expected

When an accommodation product is configured to have one room for booking, and a resource tied to it with quantity 1, booked accommodation days can't be overridden, or double booking through the previously booked days shouldn't be possible.

#### What happened instead

In this case, the booked accommodation days were 30 June 2022, 2 PM to

[2022-02-14 03:22] nicdwilson commented on #285
4772009-zen

[2022-02-14 14:19] shaneonabike commented on #285
This is also happening to a client I have. There are no resources in our case, but it occurs in the following scenario. Interestingly enough,

**Previous bookings**
+ 18 July 2022 13:00 - 22 July 2022 10:00
+ 19 July 2022 13:00 - 23 July 2022 10:00

**Product details**
+ Two rooms available, and booking must be at least 2 days

**Test scenario**
+ Attempt to book from 19-21, which is clearly block

[2022-02-14 14:26] shaneonabike commented on #285
And here is the settings for one product that is having this issue.

![Selection_001](https://user-images.githubusercontent.com/1126026/153882314-1b867e9c-20bb-4ed3-9c94-d9b0b4a24ceb.png)
![Selection_002](https://user-images.githubusercontent.com/1126026/153882332-d9091472-4faf-4fbd-9b6d-71cb999bf008.png)
![Selection_003](https://user-images.githubusercontent.com/1126026/153882368-8565d123-be5c-45

[2022-02-16 18:14] shaneonabike commented on #285
Hey @jeffpaul

I realize you set this to status High, but I feel that's kind of urgent to get fixed. It is allowing bookings on a few of my client sites that should be blocked at this point. Then my clients are having to refund the people and tell them that those dates aren't available.

I think I narrowed down the issue, but I really think a developer of this project should just take a quick look

[2022-02-16 18:40] senitak commented on #285
Thank you for this. Every day we are down  we are losing bookings!

On Wed, Feb 16, 2022, 1:14 PM shaneonabike ***@***.***> wrote:

[2022-02-18 12:38] JurisBALANDIS commented on #285
Hello, we had the same problems :(

**Our working solution:**
Downgrade WooCommerce Bookings from version 1.15.52 (2022-02-08) to version 1.15.49 (2021-11-30)
with
WooCommerce Accommodation Bookings 1.1.26 (2021-11-30)
All works!

[2022-02-18 12:41] shaneonabike commented on #285
Wow thanks for the tip @JurisBALANDIS ! Did you simply drop the old one in and remove the new plugin? There weren't any changes to teh db that might have caused problems?

I think I will try this as well. I'm sure that this problem lies more in Woocommerce Bookings from my troubleshooting

[2022-02-18 12:55] JurisBALANDIS commented on #285
Yes  @shaneonabike, just upload/downgrade WooCommerce Bookings plugin to 1.15.49.
We already noticed the first strangeness in version 1.15.50.

Let's hope to fix the bug in one of the next versions of WCB :P

[2022-02-18 14:01] shaneonabike commented on #285
Hi there,

I just wrote Woocommerce support to request the previous version of Woocommerce Bookings. They ended up providing me the previous version, and a new beta (no clue why they didn't contact us when we originally reported the issue to test it). It's actually working with the new beta!

I wrote them to see if this is good enough for prime time.

[2022-02-24 09:25] faisal-alvi commented on #285
Hi everyone, I have investigated and confirmed that all issues mentioned in this ticket are fixed by Booking PR [#3266](https://github.com/woocommerce/woocommerce-bookings/pull/3266). It is ready for a UAT session and soon will be merged and released! 🎊

[2022-02-24 13:24] thuautp opened #289 "Calendar not displayed when an unavailable date range is selected"
#### Affected ticket(s)

4772009-zen

#### What I expected

When an unavailable range of dates is selected, the calendar disappears when it should still show for the user to select the dates again. I did a test on my site and could confirm this. Here's a screencast of my test on their site:

![https://d.pr/i/PBuHrI](https://d.pr/i/PBuHrI+)
Full Image [here](https://d.pr/i/PBuHrI+)

The user is poi

[2022-02-25 07:33] kaushikasomaiya opened #290 "Fatal error with PHP 8.0.xx when Base Cost/Block Cost is empty while adding a resource in Accommodation Product"
#### Affected ticket(s)

4806348-zen

#### What I expected

The product should be published or updated.

#### What happened instead

but it throws a fatal error: https://d.pr/i/ZADeQd

#### Steps to reproduce the issue

**Make sure the website is on PHP 8.0.xx before testing**

1) Try publishing a new Accommodation product with only WooCommerce, WC Bookings, and Accommodation Bookings plugins as a

[2022-03-01 16:11] ankitguptaindia commented on #290
+1
I am able to reproduce this on my `Latest` test environment.

[2022-03-01 17:00] ankitguptaindia commented on #285
**QA Update -**

Cross tested above reported issues with WooCommerce Booking's  'smoke-testing' branch which has fix related to https://github.com/woocommerce/woocommerce-bookings/pull/3266 Above scenarios are working expected.

**Summary-** Above scenarios will work fine after the next release of Booking extension.

Can test above scenario with this **Development Version** of Booking extension -

[2022-03-02 09:33] IliaDi commented on #285
34452986-hc

[2022-03-15 16:54] jetoeleid commented on #285
Hi everyone!

I would like to report a similar issue on a current site I'm building. It has to do with conference room rentals. Rooms can be rented for up to 12 hours on a single day, from 8 am to 8 pm.

When using the "customer defined blocks" feature, set to 1hr intervals, clients can make overlapping bookings for the rooms.

**Example case:**

1. I book a room for 16th of March for 10 hours, 10

[2022-03-15 20:30] jeffpaul commented on #285
@jetoeleid the fix for this is coming in the next Bookings release which should happen soon (and certainly before the end of the month)

[2022-03-16 14:37] vikrampm1 commented on #285
This will be resolved in Bookings 1.15.53

[2022-03-16 14:37] #285 closed, assigned to faisal-alvi

[2022-03-16 17:00] csmcneill commented on #285
4831440-zen

[2022-03-16 19:43] csmcneill commented on #201
I encountered another incident of this issue in 4831440-zen:

- [Accommodation Booking](https://github.com/woocommerce/woocommerce-accommodation-bookings/files/8270070/woocommerce-accommodation-bookings.1.1.26.zip)
- [Global Rules](https://github.com/woocommerce/woocommerce-accommodation-bookings/files/8270083/bookings-global-rules-2022-03-16.zip)

When booking on 17 June, it only blocks off 18 Ju

[2022-03-18 15:38] pxwm commented on #201
Hi csmcneill

I decided to disable the accommodation plugin and revert to using the Woocommerce Booking plugin on its own.
The main reason is that it then blocks out the whole day, so for your example it would block the 16th.

I based this process on that it appears the majority of hotels/accommodation tend to just use the full day as the booking and just add a note to indicate the check-in and ch

[2022-04-13 19:35] Sidsector9 commented on #267
Hi @fylgjur , I am new to this product so please pardon my ignorance.

Can you tell me what is the **Calendar display mode** option set to?

I am not sure if this is an intended behavior, but after investigating a bit, I found that the check-in/out fields are only visible if the **Calendar display mode** is set to **Display calendar on click**

<img width="814" alt="Screen Shot 2022-04-14 at 12 59

[2022-04-14 20:46] selectedselections commented on #290
4910670-zen

[2022-04-19 11:58] vikrampm1 opened #292 "Test against WordPress 6.0"
Once WordPress 6.0 is released, we'll want to test the Accommodation Bookings extension to see if any incompatibility issues arise.

**Begin testing once [RC1](https://make.wordpress.org/core/6-0/) is available on May 3rd, 2022**

- [ ] Test Accommodation Bookings extension on WordPress 6.0
- [ ] Open issues for any incompatibilities noted in testing
- [ ] Resolve issues identified in testing
- [

[2022-05-01 07:46] Sidsector9 commented on #269
Just to ensure the plugin is stable on PHP 7.4 and above, I've performed the following tests in PHP 7.4 and 8.0 environments:

- No issues reported by PHPCompatibility (PHP 7.4 and above) on plugin and tests files.
- PHPUnit tests run without errors on PHP 7.4 and PHP 8.0.
- Some minor warnings by PHPCompatibility tests inside the `vendor/` folder. Nothing fatal.
- No reports in debug.log

cc: @je

[2022-05-01 07:48] Sidsector9 commented on #269
I've performed the following tests in a PHP 8.0 environment:

- No issues reported by PHPCompatibility (PHP 7.4 and above) on plugin and tests files.
- PHPUnit tests run without errors on PHP 7.4 and PHP 8.0.
- Some minor warnings by PHPCompatibility tests inside the `vendor/` folder. Nothing fatal.
- No reports in debug.log

cc: @jeffpaul

[2022-05-01 07:48] Sidsector9 commented on #269
I've performed the following tests in a PHP 8.0 environment:

- No issues reported by PHPCompatibility (PHP 7.4 and above) on plugin and tests files.
- PHPUnit tests run without errors on PHP 7.4 and PHP 8.0.
- Some minor warnings by PHPCompatibility inside the `vendor/` folder. Nothing fatal.
- No reports in debug.log

cc: @jeffpaul

[2022-05-02 19:05] #269 closed, assigned to Sidsector9

[2022-05-03 20:23] jeffpaul commented on #241
@c-shultz I see you're assigned to this, are you planning to take action on a PR or should we un-assign this issue?

[2022-05-04 11:52] dougaitken commented on #241
I've unassigned him @jeffpaul - Chris was assigned by Job on the Issue creation.

[2022-05-11 18:54] jeffpaul commented on #31
Closing as plugin has appropriate banners/icons

[2022-05-11 18:54] #31 closed

[2022-05-13 13:52] vikrampm1 opened #294 "Add PHP Compat Testing GitHub Action"
Description:

Add PHP Compatibility testing through the PHPCompatibilityWP ruleset. This testing should run through Github Actions.

Note: full PHP 8.0 testing is not yet available in the PHPCompatibility ruleset (which the PHPCompatibilityWP uses). The 10.0 release of that is supposed to be coming in the next month or so and is supposed to have close to full 8.0 support.

[2022-05-16 18:38] laurendavissmith commented on #156
Closing for now, we'll revisit if we get more reports for it

[2022-05-16 18:38] #156 closed

[2022-05-25 09:54] xMarcoX commented on #201
Same issue here, we have 12h block to simulate half days and when you book 2 blocks (a full day) it will show as follows.
*buffer time is set to 0

![screen](https://user-images.githubusercontent.com/17478574/170235279-05073bf0-7920-4b1f-bc23-6c5219e39204.jpg)

[2022-05-27 14:49] ankitguptaindia commented on #290
**Update -**  Above issues have been fixed with connected PR. New customers' reports of this issue can be tested/verify with this **Dev version** of the Booking plugin.

[woocommerce-accommodation-bookings.zip](https://github.com/woocommerce/woocommerce-accommodation-bookings/files/8787431/woocommerce-accommodation-bookings.zip)

**_Please Note that this is the Dev version of the plugin file and O

[2022-05-30 07:09] pehaa commented on #201
One more report here 5254603-zd-woothemes
I tested on conflict-free site with Storefront, WooCommerce Bookings and WooCommerce Accommodation Bookings and could replicate the issue.

The product is a virtual accommodation product without resources.

One night booking is not correctly marked in the calendar on the product page.
For longer bookings first day is not correctly marked in the calendar.

[2022-06-01 21:23] #292 closed, assigned to faisal-alvi

[2022-06-06 19:00] #294 closed, assigned to faisal-alvi

[2022-06-08 15:17] #290 closed, assigned to faisal-alvi

[2022-06-17 09:46] sukafia commented on #201
@jeffpaul we're getting some heat on this issue. Would you be able to give us an ETA on this?

[2022-06-17 20:06] jeffpaul commented on #201
@sukafia this one has not been picked up by anyone on the team, but I'll bring it up in our team meeting next week and look to get this scheduled.

[2022-06-20 13:47] kaushikasomaiya opened #296 "PHP 8.0/8.1 Compatibility issue: Critical error when cost in range is empty if Standard room rate is empty as well"
#### Affected ticket(s)

5311290-zen

When we add a range under Rates tab for an Accommodation product - a critical error is triggered if the cost in range is empty and if the Standard room rate is not set.

![image](https://d.pr/i/Jwz8LZ+)

#### Steps to reproduce the issue

1. Install the latest versions of Bookings and Accommodation Bookings on a site with PHP 8/8.1
2. Add an Accommodation Book

[2022-07-06 11:24] faisal-alvi opened #298 "The day is green even if its fully booked!"
#### What I expected

The day should be turned red when fully booked.

#### What happened instead

The day kept green even when fully booked. Selecting it shows the error, "There are a maximum of 0 places remaining on XXXX-XX-XX"

_As seen in this image: the 28th should be turned red, but its not._
![acom-issue](https://user-images.githubusercontent.com/25176325/177539310-da506554-ae6b-43d3-9882-e

[2022-07-06 16:41] jeffpaul commented on #201
@sukafia note that we had a design/approach discussion on this today and believe to have an approach that should cover all cases, a PR will get up and then go through the review/testing cycles at which point I'll have a better sense of timing for this getting into a potential release.

[2022-07-07 14:04] #284 closed, assigned to dkotter

[2022-07-08 11:51] vikrampm1 opened #301 "Bump WP, Woo, & PHP Minimums"
Bump WP, Woo & PHP Minimums to the following

- [x] WordPress to **5.6**
- [x] WooCommerce  to **6.0**
- [x] PHP to **7.0**
- [x] Scan for any conditional checks that may be in the code that can be removed with these minimum bumps

-------------------

[2022-07-11 15:46] thelogicwizards commented on #201
Thanks for the update, @jeffpaul - we look forward to any future updates you can share on our ETA!

[2022-08-01 18:28] laurendavissmith commented on #157
After chatting with @dkotter I'm going to close this as `wont fix` for now as that block of code really needs to be refactored before we start addressing the specifics of the wording and potentially causing more confusion

[2022-08-01 18:28] #157 closed

[2022-08-06 23:49] Brianmitchtay commented on #296
Seeing this come up again in 5456421-zen. Advising them to revert PHP versions til a fix is released. This worked for them.

[2022-08-10 14:24] #268 closed, assigned to dhanendran

[2022-08-17 12:56] vikrampm1 opened #306 "Test against Custom Order Table implementation"
Describe the request
Please review the [Custom Order Table testing guide](https://developer.woocommerce.com/2022/05/16/call-for-early-testing-custom-order-table-migrations/), [upgrade guide](https://github.com/woocommerce/woocommerce/wiki/COT-Upgrade-Recipe-Book), and utilize the [latest testing ZIP](https://github.com/woocommerce/woocommerce/releases/tag/feature-custom-order-table)) to see how th

[2022-08-18 14:11] faisal-alvi commented on #306
The [upgrade guide](https://github.com/woocommerce/woocommerce/wiki/COT-Upgrade-Recipe-Book) is followed and the plugin is tested. No issues were found related to the orders in this plugin.
Other COT-related issues (found while testing this plugin) are reported in https://github.com/woocommerce/woocommerce-bookings/issues/3392.

[2022-08-22 21:12] jeffpaul commented on #267
Closing this due to no response, but please re-open if we've misunderstood things or if additional information can be provided, thanks!

[2022-08-22 21:13] #267 closed, assigned to Sidsector9

[2022-08-24 09:50] faisal-alvi commented on #306
✅ This is re-tested and everything working fine when COT is enabled. A few issues seen here are already [reported](https://github.com/woocommerce/woocommerce-bookings/issues/3392) in the Bookings plugin.
cc: @dkotter @jeffpaul

[2022-08-25 18:53] jeffpaul commented on #306
@alefesouza FYI ^

[2022-08-26 17:40] jeffpaul commented on #306
@faisal-alvi to confirm, no issues specifically here in Bookings Availability, only issues inherited as this extends Bookings?

[2022-08-29 05:05] faisal-alvi commented on #306
@jeffpaul yes

[2022-08-29 17:57] jeffpaul commented on #306
@alefesouza for extensions that have no changes needed, is there any sort of messaging that should be included in the plugin readme, docs, changelog, or otherwise to note that the extension is compatible with Custom Order Tables?

[2022-08-30 12:41] jacoswan opened #308 "Fatal Error if Standard Room Rate is not present before a rate rule is added"
#### Affected ticket(s)

5518065-zd-woothemes

#### What I expected

Either to be abe able to add a **Range type** for my rates without filling in the **Standard room rate** field, or to be somehow warned if I can't do it like that.

#### What happened instead

The Rates > Cost block shows a critical error occurred, and the Availability Tab goes blank.

It looks a temporary fix for this bug is to

[2022-08-31 14:53] alefesouza commented on #306
@jeffpaul COT Team said we will need to declare feature compatibility, but it is still work in progress. https://github.com/woocommerce/woocommerce/issues/34419

[2022-09-12 18:53] jeffpaul commented on #306
I've labeled this as `blocked` for now while we await the Woo core API PR to get merged in https://github.com/woocommerce/woocommerce/issues/34419

[2022-09-22 14:27] thelogicwizards commented on #201
Hey, @dkotter - just checking in to ask about any updates on an ETA for our PR to be merged on this. Any insights are appreciated!

[2022-09-22 15:08] jeffpaul commented on #201
@thelogicwizards the related PRs are in QA, amongst many other fixes for Accommodation Bookings and ~2 dozen other extensions under our teams support.  Feel free to subscribe to updates on those PRs as the best way to see them progress across the several review/testing cycles before getting into a release.  If there's an urgent or important need to bump the priority here, then please share those d

[2022-09-26 20:22] jeffpaul commented on #306
Updating to note that the WC API is being tracked in https://github.com/woocommerce/woocommerce/pull/34727, keeping this as blocked until that is merged/ready for us to work from.

[2022-10-06 12:07] vikrampm1 opened #310 "Bump Node, NPM and Composer versions"
Bump Node, NPM and Composer versions to the following

- [x]   Node to 16.13.0
- [x]   NPM to 8.0.0
- [x]   Composer to v2

[2022-10-06 13:29] vikrampm1 opened #311 "Declaring compatibility with High-Performance Order Storage"
### Background

https://github.com/woocommerce/woocommerce/pull/34727

### Declaring extension (in)compatibility

https://github.com/woocommerce/woocommerce/wiki/High-Performance-Order-Storage-Upgrade-Recipe-Book#declaring-extension-incompatibility

Once you examined the extension's code, you can declare whether it's compatible with HPOS or not. We've prepared an API to make this easy. To declare

[2022-10-10 19:48] jeffpaul commented on #306
Closing in favor of #311 which will more formally declare support for COT/HPOS.

[2022-10-10 19:48] #306 closed, assigned to faisal-alvi

[2022-10-11 09:11] senitak commented on #285
Hello,
When?

On Wed, Mar 16, 2022, 10:37 AM Vikram ***@***.***> wrote:

[2022-10-11 13:56] jeffpaul commented on #285
@senitak WooCommerce Bookings 1.15.53 was released on March 17, 2022.

[2022-10-12 14:43] vikrampm1 commented on #311
Woo has updated the code snippets recommended for declaring (in)compatibility to fix problems reported by internal testers. The latest snippet can be found in [the upgrade guide](https://github.com/woocommerce/woocommerce/wiki/High-Performance-Order-Storage-Upgrade-Recipe-Book#declaring-extension-incompatibility).

[2022-10-20 21:53] maxlaf opened #314 "Check-in/out times are always displayed in the product data tabs"
#### Affected ticket(s)

5647172-zen

#### What I expected

If the check-in/out time isn't set under Bookings > Settings > Accommodation, it shouldn't be displayed in the product data tabs.

#### What happened instead

If the check-in/out time isn't set by the user, it defaults to 14:00.

#### Steps to reproduce the issue

1. Install Accommodation Bookings. Don't set the check-in/out times.
2. Cre

[2022-10-21 13:41] faisal-alvi commented on #314
@maxlaf seems like the reason is that there must be check-in and out times set. Otherwise, customers may get confused about when they should arrive and/or when they have to leave. I think this is why the plugin sets 2 PM as a default in/out time. Removing the Arrival/Departure tab would mean that we also need to tweak the code and have to assume and set another in/out time (maybe 12 AM?) because,

[2022-10-28 13:28] #296 closed, assigned to faisal-alvi

[2022-11-04 14:37] #28 closed

[2022-11-04 14:40] #301 closed, assigned to faisal-alvi

[2022-11-04 14:44] #311 closed, assigned to faisal-alvi

[2022-11-22 06:00] ravinderk commented on #218
@jobthomas I am not able to reproduce this issue. Can you confirm again or Am i missing something?

https://user-images.githubusercontent.com/1784821/203236561-6f85ebe7-b58d-4bf3-bd22-294e689c7f64.mov

[2022-11-22 14:10] #310 closed, assigned to Sidsector9

[2022-11-24 12:38] jobthomas commented on #218
Minimum 2 days:
![Screenshot 2022-11-24 at 14 32 41](https://user-images.githubusercontent.com/8783673/203785659-414ce72d-8713-4d9f-9abe-545e9e7690cd.jpeg)

Booking confirmed from 2 to 4 Dec:
![Screenshot 2022-11-24 at 14 34 13](https://user-images.githubusercontent.com/8783673/203785909-699cb584-532f-4e77-9f1b-7ecb4b8b63a9.png)

I would expect from now on that:

* I would not be able to select 2

[2022-11-26 23:00] rtpHarry opened #317 "Check in/out times per product (or just make it filterable)"
We have hit a big problem with the plugin related to check-ins, as some of the accommodation are different types (some glamping, some camping, some bricks & mortar, and all have different check-in / out times.

If you're making code changes in this area then the perfect thing would be to give us per-product check in/out times, but if thats too much coding then adding a filter on the check in out t

[2022-11-26 23:13] rtpHarry opened #318 "Booking meta reassigned to wrong product after booking edit, if order contains more than one booking/accom product"
I think this is an issue with the parent Woocommerce Bookings Plugin to be honest, but that repo seems to be private so there doesn't seem to be anywhere for developers to submit issues for it?

The issue is that if I make a booking with more than one booking / accommodation type:

<img width="1245" alt="image" src="https://user-images.githubusercontent.com/1038062/204112007-9242c83b-d35f-4936-89d

[2022-11-27 00:14] rtpHarry commented on #233
Seems like this has never been fixed? Clients site is experiencing this issue even to this day.